<ion-view cache-view="false" hide-nav-bar="true" id="login-bg">
	<ion-content padding="false">
		<div class="spacer" style="height: 45px;"></div>
		<img src="img/icon/logo.png" class="login_logo">

		<form name="loginForm" class="list" ng-submit="login()" novalidate style="margin: 1.5em 10% 0 10%">

			<div id="loginInputs">
				<div class="item login-input-item" style="display: flex">
					<img src="img/icon/icon-user.png" style="width: 15px;min-width:15px;height: 20px;margin-top: -2px;">
					<input type="radio" ng-model="loginModel.userType" ng-value="'t'"
						   style="padding-right: 0;flex: inherit;margin-left: 1em" required /> <span ng-click="loginModel.userType='t'" style="margin-left: 5px;"> 教师</span>
					<input type="radio" ng-model="loginModel.userType" ng-value="'f'"
						   style="padding-right: 0;flex: inherit;margin-left: 0.5em" required ng-style="{'margin-left':isWeiXin?'4em':'0.5em'}"/> <span ng-click="loginModel.userType='f'" style="margin-left: 5px;"> 家长</span>
					<input type="radio" ng-model="loginModel.userType" ng-value="'s'"
						   style="padding-right: 0;flex: inherit;margin-left: 0.5em" required ng-if="!isWeiXin" /> <span ng-click="loginModel.userType='s'" style="margin-left: 5px;" ng-if="!isWeiXin"> 学生</span>
				</div>
				<div class="spacer" style="height: 10px;"></div>
				<div class="item item-input login-input-item">
					<i class="icon input-icon-username placeholder-icon"></i>
					<input name="input_user" type="text" placeholder="请输入{{loginModel.userType=='s'?'':''}}用户名" class="login_input" autocomplete="off"
						   ng-model="loginModel.phone"
						   maxlength="18" required
						   ng-class="isIOS?'input_ios_placeholder':''" id="focusItem" phone-check="loginModel.userType==='s'">
					<img ng-if="loginModel.phone.length>0" src="img/icon/close.png" ng-click="loginModel.phone=''" style="width: 16px;height: 16px;margin-right: 10px;min-width: 16px;"/>
				</div>
				<button class="button login-input-item" style="width: 100%;" ng-if="loginModel.userType==='s'&&children.length>0" type="button" ng-click="showSelectBox()">{{selectLabel}}
					<img class="people-select-triangle-open" src="img/icon/triangle_down.png" style="float: right;margin-top: 18px;">
				</button>
				<div class="spacer" style="height: 10px;"></div>
				<div class="item item-input login-input-item">
					<i class="icon input-icon-password placeholder-icon"></i>
					<input name="input_pwd" type="password" placeholder="请输入密码" class="login_input"
						   ng-model="loginModel.password"
						   maxlength="20" required ng-pattern="/^[a-zA-Z0-9]+$/"
						   ng-class="isIOS?'input_ios_placeholder':''" password-toggle>
				</div>
			</div>

			<div class="spacer" style="height: 20px;"></div>
			<button id="login-button" class=" button button-block" type="submit">登录</button>
			<a  ng-click="regist()" class="button button-positive button-clear" style="float: left;color: #333" ng-if="!isWeiXin">注册</a>
			<a ui-sref="resetPwd" class="button button-positive button-clear" style="float: right;color: #333">忘记密码</a>
		</form>
	</ion-content>
</ion-view>
