<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <!-- <button class="button button-icon icon " ng-click="closeProtocolModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button> -->
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">用户隐私协议</h1>
    </ion-header-bar>
    <ion-content style="padding: 15px;">
        <div style="font-size: 15px;color:#333;">
            <div style="text-indent: 30px;">
                本软件尊重并保护所有使用服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，本软件会按照本隐私权政策的规定使用和披露您的个人信息。但本软件将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，本软件不会将这些信息对外披露或向第三方提供。本软件会不时更新本隐私权政策。您在同意本软件服务使用协议之时，即视为您已经同意本隐私权政策全部内容。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 1.适用范围</div>
            <div> &nbsp;&nbsp;&nbsp;a)在您使用本软件网络服务，本软件自动接收并记录的您的手机上的信息，包括但不限于您的设备系统、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;">2.信息的使用</div>
            <div>&nbsp;&nbsp;&nbsp;在您使用本软件相关服务时，本软件将会获得您以下信息：
            </div>
            <div>&nbsp;&nbsp;&nbsp;a)设备或应用信息，某些移动设备或应用包含唯一应用程序编号，例如您使用的移动设备、浏览器或您使用的用于接入本软件服务的其他程序所提供的配置信息、设备版本号、设备识别码、IP地址等。
            </div>
            <div>&nbsp;&nbsp;&nbsp;b)位置信息，在获得您同意后，我们会使用各种技术进行定位，对位置数据进行使用统计分析，以便改进并提供更好的服务和用户体验。您也可以关闭定位功能，停止告知本软件您的地理位置。
            </div>
            <div>&nbsp;&nbsp;&nbsp;c)在您使用本软件注册服务时，我们会搜集您的班级ID、学籍号、姓名和家长手机号等信息，帮助我们完善学生档案信息并进行用户身份认证，我们将对您的这些隐私会加以最大程度的保护。如果您不提供这些信息，我们将无法提供相关服务。
            </div>
            <div>&nbsp;&nbsp;&nbsp;d)相册访问和摄像权限，当您使用本软件发布信息服务时，我们需要获得您设备的相册访问和摄像权限，以便您上传图片或视频，如果您拒绝提供这些权限，将无法使用上传图片或视频服务。
            </div>
            <div>&nbsp;&nbsp;&nbsp;e)在获得您的数据之后，本软件会将其上传至服务器，主要用于教学应用中做数据分析及呈现，以便您能够更好地使用服务。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 3.信息披露</div>
            <div> &nbsp;&nbsp;&nbsp;a)本软件不会将您的信息披露给不受信任的第三方。</div>
            <div> &nbsp;&nbsp;&nbsp;b)根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</div>
            <div>&nbsp;&nbsp;&nbsp; c)如您出现违反中国有关法律、法规或者相关规则的情况，需要向第三方披露；</div>
            <!-- <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 4.信息存储和交换</div>
                <div>&nbsp;&nbsp;&nbsp;a)本软件收集的有关您的信息和资料将保存在本软件及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或本软件收集信息和资料所在地的境外并在境外被访问、存储和展示。</div>     -->
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 4.信息安全</div>
            <div>
                &nbsp;&nbsp;&nbsp;a)在使用本软件网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，请您立即联系我们的电话：<a ng-href="tel:400-100-8738">400-100-8738</a>，以便本软件采取相应措施。
            </div>
            <div style="margin-top:10px;font-size:16px;font-weight: 500;"> 5.信息注销</div>
            <div> &nbsp;&nbsp;&nbsp;a)如您确定不再使用本软件服务，想注销账户,请联系我们的电话：<a ng-href="tel:400-100-8738">400-100-8738</a>。
        </div>

        <div style="width: 100%;height: 40px;"></div>
    </ion-content>
</ion-modal-view>