<ion-modal-view class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="closeDetailView()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                 alt=""/>
        </button>
        <h1 class="title bar-follower-font">订单详情</h1>
    </ion-header-bar>
    <ion-content>

        <div class="order-detail-status" ng-class="detailItem.order.status==1?'order-success':'order-fail'">
            <img ng-src="{{getStatusIcon(detailItem.order.status)}}" style="height: 20px;margin-right: 6px;">
            <span>{{getStatusTxt(detailItem.order.status)}}</span>
        </div>
        <div class="spacer xView-grey" style="height: 10px;"></div>
        <div class="item item-divider no-border-radius main-item-title">
            <div style="width: 3px;height: 100%;background-color: #2bcab2;font-size: large"><span style="margin-left: 10px">商品详情</span>
            </div>
        </div>

        <div class="list">

            <a class="item item-thumbnail-left order-item no-border-radius">
                <img ng-src="{{detailItem.goodItemVoList[0].imgUrl}}" style="left: 0"   >
                <h2>{{detailItem.order.attach}}</h2>
                <p>¥ {{detailItem.goodItemVoList[0].price/100}} 元</p>
            </a>

            <div class="spacer xView-grey" style="height: 10px;"></div>

            <p style="background-color: #ffffff;padding: 10px;font-size: 14px;color: rgb(100,100,100)"
               compile="detailItem.goodItemVoList[0].goodDetail"></p>

            <div style="background-color: #ffffff;width: 100%;padding: 10px;color: rgb(100,100,100)">
                <p style="margin-bottom: 5px;">订单编号：{{detailItem.order.orderSerial}}</p>
                <p style="margin-bottom: 5px;">下单时间：{{detailItem.order.timeStart}}</p>
                <p style="margin-bottom: 5px;">订单总额：{{detailItem.order.amount/100}} 元</p>
                <p style="margin-bottom: 5px;" ng-if="detailItem.order.status==1">支付方式：{{getChannelName(detailItem.order.channel)}}</p>
            </div>

        </div>

    </ion-content>
</ion-modal-view>
