<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                 alt=""/>
        </button>
        <h1 class="title bar-follower-font">我的订单</h1>
    </ion-header-bar>
    <ion-content class="has-header xView-grey">
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="loadData(true)">
        </ion-refresher>

        <div ng-repeat="item in orders" style="margin-left: 10px;margin-right: 10px;margin-top: 15px;background: white;border-radius: 10px;padding-bottom: 10px;">
            <p style="padding: 8px 16px 0;">订单号：{{item.order.orderSerial}}<span style="float: right;font-size: small;margin-top: 5px;" ng-class="item.order.status==1?'order-success-text':'order-fail-text'">{{getStatusTxt(item.order.status)}}</span></p>
            <a class="item item-thumbnail-left order-item no-border-radius" ng-click="openDetail(item)" style="border-bottom: none;height: 120px;">
                <img ng-src="{{item.goodItemVoList[0].imgUrl}}" style="left: 0;top: 15px;max-height: 100px;"   >
                <h2>{{item.order.attach}}</h2>
                <p style="color: orange;font-size: large;font-weight: inherit">¥ {{item.goodItemVoList[0].price/100}} 元 <span style="font-size: small;color: #666;margin-left: 15px;">数量： {{item.goodItemVoList[0].number}} </span></p>
                <p style="color: #aaa;font-size: small;font-weight: inherit;padding: 10px 0;border-top: 1px solid #eee;">{{item.order.timeStart}} </p>
            </a>
        </div>

        <div class="spacer" style="height: 15px;width: 100%;"></div>

        <div ng-if="orders && orders.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无订单</p>
        </div>

        <ion-infinite-scroll
                spinner="spiral"
                ng-if="listHasMore"
                on-infinite="loadData()"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
