<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <h1 class="title bar-follower-font">支付结果</h1>
    </ion-header-bar>
    <ion-content style="padding: 15px;">

        <div style="display: block;padding: 5% 10%;text-align: center">
            <img ng-src="{{payRstImg}}" alt="" style="width: 70px;">
            <h3 style="color: #333">{{payRst}}</h3>
            <p style="color: #888">{{payRstDesc}}</p>
            <button class="button button-block" style="background-color: #2bcab2;color: #FFFFFF;margin-top: 25px;" ng-if="!needRepay" ng-click="openDetail()">查看详情</button>
            <button class="button button-block" style="background-color: #ffb736;color: #FFFFFF;margin-top: 25px;" ng-if="needRepay" ng-click="closeModal()">重新支付</button>
        </div>
    </ion-content>
</ion-modal-view>
