<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()">
            <img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
        </button>
        <h1 class="title bar-follower-font">平安校园</h1>
        <button class="button button-outline" style="color: white" ng-click="openModal()" ng-if="isHeadTeacher" id="focusItem">设置
        </button>
        <button class="button button-outline" style="color: white" ng-click="createOrder()" ng-if="isParent && needCardFee">交付押金
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="tabs-striped tabs-top" ng-if="isParent">
            <div class="tabs" style="position: inherit">
                <a class="tab-item" ng-class="activeIndex===0?'active':''" ng-click="switchTab(0)">
                    到离校通知
                </a>
                <a class="tab-item" ng-class="activeIndex===1?'active':''" ng-click="switchTab(1)">
                    安全预警<span class="badge badge-assertive" style="right: auto;padding: 0 6px;border-radius: 50%;top: 7px;"
                              ng-if="warningUnreadCount>0">{{warningUnreadCount}}</span>
                </a>
            </div>
        </div>
        <div ng-if="isParent" class="list card" ng-repeat="item in list">

            <div class="item" style="border-radius: 0;padding-left: 30px;" ng-if="activeIndex===0">
                <h2 style="white-space: normal">{{getMessage(item, false)}}，{{item.instatus===0?'到':'出'}}校时间是：{{item.arrTime.substr(11,5)}}</h2>
                <span>{{item.arrTime.substr(0,10)}}</span>
            </div>

            <div class="item" style="border-radius: 0;padding-left: 30px;" ng-if="activeIndex===1">
                <p style="white-space: normal;color: #555" ng-if="item.warntype===0">小跟班提醒您：截至今日{{item.timeStr.substr(11,5)}}还未收到{{getMessage(item, true)}}的到校打卡记录（可能原因：忘记带卡，卡没打上，学生未到校）</p>
                <p style="white-space: normal;color: #555" ng-if="item.warntype===1">小跟班提醒您：{{getMessage(item, true)}}上一次进校之后截至今日{{item.timeStr.substr(11,5)}}还未收到出校打卡记录（可能原因：忘记带卡，卡没打上，学生未出校）</p>
                <span style="color: gray">{{item.timeStr}}</span>
            </div>
        </div>

        <div ng-if="isHeadTeacher" class="list card" ng-repeat="item in list">

            <div class="item" style="border-radius: 0;padding-left: 30px;" ng-click="goDetail(item)">
                <h2 style="white-space: normal">{{item.pushDate}} {{item.pushType===0?'到':'离'}}校通知</h2>
                <span ng-if="item.pushType===0" style="white-space: normal">小跟班提醒您：截止今日{{item.pushTime}}，{{item.className}}学生有{{item.askLeaveNum}}人请假，{{item.attendNum}}人已到校，{{item.notAttendNum}}人未到校，请确认考勤是否有异常，点击查看详情</span>
                <span ng-if="item.pushType===1" style="white-space: normal">小跟班提醒您：截止今日{{item.pushTime}}，{{item.className}}学生有{{item.askLeaveNum}}人请假，{{item.leaveNum}}人已离校，{{item.notLeaveNum}}人未离校，请确认考勤是否有异常，点击查看详情</span>
            </div>
        </div>

        <div ng-if="list.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无记录</p>
        </div>

        <ion-infinite-scroll
                spinner="spiral"
                ng-if="listHasMore"
                on-infinite="loadPushList()"
                distance="10%">
        </ion-infinite-scroll>

        <div class="spacer" style="height: 30px;"></div>
    </ion-content>
</ion-view>
