<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">检测明细</h1>
    </ion-header-bar>
    <ion-content lazy-scroll>

        <div style="border-bottom: 1px solid #eee;padding: 10px;">
            <strong style="border-bottom: 3px solid #2bd188;font-size: 18px;padding: 10px;color:#282828;">{{name}}</strong>
        </div>
        
        <timeline id="assets_timeline" style="padding: 10px;">
            <timeline-event ng-repeat="event in events" side="right">
                <div style="margin-top: 30px;text-align: right;max-width: 85px;">
                    <div style="font-size: 15px;color:#888;">{{event.dateTime.substr(0,16)}}</div>
                </div>
                <timeline-badge class="{{event.badgeClass}}" id="assets_badge" style=" margin-top: 20px;font-size: large;"  ng-class="!event.status?'warning-bg':'normal-bg'">
                </timeline-badge>
                <timeline-panel style="margin-top: -80px;" id="assets_timeline_panel">
                    <img ng-if="event.faceUrl" src="img/icon/person.png"  alt="" style="border-radius: 40%;width: 80px;height: 80px;" image-lazy-src="{{event.faceUrl}}"    >
                    <img ng-if="!event.faceUrl" src="img/icon/person.png" alt="" style="border-radius: 40%;width: 80px;height: 80px;"     >
                    <div style="color:#454545;font-size: 18px;position: absolute;left: 115px;top: 30px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;width:130px;" >{{event.insertManType!='家长上报'?'学校机器检测':event.insertManType}}</div>
                    <div style="position: absolute;left: 115px;padding: 7px 12px;top: 60px;border-radius: 5px;font-size:16px;" ng-class="!event.status?'warning-style':'normal-style'"  >{{event.bodyTemperature}}°C</div>
                </timeline-panel>
            </timeline-event>
        </timeline>

        

    </ion-content>
</ion-view>