<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.id as item.className for item in classes" ng-change="loadData()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;padding: 10px 20px;">
            <p style="font-size: large;">今日情况</p>
            <div style="color:#666;margin-top:6px;font-size:15px;background-color: white;border-radius: 5px;padding: 15px 10px;">
                <p style="border-bottom: 1px solid #eee;padding-bottom: 15px;"> 
                    <span style="color: #2bcab2;">&#9635 </span>本班总人数<span style="color: #2bcab2;font-weight: 500;">{{summary.totalNum}}</span>人
                    <span style="color: #3b72cf;margin-left: 20px;">&#9635 </span>到校人数<span style="color: #3b72cf;font-weight: 500;">{{summary.attendanceNum}}</span>人
                </p>
                <svg xmlns="http://www.w3.org/200/svg" height="110" width="110" style="margin: 20px">
                    <circle cx="55" cy="55" r="50" fill="none" stroke="#33cd5f" stroke-width="7" stroke-linecap="round"/>
                    <circle class="circle-process" id="circle-process" cx="55" cy="55" r="50" fill="none" stroke="orange" stroke-width="7"/>
                </svg>
                <div style="display: inline-block;position: absolute;margin-top: 35px;margin-left: 5px;">
                    <p><div style="background: #33cd5f;border-radius: 10px;width: 18px;height: 8px;display: inline-block;margin-right: 10px;"> </div>体温正常人数：{{summary.normalNum}}</p>
                    <p><div style="background: orange;border-radius: 10px;width: 18px;height: 8px;display: inline-block;margin-right: 10px;"> </div>体温异常人数：{{summary.abnormalNum}}</p>
                </div>
                <div style="border-top: 1px solid #eee;padding-top: 15px;text-align: right;">
                    <button class="button" style="background: #2bcab2;color: #fff;border-radius: 35px;line-height: 35px;min-height: 35px;right: 0;" ng-click="goFunction('covidCheckList', selected.class_id)">
                        检测明细 <span style="background: white;color: #2bcab2;font-weight: bold;border-radius: 50%;display: inherit;height: 18px;width: 18px;line-height: 18px;position: relative; top: 1px;">&rarr;</span>
                    </button>
                </div>

                
            </div>
            <p style="font-size: large;margin-top: 10px;">体温异常告警名单</p>
            <div style="color:#666;margin-top:6px;font-size:15px;background-color: white;border-radius: 5px;padding: 15px 10px;">
                <div style="border-bottom: 1px solid #eee;padding-bottom: 15px;padding-left: 15px;overflow:auto"> 
                    <button class="button" ng-click="changeFilter('all')" id="btn-all"
					        ng-class="activeTab=='all'?'activated_btn_orange':''">全部
                    </button>
                    <button class="button" ng-click="changeFilter('pending')"
                            ng-class="activeTab=='pending'?'activated_btn_orange':''" >跟进中
                    </button>
                    <button class="button" ng-click="changeFilter('clear')" id="btn-clear"
                            ng-class="activeTab=='clear'?'activated_btn_orange':''">已解除告警
                    </button>
                </div>

                <a class="item item-thumbnail-left box-border" ng-repeat= "item in filtered = (warningList | filter: {status: selectedStatus}) " ng-click="goFunction('covidWarningDetail', item)" style="border:0;">
                    <img src="img/icon/person.png" alt="" style="border-radius: 40%;" ng-src="{{item.faceThumbUrl?item.faceThumbUrl:item.faceUrl}}"   >
                    <h2 style="margin-top: 3px;"> {{item.userName}}   <span style="background: #ffe4b5;padding: 5px 12px;color: #fd4b14;border-radius: 15px;margin-left:10px;line-height:30px;">{{item.bodyTemperature}}°C</span> </h2>
                    <div style="font-size: small;color: #666;margin-top: 7px;" > {{item.className}} </div>
                    <div style="text-align: right;position:absolute;top: 7px;right: 3px;font-size: 13px;color:#999;">
                        <div > {{item.reportDateTime.substr(0,10)}}</div>
                        <div>{{item.reportDateTime.substr(11,5)}} </div>
                    </div>
                </a>

                <div ng-if="filtered.length == 0" class="empty-list-tip" style="margin-top: 10%;">
                    <img src="img/empty_content.png">
                    <p>暂无数据</p>
                </div>
                
            </div>
        
    </ion-content>
</ion-view>