<img src="img/icon/close.png" style="float:right;position:absolute;top:-15px;right:-10px;width:28px;height:28px;"
    ng-click="cancelChoose()">
<div >
    <!-- <div style="color:#454545;font-size:17px;margin-left: 10px;;">状态：</div> -->
    <p style="padding: 0 12px;line-height: 50px;">状态：
        <button class="button btn-selector" ng-click="changeStatus('pending')"ng-class="activeTab=='pending'?'activated_btn_orange':''" >跟进中</button>
        <button class="button btn-selector" style="margin-left: 12px;" ng-click="changeStatus('clear')" id="btn-clear"ng-class="activeTab=='clear'?'activated_btn_orange':''">解除告警</button>
    </p>
    <textarea type="text" name="desc" id="desc" ng-blur="blur()" maxlength="200" placeholder="描述必填，限200字" ng-model="formData.desc" style="border: 1px solid #eee;margin: 15px auto;height: 80px;width: 92%;padding:7px;"></textarea>
    <div class="button" ng-click="submit()" style="min-height:40px;height:40px;line-height:40px;width:150px;margin:15px calc(50% - 75px);background:#2bcab2;color:white;"
    ng-disabled="formData.desc.length==0">提交</div>
</div>