<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">健康体检</h1>
        <button class="button button-outline" ng-click="openSelectModal()" style="color: white;max-width: 97px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" >测温上报</button>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;padding: 10px 20px;" lazy-scroll>
        
        <div ng-repeat="day in list" style="margin-top: 10px;">
            <p style="color: #333;"><img src="img/icon/icon-bookmark.png" style="height: 19px;margin-left: 1em;margin-right: .5em;vertical-align: middle;"> {{day.date}} </p>
            <div style="background: white;padding: 10px; border-radius: 10px;">
                <timeline id="covid_timeline">
                    <timeline-event ng-repeat="event in day.events" side="right" >
                        <div style="margin-top: 40px;text-align: right;max-width: 60px;">
                            <div style="font-size: 15px;color:#666;">{{event.time.substr(0,16)}}</div>
                        </div>
                        <timeline-badge class="{{event.badgeClass}}" id="covid_badge" style="margin-top: 20px;font-size: large;" ng-class="!event.status?'warning-bg':'normal-bg'">
                        </timeline-badge>
                        <timeline-panel style="margin-top: -70px;" id="covid_timeline_panel">
                            <img ng-if="event.faceUrl" src="img/icon/person.png" alt="" style="border-radius: 40%;width: 80px;height: 80px;min-height: 80px;" image-lazy-src="{{event.faceUrl}}"  ng-click="fullScreenView(event.faceUrl)"   >
                            <img ng-if="!event.faceUrl" src="img/icon/person.png" alt="" style="border-radius: 40%;width: 80px;height: 80px;min-height: 80px;"     >
                            <div style="color:#454545;font-size: 18px;position: absolute;left: 105px;top: 30px;">{{event.insertManType!='家长上报'?'学校机器检测':event.insertManType}}</div>
                            <span style="position: absolute;left: 105px;padding: 7px 12px;top: 60px;border-radius: 5px;" ng-class="!event.status?'warning-style':'normal-style'">{{event.bodyTemperature}}°C</span>
                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>
        </div>

        <div class="empty-list-tip" ng-if="list.length===0">
            <img src="img/empty_content.png" />
            <p style="margin-top:15px;font-size:17px;">暂无数据</p>
        </div>
    </ion-content>
</ion-view>