<img src="img/approval/close.png" style="float:right;position:absolute;top:-15px;right:-10px;width:28px;height:28px;"
    ng-click="cancelChoose()">
<div >
    <p style="padding: 0 15px;">体温（°C）
        <select class="class_select_in_input class_search" ng-model="selected.tempHead" required ng-options="item.key as item.value for item in tempHeads">
        </select>
        <strong style="font-size: xx-large;">.</strong>
        <select class="class_select_in_input class_search" ng-model="selected.tempTail" required ng-options="item.key as item.value for item in tempTails">
        </select>
    </p>
    <p style="padding:10px 15px;">请如实上报孩子检测体温，如超过37.3°C，请居家观察或到医院检查。</p>
    <div class="button" ng-click="submit()" style="min-height:40px;height:40px;line-height:40px;width:150px;margin:15px calc(50% - 75px);background:#2bcab2;color:white;">提交</div>
</div>