/* login page */

#login-bg {
    background: url(../img/bg_login.jpg) no-repeat;
    background-size:cover;
}

#loginInputs {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    padding: 30px;
}

.login_logo {
    height: 90px;
    display: block;
    margin: auto;
}

.login_input_frame {
    border:1px solid silver;
    border-radius:10px !important;
    height: 40px !important;
}

.login_input_label {
    display: table;
    padding: 7px 10px 7px 0;
    max-width: 200px;
    width: 20%;
    color: #2bcab2;
    font-size: 16px;
}

.login_input {
    color: #333 !important;
    font-size: 1em!important;
    padding-left: 1em!important;
    padding-right: 0.5em!important;
}

.login_input::-webkit-input-placeholder{
    color: #666;
    font-size: 16px;
    text-align: left;
}

.input_ios_placeholder {
    line-height: 22px !important;
    padding-top: 4px !important;
}

.login-input-item {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #7d7d7d;
    border-radius: 0;
    padding: 10px;
}

#login-button {
    height: 40px !important;
    min-height: 40px !important;
    color: #fff;
    border-radius:25px;
    background-color: #2ab05a;
}

.input-icon-username {
    background: url(../img/icon/icon-phone.png) no-repeat center center;
    background-size: cover;
    height: 20px;
    width: 15px;
    min-width: 15px !important;
}

.input-icon-password {
    background: url(../img/icon/icon-lock.png) no-repeat center center;
    background-size: cover;
    height: 20px;
    width: 15px;
    min-width: 15px !important;
}