body{
font-family: '微软雅黑' !important;
background-color:#f3f4f5 !important;
}
.list-title-set{
	font-size:17px !important;
	/* color:#222; */
   }
   .list-content-set{
	   font-size:16px;
	   color:#666;
   }
   .list-date-set{
	   font-size:small;
	   color:#999;
   }
::-webkit-scrollbar {
	width: 0;  /* remove scrollbar space */
	height: 0;
	background: transparent;  /* optional: just make scrollbar invisible */
}
.scroll-bar-indicator {
	display: none !important;
}
.scroll-bar {
	visibility: hidden !important;
}
input[type='radio'] {
	-webkit-appearance:none;
	width:14px !important;
	min-width: 14px;
	height:14px;
	border:1px solid #333;
	margin-top: 3px;
	border-radius:50%;
	outline:none;
	background-color: rgba(255,255,255,0.5);
	box-shadow:0 0 1px 0 #333 inset;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	margin: 2px auto;
	border-radius: 50%;
}
input[type='radio']:checked:before {
	background: #333;
}

.loading{
	/* padding: .5em !important;
	max-width: 80% !important;
	background-color: #999 !important; */
}

.header-icon {
	max-width: 25px; max-height:25px;  padding-top: 7px;
}

.btn-follower {
	background-color: #2bcab2;
	color: white;
}

.btn-follower:hover {
	color: white;
	text-decoration: none;
}

.tabs-striped .tab-item.activated, .tabs-striped .tab-item.active, .tabs-striped .tab-item.tab-item-active {
	border-color: #f8b551;
}

.xView-grey {
	background: rgb(243,245,244);
}
.xView-grey>div.introjs-helperLayer {
	border-radius: 50%;
}

/* header bar */

.bar-follower {
	top: 0 !important;
	background-color: #2bcab2;
}
.btn-enroll {
	border:1px solid #ccc;
	color: #fff!important;
}
.border-btn-add {
	border:1px solid #ddd;
	border-radius: 0 0 0 0;
}
.bar{
	background-image: none;
}
.no-border-radius{
	border-radius: 0 0 0 0 !important;
	border-left: 0;
	border-right: 0;
}

/*content*/
.bar-follower-font {
	color: #fff;
	font-size: 18px !important;
    left: 80px !important;
    right: 80px !important;
}

.center-in-parent {
    left: 50% !important;
    top: 50% !important;
    right: 0 !important;
    transform: translate(-50%, -50%);
}

.ion-ios-arrow-right{
	color: rgb(150,150,150);
	font-size: 16px !important;
}
.item{
	border-radius: 0px;
	font-size: 15px;
}
.out{
	color: #4e4d4d;
	background: #e2e5e4;
}

.child-card {
	height: 100px;
	min-height: 100px;
	color: #fff;
	border-radius: 10px;
	background-color: #2bcab2;
	position: relative;
	margin-top: 10px;
	background: -webkit-linear-gradient(left, #1ad974 , #2bca9f); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #1ad974 , #2bca9f); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #1ad974 , #2bca9f); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #1ad974 , #2bca9f); /* 标准的语法 */
}

.child-card h3 {
	color: #fff;
	position: absolute;
	top: 15px;
	left: 18px;
}

.child-card span {
	position: absolute;
	bottom: 20px;
	left: 18px;
	font-size: large
}

.child-card img {
	position: absolute;
	bottom: 35px;
	right: 18px;
	width: 22px;
}

#add-card-btn {
	width: 100%;
	height: 50px !important;
	min-height: 50px !important;
	color: #2bcab2 !important;
	border-radius: 10px;
	border: 1px dashed #2bcab2;
	background: transparent;
}



/*footer*/
.tabs-striped.tabs-stable .tabs{
	border-top: 1px  solid  #d5d5d5 !important;
	background: #fcfcfc;

}
.tabs-striped .tabs{
	border-top:1px  solid  #d5d5d5 !important;
}
.timeScroll .scroll{
	height:44px !important;
}
.tabs-striped.tabs-stable .tab-item.tab-item-active,
.tabs-striped.tabs-stable .tab-item.active,
.tabs-striped.tabs-stable .tab-item.activated{
	border-style: none !important;
	color: #2bcab2!important;
	margin-top: 0;
}

/* icon */
.icon-submit {
	max-width: 27px;
	max-height: 17px;
	background: url(../img/icon/icon-submit.png) no-repeat center top;
	padding: 0 20px 0 20px !important;
	margin-top: 3px ;
}

.icon-arrow-left {
	background: url(../img/icon/icon-arrow_left.png) no-repeat center top;
	padding: 0 20px 0 20px !important;
	margin-top: 3px ;
}

.icon-edit {
	background: url(../img/icon/icon-edit.png) no-repeat center top;
	padding: 0 10px 0 10px !important;
	margin-top: 3px ;
}

.icon-folder {
	background: url(../img/icon/icon-folder.png) no-repeat center top;
	padding: 0 20px 0 15px !important;
	margin-top: 3px ;
}


/* communication page buttons */
.tab-button {
	color: #fff;
	border-radius:10px;
	background: #2bcab2;
	min-width: 80px !important;
	border: 1px solid #fff;
	font-size: 15px!important;
}

.tab-button:hover{
	background: #ffffff;
	color:#2bcab2;
}
.tab-button.active, .tab-button.activated{
	background: #ffffff;
	color:#2bcab2;
}
.activated_btn_green{
	background: #ffffff;
	color:#2bcab2;
}

.box-border {
	border-radius: 0;
}
.box-border img{
	max-width: 60px !important;
	max-height: 60px !important;
}

.box-border p{
	color: #828282;
}


.date-label {
	margin-right: 5px;
	font-size: x-small;
	position: absolute;
	right: 5px;
	bottom: 7px;
	color: grey;
}

/*about*/
.address{
	background: none;
}
/*user*/
.popup-container .popup{
	border-radius: 7px;
}

/* profile */
.input { padding: 5px 20px 5px 5px; margin: 0; border: 1px solid #beceeb; border-radius:3px;}
.clear { display: none; position: absolute; margin: 6px 0 0 -28px; background: url(../img/icon/close.png);background-size: 16px 16px;width: 16px; height: 16px;}
.input::-ms-clear { display: none; }
.input:valid + .clear { display: inline; }

/*news_detail*/
.text-title{
	padding: 10px 15px;
	margin: 5px;
	text-align: left;
	font-size: 17px;
	position: relative;
	color:#333;
	/* font-weight: 500; */
}
.text-main{
	font-size: 16px;
	color: #666;
	/* text-indent: 34px; */
	line-height: 25px;
}
.short-text-main{
	font-size: 16px;
   color: #666;
   line-height: 25px;
   margin-top:7px;
}
.text-attach {
	padding-left: 5px;
	font-size:14px;
	color: #999;
}

.text-body {
	border-bottom: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	margin-bottom: 5px;
}
.text-body img {
	max-width: 100%;
}

/* auto */
.platform-ios .manual-ios-statusbar-padding {
	padding-top: 20px;
}
.manual-remove-top-padding {
	padding-top: 0px;
}
.manual-remove-top-padding .scroll {
	padding-top: 0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
	margin-left: -10px;
	margin-right: -10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}

/* float button style */
.float-button {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 3px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	background-color: #2bcab2 !important;
	color: white !important;
	border:none;

}

.float-text {
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	padding: 10px;
	position: fixed;
	bottom: 15px;
	right: 80px;
	z-index: 9999;
	background-color: #33cd5f;
	color: #ffffff;
}

.selectedItem {
	border: 2px solid #33cd5f;
	font-weight: bold;
}



.swiper-pagination-bullet {
	background: white;
}

.top-round-border {
	border-radius: 5px 5px 0 0;
}

.all-round-border {
	border-radius: 5px 5px 5px 5px;
}

.no-top-round-border {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.tabs-striped.tabs-stable .tab-item .badge {
	opacity: 1;
}

/* loading */
.loader-center {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.loader {
	font-size: 64px;
}

/**
main page
 */
.main-row {
	background-color: #ffffff;
	padding: 0 5px 15px 5px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.main-item-title {
	border-top: 0;
	background-color: #ffffff;
	padding: 10px 20px;
	/* font-size:17px; */
}

.main-item {
	margin-top: 15px;
	position: relative;
	text-align: center;
}

.main-item img {
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: block;
	margin: auto;
}

.main-item span {
 
}

/**
通知页面
 */
.notice-badge {
	position: absolute;
	right: 16px;
	padding: 3px 6px;
	min-height: 18px;
	min-width: 20px;
	font-size: 11px;
	border-radius: 50%;
	top: 0;
	line-height: inherit;
	text-align: center;
	height: 20px;
	line-height: 20px;
	padding: 0px 1px !important;



}

.notice-item {
	min-height: 75px;
	border: 0;
	margin: 5px 10px;
	overflow: auto;
}

.notice-item .item-content{
	min-height: 92px;
	/* padding-bottom: 85px; */
	padding-bottom: 83px;
}

.notice-item h2 {
	margin-top: -5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	height: 1.5em;
	line-height: 1em;
	font-weight: 400;
	border-bottom: rgb(245,246,245) 1px solid;
	vertical-align: middle;
}

.notice-item span {
	font-size: 12px;
	position: absolute;
	color: gray;
}

.notice-item p {
	font-size: 13px;
	position: absolute;
	top: 60px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	padding-right: 10px;
}
.noticeContent{
	font-size: 13px;
	position: absolute;
	top: 60px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
	padding-right: 10px;
}

.course-item {
	/*border-radius: 0;*/
	margin: 5px 10px;
	border: 0px;
	border-top: #2bcab2 2px solid;
}

.course-item h2 {
	margin-top: -5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	height: 1.6em;
	line-height: 1.2em;
	font-weight: 400;
	border-bottom: rgb(245,246,245) 1px solid;
}

.course-item p {
	font-size: 14px;
	color: grey;
}

.leave-item {
	border-radius: 0;
	margin: 5px 10px;
	border-radius: 5px;
	border: 0px!important;
}

.leave-item h2 {
	margin-top: -5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	height: 1.6em;
	line-height: 1.2em;
	font-weight: 400;
	border-bottom: rgb(245,246,245) 1px solid;
}

.leave-item p {
	margin-top: 4px;
}

.leave-item span {
	margin-top: 9px;
	font-size: 13px;
	float: right;
	color: grey;
}

.leave-item #read {
	margin-top: 4px;
	color: white;
	padding: 0 8px;
	background-color: rgb(126,194,106);
	min-height: 30px;
	line-height: 30px;
	font-size: 13px;
}

.leave-item #button {
	margin-top: 4px;
	color: white;
	padding: 0 40px;
	background-color: rgb(247,182,82);
	min-height: 30px;
	line-height: 30px;
	font-size: 15px;
}

.leave-item-read {
	border-top: rgb(221,221,221) 1px solid;
}

.leave-item-read #read {
	color: gray;
	background-color: lightgray;
}

#banxun {
	background-color: white;
	color: rgb(254,183,54);
	text-align: left;
	padding: 5px 20px;
	width: 100%;
	border-bottom: 10px solid rgb(243,244,245);
	margin-bottom: 1px;
	font-size: 15px;
	line-height: 21px;
}

.one-line {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.multi-lines {
	white-space: normal !important;
}

.button-no-padding {
	border-radius: 0;
	min-width: 40px;
	font-size: 14px;
	padding: 0 0 !important;
	background: inherit;
}

.function_bg {
	/* background-image: url('../img/bg_func.png'); */
	background-size: cover;
}
.courseClass{
	background-size: cover;
}

.no_border_top {
	border-top: 0 !important;
}
.no_border_bottom {
	border-bottom: 0 !important;
}

.type_select {
	color: #ffffff;
	padding-left: 3px;
	border: 0;
	background: transparent;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
}

.class_select {
	color: #ffffff;
	border: 0;
	font-size: 16px;
	background: transparent;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
}

.class_select_in_input {
	color: #000000;
	border: 0;
	font-size: 16px;
	background: transparent;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
}

.chat_group_bottom_line {
	border-bottom: 1px solid #dcdcdc !important;
	margin-bottom: 1px;
}

.button-goon {
	background: orange;
	color: white;
	width: 60%;
}

.chat-input::-webkit-input-placeholder {padding-top: 3px;}
.chat-input:-moz-placeholder { /* Firefox 18- */padding-top: 3px;}
.chat-input::-moz-placeholder {  /* Firefox 19+ */padding-top: 3px;}
.chat-input:-ms-input-placeholder {padding-top: 3px;}

.people-select-triangle-close {
	float: left;
	height: 10px;
	width: 7px;
	margin-right: 5px;
	margin-top: 4px;
}

.people-select-triangle-open {
	float: left;
	height: 7px;
	width: 10px;
	margin-right: 5px;
	margin-top: 4px;
}

.platform-android .popover.popover-bottom {
	margin-top: -10px;
}

.bar-button-hide{
	visibility: hidden;
	cursor: default;
}

.flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pointer_events_positive {
	color: #2bcab2 !important;
	font-size: 22px;
}

.pointer_events_none {
	pointer-events: none;
	color: #aaaaaa !important;
	font-size: 22px;
}

.order-item {
	height: 100px;
	border-bottom: 1px solid rgb(243,245,244);
}

.order-item img{
	margin-left: 15px;
	height: 90px;
	min-width: 120px;
	max-width: 120px;
}

.order-item h2{
	margin: 15px 20px 10px 65px;
	max-width: 200px;
}

.order-item p{
	margin: 0 20px 10px 65px;
	max-width: 200px;
	color: red;
	font-weight: bold;
	font-size: large;
}

.order-detail-status {
	display:flex;
	height: 50px;
	width: 100%;
	padding-top: 15px;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: medium;
}

.order-success {
	background: -webkit-linear-gradient(left, #46f297 , #1ceeb5);
	background: -o-linear-gradient(right, #46f297 , #1ceeb5);
	background: -moz-linear-gradient(right, #46f297 , #1ceeb5);
	background: linear-gradient(to right, #46f297 , #1ceeb5);
}

.order-fail {
	background: -webkit-linear-gradient(left, #fd8950 , #fe4552);
	background: -o-linear-gradient(right, #fd8950 , #fe4552);
	background: -moz-linear-gradient(right, #fd8950 , #fe4552);
	background: linear-gradient(to right, #fd8950 , #fe4552);
}

.order-success-text {
	color: #33cd5f;
}

.order-fail-text {
	color: orange;
}

.setting-icon {
	top: 16px !important;
	height: 20px !important;
	width: 20px !important;
}

.checkbox-icon {
	height: 20px;
	width: 20px;
}
.checkbox-square .checkbox-icon:after, .checkbox-square input:after, .platform-android .checkbox-platform .checkbox-icon:after, .platform-android .checkbox-platform input:after {
	width: 10px;
	top: 15%;
}
.checkbox-icon:after {
	width: 10px;
	top: 30%;
}
.checkbox {
	left: 15px !important;
	margin-top: -18px !important;
}

.empty-list-tip {
	margin-top: 30%;
	display: block;
	text-align: center;
}
.empty-list-tip img {
	vertical-align: middle;
	width: 40%;
}
.empty-list-tip p {
	color: #666;
}

.color-warning {
	background-color: #ff9f58;
}

.color-normal {
	background-color: #03ac92;
}

.card-title {
	width: 100%;
	height: 150px;
	border: 0;
	margin: 0;
	border-radius: 0;
	background: -webkit-linear-gradient(bottom, #05f69e , #2bcab2);
	background: -o-linear-gradient(top, #05f69e , #2bcab2);
	background: -moz-linear-gradient(bottom, #05f69e , #2bcab2);
	background: linear-gradient(to top, #05f69e , #2bcab2);
}

.pic-grid {
	overflow: hidden;
	height: 30vw;
	width: 30vw;
	max-width: 30vw;
	min-width: 30vw;
	padding: 2px;
}

.pic-grid img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/**/
#item-style{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
#item-text{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.btn-round-orange{
	font-size: small;
	line-height: normal;
	min-height: 30px;
	border-radius: 15px;
	color: #FFFFFF !important;
	margin: 8px 10px !important;
	background-color: #ff9f58;
	padding: 2px 15px;
}
.btn-type{
	font-size: small;
	line-height: normal;
	min-height: 30px;
	border-radius: 15px;
	border-color:#2bcab2!important;
	color: #2bcab2!important;
	margin: 8px 10px!important;
	background: none;
	padding: 2px 15px;
}
.btn-text_style{
	background:#2bcab2 ;
	color: #FFFFFF;
	font-size: small;
	line-height: normal;
	min-height: 30px;
	border-radius: 15px;
	margin: 8px 10px!important;
	padding: 2px 15px;
}
.btn-text_style:hover{
	color: #FFFFFF;
	background:#2bcab2 ;
}
.tab-btn:first-child{
	border-radius:16px 0 0 16px!important;
}

.tab-btn:last-child{
	border-radius:0 16px 16px 0!important;
}
#item-search{
	padding-bottom: 0px;
	border-radius: 24px;
	background: rgb(243,245,244);
}
#search-icon{
	color: #2bcab2;
}

.btn-type-positive{
	font-size: small;
	line-height: normal;
	min-height: 25px;
	border-radius: 15px;
	border-color:#0d73fe!important;
	color: #0d73fe!important;
	margin: 8px 10px!important;
	background: none;
	padding: 0 10px;
}
.btn-text_style-positive{
	background: #0d73fe;
	color: #FFFFFF;
	font-size: small;
	line-height: normal;
	min-height: 25px;
	border-radius: 15px;
	margin: 8px 10px!important;
	padding: 0 10px;
}

.fourth-modal {
	z-index: 11;
}
.third-modal {
	z-index: 10;
}
.second-modal {
	z-index: 9;
}
.first-modal {
	z-index: 8;
}

.label-input {
	width: 25%;
	min-width: 80px;
}
.class_search{
	background: #2bcab2;
	color: #fff;
	padding: 0.5em;
	border-radius: 5px;
	margin: 0.7em 0.5em 0em 0.7em;
}

.button-xgreen {
	height: 40px !important;
	min-height: 40px !important;
	color: #fff;
	border-radius:5px;
	background-color: #2ab05a;
}
.button-xlightgrey{
	height: 40px !important;
	min-height: 40px !important;
	color: #333;
	border-radius:5px;
	background-color: lightgrey;
}

#secondaryToolbarToggle {
	display: none;
}
#pageNumber {
	height: 23px;
	font-size: 17px;
}

.password-toggle {
	width: 100%;
	position: relative;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.password-toggle a {
	opacity: .7;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	font-size: 0;
	background-repeat: no-repeat;
	background-size: contain;
	top: 10px;
	right: 9px;
}
.password-toggle [type="text"] + a {
	background: url(../img/icon/icon-eye.png) no-repeat center center;
	background-size: cover;
}
.password-toggle [type="password"] + a {
	background: url(../img/icon/icon-eye-disabled.png) no-repeat center center;
	background-size: cover;
}

.icon-market {
	background: url(../img/icon/main_market.png) no-repeat center top;
	background-size:24px 24px;
	padding: 10px !important;
	top: 12px !important;
	right: 12px !important;
}

.market-item {
	border: 0;
	border-top: solid 3px #f8b551;
	min-height: 130px !important;
	margin-top: 15px;
}

.market-item img{
	top: 25px !important;
}

.market-item h2{
	margin-top: 15px;
	margin-left: 20px;
}

.market-item p{
	margin-left: 20px;
	margin-top: 5px;
	white-space: normal;
}

.market-item span{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px;
	border-bottom-left-radius: 10px;
	font-weight: bold;
}

.market-item .applied {
	color: #666;
	background-color: #ccc;
}

.market-item .apply {
	color: white;
	background-color: #f8b551;
}

.video-order {
	background-image: url(../img/others/video_order_bg.png);
	background-size: cover; 
	margin-top:13px;border-radius: 8px;padding-left: 130px !important;
}

.circle-process{
    transform-origin: 55px 55px;
    transform: rotate(-90deg);
    transition: stroke-dasharray .3s ease-in;
}

.btn-selector {
	background: #eeeeee;
	color: #666666;
    margin-bottom: 1px;
    min-height: 36px;
    line-height: 36px;
    min-width: 76px;
    position: relative;
	padding: 0 10px !important;
	margin-top:6px;

	/* margin-left:10px; */
}

.normal-bg {
	background: #2cd18a;
}

.warning-bg {
	background: #ff8a36;
}

.normal-color {
	color: #2cd18a;
}

.warning-color {
	color: #ff8a36;
}
.warning-style{
	background:#fee5b5 ;
	color:#fd7c4f;
	
}
.normal-style{
	background:#d5fcef ;
	color:#03bb6c;
}