.timeline-event {
    margin-bottom: 0px !important;
}

timeline-badge.read {
    background-color: #a5a5a5 !important;
}

timeline-panel.read {
    color: #a5a5a5 !important;
}

timeline-badge.tm-item {
    top: 19px !important;
    width: 11px !important;
    height: 11px !important;
    background-color: red;
    left: 41px !important;
}

timeline-badge.tm-title {
    background: url(../img/icon/icon-clock.png) no-repeat center center !important;
    background-size: cover !important;
    top: 15px !important;
    width: 22px !important;
    height: 22px !important;
    left: 36px !important;
}

.timeline:before {
    width: 1px !important;
    left: 47px !important;
    margin-top: 30px !important;
    background-color: #bbb !important;
}

timeline-badge {
    box-shadow: none !important;
}

timeline-panel {
    float: left !important;
    margin-left: 70px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #2bcab2 !important;
}

timeline-panel.tm-item {
    padding: 11px 0px 6px 0px !important;
}

div.tm-item {
    padding: 5px 15px;
    background-color: #f3f4f5;
    border-radius: .5em;
}

timeline-panel.tm-title {
    padding: 15px 0px 6px 0px;
    font-weight: bold;
}

timeline-panel:before {
    visibility: hidden !important;
}

timeline-panel:after {
    visibility: hidden !important;
    display: none !important;
}
.tm-title>button>img{
    display: none;
}

/** equipment repair */
timeline-panel>div{
    width: 100% !important;
    margin-top: -5px;
    padding-right:8px !important;
}
#repair_badge{
    top: 25px !important;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px!important;
    font-size: 1em !important;
    background-color: #FCFCFC !important;
    left: 52px !important;
    z-index: 100;
}
#repair_timeline .timeline:before {
    width: 1px !important;
    left: 65px !important;
    margin-top: 40px !important;
    background-color: white !important;
    border-left:1px dashed #ddd;
}
#repair_timeline_panel{
     width: calc(100% - 52px);
    float: left !important; 
    margin-left: 72px !important; 
    background: none !important;
    border: none !important;
    box-shadow: none !important; 
}

/**  资产申请 */
#assets_badge{
    top: 24px !important;
    width: 8px !important;
    height: 8px !important;
    line-height: 8px!important;
    border-radius: 4px !important;
    font-size: 1em !important;
    /* background-color: #2bcab2 !important; */
    left: 101px !important;
    z-index: 100;
}

#assets_timeline .timeline:before{
    width: 1px !important;
    left: 105px !important;
    margin-top: 32px !important;
    background-color: white !important;
    border-left:1px solid #ddd;  
}
#assets_timeline_panel{
    width: calc(100% - 92px);
   float: left !important; 
   margin-left: 112px !important; 
   background: none !important;
   border: none !important;
   box-shadow: none !important; 
}
#assets_timeline_panel >div{
    width: 100% !important;
    margin-top: 12px !important;
    padding-right:8px !important;
}

/*** 审批管理 时间轴 */
.approval-time-label{
    position: relative;
    float: left;
    background: white;
}
.approval-timeline-badge{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    left: 60px;
    float: left;
    margin-top: 16px;
}
.approval-timeline-content{

    background-color: white;
    min-height: 61px;
    padding: 10px;
    margin-left: 64px;
    width: calc(100% - 64px);
    border-left: 1px dashed #ddd;
    padding-left: 18px;
   padding-bottom: 15px;
}
.approval-timeline-content:before{
    border-left: 1px dashed #ddd;
}


/** 健康体检*/

#covid_badge{
    top: 24px !important;
    width: 8px !important;
    height: 8px !important;
    line-height: 8px!important;
    border-radius: 4px !important;
    font-size: 1em !important;
    /* background-color: #2bcab2 !important; */
    left: 76px !important;
    z-index: 100;
}
#covid_timeline .timeline:before{
    width: 1px !important;
    left: 80px !important;
    margin-top: 32px !important;
    background-color: white !important;
    border-left:1px solid #ddd;  
}
#covid_timeline_panel{
    width: calc(100% - 67px);
   float: left !important; 
   margin-left: 82px !important; 
   background: none !important;
   border: none !important;
   box-shadow: none !important; 
}
#covid_timeline_panel >div{
    width: 100% !important;
    margin-top: 12px !important;
    padding-right:8px !important;
}

