<ion-modal-view class="image-modal">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeImageModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">查看图片</h1>
		<button class="button button-clear" ng-click="saveImg2Gallery(image)" style="color: white;font-size: small;font-weight: normal" ng-if="config.allowSave">保存图片</button>
	</ion-header-bar>
	<ion-content scroll="false">

		<ion-scroll zooming="true" direction="xy" delegate-handle="Handle" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false"
					on-swipe-right="onSwipeRight()" on-swipe-left="onSwipeLeft()" on-release="onRelease()">
			<img ng-src="{{image}}"    imageonload >
		</ion-scroll>

	</ion-content>
</ion-modal-view>
