<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">推荐阅读</h1>
    </ion-header-bar>

    <ion-content>
            <ion-refresher pulling-text="下拉刷新..." on-refresh="loadData()"></ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left"  ng-repeat="article in articleList"  ng-click="goToArticleDetail(article.code,article.id)">
                <img src="img/banner_main.png" ng-src="{{article.coverUrl}}" style="width: 120px;max-height:65px;max-width: 120px !important;" />
                <h2 style="margin-left: 50px;">{{::article.title}}</h2>
                <p style="margin-top: 7px;margin-left: 50px;">{{::article.summary}}</p>
                <p style="margin-top: 7px;margin-left: 50px;"> {{::article.publicTime}}</p>
            </a>

        </div>

       
        <div class="empty-list-tip" style="margin-top: 40%" ng-if="articleList.length==0">
            <img src="img/empty_content.png">
            <p>暂无内容</p>
        </div>

        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%" ></ion-infinite-scroll>
        <div class="load_no_more" ng-show="!isMoreData&&articleList.length>9">没有更多了</div>

    </ion-content>
</ion-view>