<form name="approvalForm" novalidate>
    <div>
        <div style="color:#666;font-size:1em;float: left;margin-top:3px;">审批结果:</div>
        <div class="approvalAlertBtn" style="font-size:0.93em;" ng-style="{'background-color':select.result==1?'#2bc2b2':'lightgray','color':select.result==1?'white':'#666'}"
            ng-click="agreeOrRefuse(1)">同意</div>
        <div class="approvalAlertBtn" ng-style="{'background-color':select.result==3?'#2bc2b2':'lightgray','color':select.result==3?'white':'#666'}"
            style="margin-left:20px;font-size:0.93em;" ng-click="agreeOrRefuse(3)">拒绝</div>
    </div>

    <div>
        <div style="color:#666;font-size:1em;float: left;margin-top:24px;float: left;">审批意见:</div>
        <div style="height: 88px;width:180px;float: left;margin-left: 10px;margin-top: 20px;border:1px solid #ddd;border-radius: 5px;padding:5px;">
            <textarea style="width:100%;height: 80px;padding: 2px;font-size:0.93em;color:#666;"
                placeholder="审批意见，必填" maxlength="50" required ng-model="select.suggest">
      </textarea>
        </div>
    </div>
</form>


<div style="margin-top:18px;margin-bottom: 10px;float: left;">
    <div class="button button-balanced" style="width:78px;height: 36px;min-height: 40px;line-height: 40px;background: lightgray;margin-left: 38px;color: #666;"
        ng-click="cancleOrCommitApproval(0)">取消</div>
    <div class="button button-balanced" style="width:78px;height: 36px;min-height: 40px;line-height: 40px;background: orange;margin-left: 30px;"
        ng-click="cancleOrCommitApproval(1)" ng-disabled="approvalForm.$invalid">确定</div>
</div>
