<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">审批详情</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item class="item detail-item" style="border:none;white-space: normal;padding-bottom: 1px !important;">
                <h2 style="padding:2px 0px;font-weight:500 !important;" class="text-title">{{select.detail.title}}</h2>
                <div style="color:#999;font-size: 14px;">
                    {{select.detail.submitTime.substr(0,16)}} &nbsp;&nbsp;{{select.detail.submitter}}
                </div>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 7px;"></div>
            </ion-item>
          
            <!-- <div style="width: 100%;background-color: #F3F4F6;height: 15px;" ></div> -->
            <div ng-repeat = "item in controls | orderBy :'index'">
                <ion-item ng-if="item.type==1" class="item detail-item " ng-style="{'border-bottom':item.index==controls.length?'none':'none'}" style="border:none; white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <div style="color:#999;">{{item.name}}</div>
                    <div style="color:#333;margin-top:7px;">{{item.text?item.text:'未编辑'}}</div>
                </ion-item>
                <ion-item ng-if="item.type==2" class="item detail-item " ng-style="{'border-bottom':item.index==controls.length?'none':'none'}" style="border:none; white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <div style="color:#999;">{{item.name}}</div>
                    <div style="color:#333;margin-top:7px;">{{item.fulltext?item.fulltext:'未编辑'}}</div>
                </ion-item>
                <ion-item ng-if="item.type==3" ng-style="{'border-bottom':item.index==controls.length?'none':'none'}"  class="item detail-item" style="border:none;white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <span style="color:#999">{{item.name}}</span>
                    <div style="color:#333;" item-end>{{item.date?item.date.substr(0,16):'未编辑'}}</div>
                </ion-item>
                <ion-item ng-if="item.type==4" ng-style="{'border-bottom':item.index==controls.length?'none':'none'}" class="item detail-item" style="border:none;white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px 0px 16px !important;min-height:45px;">
                    <div style="color: #999;">{{item.name}}</div>
                    <ion-item class="item detail-item" style="border:none;white-space: normal;font-size:15px;color:#333;border-bottom:1px solid #ddd;margin:0px !important;padding: 0px 0px 0px 15px!important;height:40px;line-height:40px;">
                        <span style="color:#999;">开始时间</span>
                        <div style="color:#333;" item-end>{{item.startDate?item.startDate.substr(0,16):'未编辑'}}</div>
                    </ion-item>
                    <ion-item class="item detail-item" style="border:none;white-space: normal;font-size:15px;color:#333;margin:0px !important;padding: 0px 0px 0px 15px !important;height:40px;line-height:40px;">
                        <span style="color:#999;">结束时间</span>
                        <div style="color:#333;" item-end>{{item.endDate?item.endDate.substr(0,16):'未编辑'}}</div>
                    </ion-item>
                </ion-item>

                <ion-item ng-if="item.type==5" ng-style="{'border-bottom':item.index==controls.length?'none':'none'}" class="item detail-item" style="border:none;white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <div style="color:#999;">{{item.name}}</div>
                    <div style="color:#333;padding:7px 15px 0px 2px;">{{item.checkOption?item.checkOption:'未选择'}}</div>
                </ion-item>

                <ion-item ng-if="item.type==6" ng-style="{'border-bottom':item.index==controls.length?'none':'none'}" class="item detail-item" style="border:none;white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <div style="color:#999;">{{item.name}}</div>
                    <div style="color:#333;padding:7px 15px 4px 15px;" ng-repeat="option in item.checkOptions track by $index"
                        ng-style="{'border-bottom':$index==item.checkOptions.length-1?'none':'1px solid #ddd'}">{{option}}</div>
                     <div style="color:#333;padding:7px 15px 4px 15px;" ng-if="!item.checkOptions||(item.checkOptions&&item.checkOptions.length==0)">未选择</div>
                </ion-item>

                <ion-item ng-if="item.type==7" ng-style="{'border-bottom':item.index==controls.length?'none':'none'}"  class="item detail-item" style="border:none;white-space: normal;font-size:16px;color:#333;margin:0px !important;padding: 10px 16px !important;min-height:45px;">
                    <span style="color:#999;">{{item.name}}</span>
                    <div style="color:#333;" item-end>{{item.time?item.time.substr(0,5):'未编辑'}}</div>
                </ion-item>
            </div>
            <div style="width: 100%;background-color: #F3F4F6;height: 15px;" ng-if="controls.length!=0"></div>
            <ion-item class="item detail-item" style="border:none;white-space: normal;margin-top:0px !important;padding-top:8px !important;">
                <div style="margin-top: 0px; font-size: 16px;color:#999;">申请内容:</div>
                <div class="short-text-main" style="margin-top:4px;color:#333;">{{select.detail.comment}}</div>
                <div style="margin-top: 20px; font-size: 16px;color:#999;" ng-if="(picUrls&&picUrls.length>0)||(docs&&docs.length>0)">附件:</div>
                <ion-gallery style="margin-top: 10px;margin-bottom: 6px;" ion-gallery-items="picUrls" ion-gallery-row="3"
                    ion-gallery-toggle="true" ng-if="picUrls&&picUrls.length>0"></ion-gallery>
                <div ng-if="docs&&docs.length>0">
                    <div ng-click="openFile(item.attachUrl)" style="background-color: #c3eafc;padding: 5px 10px;margin: 10px;"
                        ng-repeat="item in docs">
                        <img src="img/icon/doc_24.png" alt="" style="width: 10px;">
                        {{item.attachName}}
                    </div>
                </div>
                <!-- <div style="height:30px;text-align:center;margin-top:10px;" ng-click="openFile('111')"> test open word</div> -->
            </ion-item>
            <div style="width: 100%;background-color: #F3F4F6;height: 15px;"></div>



            <div style="margin:13px 0px;">
                <div style="margin-top: 17px;margin-left:13px; font-size: 16px;color:#333;">审批记录:</div>
                <div style="width: 100%;height: 25px;"></div>
                <div style="background:white; margin: 0px;" ng-repeat="item in select.detail.chains">
                    <div class="approval-timeline-badge" ng-style="{'background-color':item.userId==select.detail.currUserId?'#2bcab2':'#999'}"></div>
                    <div class="approval-timeline-content">
                        <div style="font-size: 16px;color:#333;position: relative;">
                            <div style="position:relative;">
                                {{item.userName}}
                            </div>
                            <div style="font-size:14px;color:#999;margin-top:3px;">{{item.approveTime}}</div>
                            <div style="position:absolute;top:-12px;color:white;height: 28px;line-height: 28px;width:55px;text-align: center;border-radius:5px;background-color: #2bcab2;font-size: 0.93em;margin-top: 8px;"
                                ng-click="showApprovalAlert()" ng-style="{'left':getNameWidth(item.userName)}" ng-if="item.userId==select.detail.currUserId&&userId==select.detail.currUserId&&!item.result">审批</div>
                        </div>

                        <div style="font-size: 15px;color:#666;margin-top: 5px;" ng-if="item.result">
                            <span>结果:</span>
                            <span style="color:#333;">{{currentApprovalStatus(item.result)}}</span>
                        </div>
                        <div style="font-size: 15px;color:#666;margin-top: 4px;" ng-if="item.suggest">
                            <span>意见:</span>
                            <span style="color:#333;"> {{item.suggest}}</span>
                        </div>
                        <div style="width:100%;height:10px;"></div>
                    </div>

                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>