<img src="img/approval/close.png" style="float:right;position:absolute;top:-15px;right:-10px;width:28px;height:28px;"
    ng-click="cancelChoose()">

<div class="row main-row no-border-radius " >
    <div style="width:100%;height:5px;"></div>
    <div ng-repeat= "item in sampleList" class="col col-40 main-item" style="background-color:none;border: 1px solid #ddd;border-radius: 5px;padding:auto 8px;margin:2% 5%;color:#666;height:62px;  font-size:15px; display: table;">
       <div style="display:table-cell; vertical-align:middle;" ng-click="showApprovalModal(item.id)"> {{item.name}}</div>
    </div>
    <div class="col col-40 main-item" ng-click="showApprovalModal('0')" style="background-color:none;border: 1px solid #ddd;border-radius: 5px;padding:0px 8px;margin:2% 5% ;height:62px;line-height:62px;color:#666;font-size:15px;">
            默认
 </div>
</div>