<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="hideSelectPersonModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">{{approvertitle}}</h1>
        <a class="button button-clear" style="color:white;font-weight: 400;font-size:15px;" ng-click="saveApprovalMan()" ng-if="approvalManType==='c'"> 确定 </a>
    </ion-header-bar>

    <ion-content>
        <div style="overflow: hidden;">
            <div style="float: left;" >
                <select class="class_select_in_input class_search" ng-model="sel.part" ng-options="item.id as item.departmentName for item in parts"
                    ng-change="onSelectionChange()" id="select_class" style="min-width: 85px">
                </select>
                <a style="font-size: 12px;position: relative;top:-2px;right:33px;color:white;">▼</a>
            </div>
            <div class="item item-input" id="item-search" style="margin: 10px 10px;">
                <span ng-if="parts === 0">暂未分配部门</span>
                <i class="icon ion-search placeholder-icon" id="search-icon"></i>
                <input type="text" placeholder="输入姓名搜索" ng-model="sel.search" maxlength="20" class="input" style="margin: 0 auto;" /><img
                    ng-if="sel.search.length>0" src="img/icon/close.png" ng-click="sel.search='';" style="width: 16px;height: 16px;margin-right: 10px;" />
            </div>
        </div>

        <div>
			<ion-checkbox class="item" style="padding: 8px 8px 8px 14px;border-radius: 0;" ng-if="approvalManType==='c'" ng-click="chooseCMan(man)" ng-model="man.isBoxChecked" ng-repeat="man in filtered = (select.receiveMen | filter: {teacherName: sel.search} | filter:{departmentId:sel.part})" >
				<img style="float: left" class="chat_avatar" src="img/icon/default_teacher.png" ng-src="{{}}" >
				<h2  style="margin-left: 60px;margin-top: 10px;">{{man.teacherName}}({{man.phoneNumber.substr(0,3)}}***{{man.phoneNumber.substr(7,4)}})</h2>
            </ion-checkbox>
            
            <ion-radio class="item" id="approval-man-raido" ng-value="man.teacherId" ng-model="man.checked" style="padding:0px;border-radius: 0;height:63px;line-height:63px;"  ng-click="chooseSMan(man)"  ng-repeat= "man in filtered = (select.receiveMen | filter: {teacherName: sel.search} | filter:{departmentId:sel.part}) track by $index" ng-if="approvalManType==='s'">
				<img style="float: left;margin-top:-5px;" class="chat_avatar" style="position:relative;top:-10px;" src="img/icon/default_teacher.png" ng-src="{{}}" >
				<h2  style="margin-left: 60px;margin-top: 10px;">{{man.teacherName}}({{man.phoneNumber.substr(0,3)}}***{{man.phoneNumber.substr(7,4)}})</h2>
			</ion-radio>
		</div>

		<div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
			• 该部门未找到联系人
		</div>
		<div class="spacer" style="height: 30px;"></div>

    </ion-content>
</ion-modal-view>