<img src="img/others/cancel.png" style="float:right;position:absolute;top:10px;right:10px;width:24px;height:24px;"
    ng-click="cancelChoose()">
<form name="searchForm" novalidate>
    <div>
        <input type="text" placeholder="请输入姓名" ng-model="selected.search_name" maxlength="10"
            style="width:150px;border:1px solid #ddd;padding:6px;margin-left:36px;height:38px;border-right: 0px;"
            required />
        <div class="button search-visitor" ng-click="searchName()" ng-disabled = "searchForm.$invalid"><img src="img/others/search.png" style="width:20px;height:20px;" /></div>
    </div>
    <div ng-if="isSearch&&visitorList.length>0" style="margin:-10px 0px 20px 10px;font-size: 15px;">
        <div style="color:grey;font-weight: 500;">请选择您要拜访的老师:</div>
        <div ng-repeat="item in visitorList track by $index" ng-click="selectVistor(item,$index)" ng-style="{'background':selected.index===$index?'#2bcab2':'lightgray','color':selected.index===$index?'white':'grey'}" class="button" style="line-height:22px;width:200px;font-weight: 500;margin-top:15px;margin-left:15px;border:none;padding:2px;align-items:center; display: -webkit-flex;justify-content: center;">
            {{item.gender[0]==='FEMALE'?'女':'男'}}&nbsp; {{item.className.join(',')}}&nbsp; {{item.subjectName.join(',')}} 
        </div>
    </div>
    <div ng-if="isSearch&&visitorList.length===0" style="margin-top: 10px;color:grey;text-align: center;width:100%;font-size: 15px;margin-bottom: 20px;">
        未找到该名教师，请确定输入姓名是否有误！</div>
    <div style="width:100%;height:20px;" ng-if="!isSearch"></div>
</form>