<img src="img/others/cancel.png" style="float:right;position:absolute;top:10px;right:10px;width:24px;height:24px;"
    ng-click="cancelChoose()">
<div>
    <div style="padding:8px;">
        <textarea type="text" id="reservationLink" ng-model="link"  style="width:100%;min-height:66px;padding:8px;" readonly></textarea>
      </div>
    <div style="margin-top:35px;margin-left:calc(50% - 100px);margin-bottom: 5px;">
        <div ng-click="copyOrShare(1)" class="button button-outline" style="color:#2bcab2;min-width:80px;border-radius:8px;border:1px solid #2bcab2;min-height:36px;line-height:36px;">复制</div>
        <div ng-click="copyOrShare(2)" class="button button-outline" style="color:orange;min-width:80px;border-radius:8px;border:1px solid orange;min-height:36px;line-height:36px;margin-left:40px;">分享</div>
    </div>
</div>