<style>
	.input-label {
		width: 28%;
	}
</style>
<ion-view hide-nav-bar="true" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">新用户注册</h1>
	</ion-header-bar>
	<ion-content padding="false" class="has-header">
		<div style="text-align: center;width: 100%;height: 150px;padding-top: 15px;background-color: #2bcab2;">
			<img src="img/logo.png" class="login_logo" />
			<div class="spacer" style="width: 300px; height: 30px;"></div>
		</div>
		<form style="padding: 15px 7px" novalidate name="regForm" ng-submit="doRegister(true)">
			<div class="item no-border-radius" style="display: flex">
				<span class="input-label" style="display: inline;padding: 0">用户角色</span>
				<!-- <span>{{input.retype=='t'?'教师':'家长/学生'}}</span> -->
				<input type="radio" ng-model="input.retype" ng-value="'t'"
					style="padding-right: 0;flex: inherit;margin-left: 3px" required /> <span
					ng-click="input.retype='t'" style="margin-left: 5px;"> 教师</span>
				<input type="radio" ng-model="input.retype" ng-value="'sf'"
					style="padding-right: 0;flex: inherit;margin-left: 10px" required /> <span
					ng-click="input.retype='sf'" style="margin-left: 5px;"> 家长/学生</span>
			</div>

			<div ng-if="input.retype">
				<div class="item item-input no-border-radius">
					<input type="number" placeholder="班级ID，可联系班主任{{input.retype==='sf'?'':'或学校管理员'}}获取" maxlength="20"
						ng-model="input.classid" required class="input">
				</div>

				<div class="item item-input no-border-radius" ng-if="input.retype==='sf'">
					<input type="text" placeholder="请输入学籍号，选填项" maxlength="30" ng-model="input.stunum" class="input">
				</div>

				<div class="item item-input no-border-radius">
					<input type="text" placeholder={{input.retype==='sf'?'学生姓名':'姓名'}} maxlength="16"
						ng-model="input.name" required class="input">
				</div>

				<div class="item item-input no-border-radius">
					<input type="tel" placeholder={{input.retype==='sf'?'家长手机号':'手机号'}} maxlength="11" required
						ng-model="input.phone" class="input">
				</div>

				<div class="item item-input no-border-radius" style="display: -webkit-box !important;">
					<input type="text" placeholder="请填写手机验证码" maxlength="8" required ng-model="input.smscode">
					<button class="button button-stable" ng-mousedown="getSmsCode()" ng-click="getSmsCode()"
						style="font-size: small" type="button"
						ng-disabled="!input.retype || input.phone.length!=11 || !canReqSMS || !input.name || input.name.length===0">{{btnText}}
					</button>
				</div>

				<div class="item item-input no-border-radius">
					<input name="input_pwd" type="password" class="input" style="width: 100%" maxlength="20"
						placeholder="密码，要求为6-20位数字与字母组合" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/" required
						ng-model="input.password" password-toggle>
				</div>
				<div class="item item-input no-border-radius">
					<input name="input_pwd_confirm" type="password" class="input" style="width: 100%" maxlength="20"
						placeholder="确认密码" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/" required
						ng-model="input.pwd" password-toggle>
				</div>

				<div style="margin-top: 10px;">
					<input type="checkbox" style="margin-left:calc(50% - 58px);margin-top:8px;" ng-model="input.isChecked"  required>
					<a ng-click = "protocol()"
					style="color:#2bcab2;width: 100px;font-size: 15px;margin-left: 0px;border-bottom: 1px solid #2bcab2;">《用户隐私协议》</a>
				</div>
			

				<div style="width: 100%;text-align: center;margin-top: 20px">
					<button class="button color-normal" style="width: 85%;color: white" type="submit"
						ng-disabled="regForm.$invalid">注册</button>
				</div>
			</div>

		</form>
	</ion-content>
</ion-view>