<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <h1 class="title bar-follower-font">注册提示</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list class="list">
            <p style="padding: 15px;">系统检测到<span style="color: #0c60ee;border: 0">{{stuList[0].className}}</span>已有学生<span
                    style="color: #0c60ee;border: 0">{{input.name}}</span>，如果是下方学生信息，点立即进入即可完成手机号与该学生的关联。如果不是下方学生，则点注册新学生即可。</p>
            <ion-item class="item item-thumbnail-left item-avatar box-border" collection-repeat="child in stuList"
                      style="position: relative">
                <img src="img/icon/person.png" ng-src="{{child.headImg}}"   >
                <h2>{{child.stuName}}</h2>
                <p>家长姓名: {{child.familyName}}</p>
                <p>家长手机号：{{child.phone}}</p>

                <button class="button btn-round-orange" ng-click="registerAs(child)" style="position: absolute;right: 15px;top: 12px;">
                    立即进入
                </button>
            </ion-item>

        </ion-list>

        <div style="width: 100%;text-align: center;margin-top: 20px">
            <button class="button button-balanced" style="width: 85%;min-height: inherit" type="button" ng-click="doRegister(false)">注册新学生</button>
            <button class="button" style="width: 85%;background-color: #bbb;color: white;min-height: inherit;margin-top: 10px;" type="button" ng-click="closeModal()">返回重填</button>
        </div>

    </ion-content>
</ion-modal-view>

