<ion-view hide-nav-bar="true" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">找回密码</h1>
	</ion-header-bar>
	<ion-content padding="false" class="has-header">
		<div style="text-align: center;width: 100%;height: 150px;padding-top: 15px;background-color: #2bcab2;">
			<img src="img/logo.png" class="login_logo">
			<div class="spacer" style="width: 300px; height: 30px;"></div>
		</div>
		<form style="padding: 15px 7px" ng-if="step===1" novalidate name="step1Form" ng-submit="getSmsCode()">
			<div class="item no-border-radius">
				<span class="input-label" style="display: inline;padding: 0">用户角色</span>
				<input type="radio" ng-model="input.retype" ng-value="'t'"
					   style="padding-right: 0;flex: inherit;margin-left: 10%" required /> <span ng-click="input.retype='t'"> 教师 </span>
				<input type="radio" ng-model="input.retype" ng-value="'f'"
					   style="padding-right: 0;flex: inherit;margin-left: 10px" required /> <span ng-click="input.retype='f'"> 家长 </span>
				<input type="radio" ng-model="input.retype" ng-value="'s'"
					   style="padding-right: 0;flex: inherit;margin-left: 10px" required /> <span ng-click="input.retype='s'"> 学生 </span>
			</div>

			<label class="item item-input no-border-radius">
				<input type="tel" placeholder="手机号" required ng-model="input.phone" ng-minlength="11" maxlength="11">
			</label>

			<div class="item item-input no-border-radius" style="display: -webkit-box !important;">
				<input type="text" placeholder="请填写手机验证码" ng-model="input.smscode" maxlength="8">
				<button class="button button-stable" style="font-size: small" type="submit" ng-disabled="step1Form.$invalid || !canReqSMS">{{btnText}}
				</button>
			</div>

			<div style="width: 100%;text-align: center;margin-top: 20px">
				<button class="button button-balanced" ng-click="switchStep(2)" style="width: 70%;" type="button" ng-disabled="input.smscode.length < 4">下一步</button>
			</div>
		</form>

		<form style="padding: 15px 7px" ng-if="step===2" novalidate name="step2Form" ng-submit="doReset()">

			<div ng-if="students && students.length > 0">
				<div class="item item-divider" style="border-radius: 0;">
					请选择要找回密码的学生账号：
				</div>
				<ion-radio style="border-radius: 0;" ng-model="input.stusername" ng-value="item.stusername" required ng-repeat="item in students">{{item.name}}</ion-radio>
				<div class="spacer" style="height: 30px;"></div>
			</div>

			<div class="item item-input no-border-radius">
				<input name="input_pwd" type="password" class="input" style="width: 100%" maxlength="20" placeholder="请输入新密码" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"
					   required ng-model="input.newpassword" password-toggle>
			</div>
			<div class="item item-input no-border-radius">
				<input name="input_pwd_confirm" type="password" class="input" style="width: 100%" maxlength="20" placeholder="请再次输入新密码" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"
					   required ng-model="input.pwd" password-toggle>
			</div>
			<p style="width: 100%;text-align: center;margin-top: 15px;font-size: 0.8em">密码要求为6-20位数字与字母组合</p>
			<div style="width: 100%;text-align: center;margin-top: 20px">
				<button class="button button-balanced" style="width: 70%;" type="submit" ng-disabled="step2Form.$invalid">确定</button>
			</div>
		</form>
	</ion-content>
</ion-view>
