<ion-view hide-nav-bar="true" >
	<ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive" ng-if="!isPhone">
		<ion-tab title="首页" icon-off="notice-off" icon-on="notice-on" ui-sref="tabsController.mainPage">
			<ion-nav-view name="mainTab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="校园" icon-off="school-off" icon-on="school-on" ui-sref="tabsController.schoolPage" badge="campus" badge-style="badge-assertive">
			<ion-nav-view name="schoolTab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="家校" icon-off="communicate-off" icon-on="communicate-on" ui-sref="tabsController.communicatePage" badge="badge" badge-style="badge-assertive" >
			<ion-nav-view name="communicateTab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="settingTab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>

	<ion-tabs class="tabs-stable tabs-icon-top" ng-if="isPhone">
		<ion-tab title="首页" icon-off="notice-off" icon-on="notice-on" ui-sref="tabsController.mainPage">
			<ion-nav-view name="mainTab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="班级圈" icon-off="school-off" icon-on="school-on" ui-sref="tabsController.schoolPage" badge="campus" badge-style="badge-assertive">
			<ion-nav-view name="schoolTab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="设置" icon-off="setting-off" icon-on="setting-on" ui-sref="tabsController.settingPage">
			<ion-nav-view name="settingTab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>
