<ion-view hide-nav-bar="true" class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
				 alt=""/>
		</button>
		<h1 class="title bar-follower-font">接送通知</h1>
		<button class="button" ng-click="openModal()" style="background: transparent">
			<img src="img/icon/icon-card.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
	</ion-header-bar>
	<ion-content class="has-header">

		<ion-list >
			<div collection-repeat="item in noticeList ">
				<div class="spacer" style="height: 10px;"></div>
				<ion-item style="position: relative;margin: 0 10px;min-height: 100px;" ng-click="viewImg(item.imgUrl)">
					<small style="left: 12px; position: absolute; z-index: 999;top: 11px;color: white">
						{{item.walktimestr}} {{item.instatus===0?'入':'出'}}园
					</small>
					<small style="font-size: x-small;color: red; left: 75px; position: absolute; z-index: 999;top: 0;"
						   ng-if="item.isread!==1">●
					</small>
					<img ng-src="{{item.instatus===0?'img/student_in_bg.png':'img/student_out_bg.png'}}"
						 style="position: absolute; width: 90px;left: -2px;top: 5px;">

					<small style="left: 12px; position: absolute; top: 45px;color: #999">{{item.daystr}}</small>
					<small style="left: 12px; position: absolute; top: 65px;color: #999">{{item.weekstr}}</small>

					<div class="multi-lines"
						 style="position: absolute;color: #666;left: 100px;right: 90px;top: 30px;font-size: small">
						{{item.tips.split('，')[0]}}
					</div>

					<img ng-src="{{item.imgUrl}}" ng-if="item.imgUrl && item.imgUrl!='null'"
						 style="position: absolute;right: 10px;top: 15px;height: 70px;width: 70px;"   >

				</ion-item>
			</div>
		</ion-list>
		<div ng-if="noticeList.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无接送记录</p>
		</div>
		<!-- <div ng-if="loading === false && cards.length == 0" style="display: block;text-align: center;margin-top: 80px;">
			<span style="color: gray;">您尚未绑定学生卡，无法接收孩子的接送消息</span>
			<button class="button btn-follower" style="width: 60%;margin-top: 20px;min-height: 40px;line-height: 40px;" ng-click="showBindCardView()">立即绑定</button>
		</div> -->

	</ion-content>
</ion-view>
