<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
        </button>
        <h1 class="title bar-follower-font">接送卡管理</h1>
    </ion-header-bar>
    <ion-content class="padding" scroll="true">
        <button class="button" id="add-card-btn" ng-click="showBindCardView()" ng-disabled="cards.length > 9">+绑定接送卡号</button>
        <div class="child-card" ng-repeat="item in cards">
            <h3>接送卡</h3>
            <span>卡号：{{item}}</span>
            <img src="img/icon/trash_10.png" alt="" ng-click="unbindCard(item)">
        </div>
    </ion-content>
</ion-modal-view>
