<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideChooseStarModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">已选择{{(studentList | filter: {isChecked: true}).length}}人</h1>
        <a class="button button-clear" style="color:white;font-weight: 400;font-size:15px;" ng-click="saveSelectStudent()"> 确定 </a>
    </ion-header-bar>
    <ion-content>

        <div class="item item-input "   id="item-search"
            style="margin-bottom: 5px;margin:15px; ">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="搜索本班学生" ng-model="selected.add_search" maxlength="20" class="input" /><img
                ng-if="selected.add_search.length>0" src="img/icon/close.png" ng-click="selected.add_search='';"
                style="width: 16px;height: 16px;margin-right: 10px;" />
        </div>
        <ion-list>
            <ion-checkbox class="item" style="padding: 8px 8px 8px 48px;border-radius: 0;" ng-style="{'border-top':$index===0?'none':'1px solid #ddd'}"
                ng-repeat="contact in filtered = (studentList | filter: {name: selected.add_search} )"
                ng-model="contact.isChecked"  >
                <img style="float: left" class="chat_avatar" src="img/icon/default_student.png" ng-src="{{contact.avatar}}"
                      >
                <h2 ng-if="contact.name" style="margin-left: 60px;margin-top: 10px;">{{contact.name}}</h2>
                <h2 ng-if="!contact.name" style="margin-left: 60px;margin-top: 10px;">{{contact.stu_id}}</h2>
            </ion-checkbox>
        </ion-list>
        <div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
			• 该班未找到该学生
		</div>
    </ion-content>
</ion-modal-view>