<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id"
                ng-options="item.id as item.className for item in classes" ng-change="loadData()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>
    <!-- <a class="button icon button-light ion-plus-round float-button" ng-click="openClassStarModal()"
        style="bottom: 50px;"></a> -->
    <ion-content style="background:#f3f4f6;" delegate-handle="delegateHandler">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list class="list">
            <ion-item ng-repeat="item in list" style="border-radius: 5px;margin: 10px;border:none;padding:0px;">
                <div class="item-avatar"
                    style="border-top-left-radius: 5px;border-top-right-radius: 5px;border: none;margin: 0px;min-height:55px;padding-left: 56px;">
                    <img src="img/icon/evaluate_class_star.png" style="margin-left:0px;"/>
                    <h2 style="font-size:17px;">班级之星</h2>
                    <p style="color:#999;margin-top:2px;">{{item.startDate}}&nbsp;至&nbsp;{{item.endDate}}</p>
                </div>
                <div style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border: none;padding: 0px 0px 16px 0px;background:white;">
                    <div  class="row main-row"
                        style="background:#ffc968;min-height: 44px;width: 100%;padding:0px 5px; border-radius:5px;">
                        <div  ng-if="item.stulist.length<7" class="col col-33 main-item" style="margin-top:5px;white-space:normal;"
                            ng-repeat="stu in item.stulist">
                            <img src="img/icon/default_student.png" ng-src="{{stu.imgurl}}"
                                style="width:44px;height:44px;border-radius:50%;" />
                            <span style="color:white;margin-top:3px;font-weight:500;">{{stu.student_name}}</span>
                        </div>
                        <div  ng-if="item.stulist.length>6" class="col col-25 main-item" style="margin-top:5px;white-space:normal;"
                            ng-repeat="stu in item.stulist">
                            <span style="color:white;margin-top:3px;font-weight:500;">{{stu.student_name}}</span>
                        </div>
                    </div>
                </div>
                <ion-option-button class="button-assertive" 
                ng-click="deleteItem(item, $event)">
                  删除
            </ion-option-button>
            </ion-item>
        <div style="width:100%;height:50px;"></div>
        </ion-list>
        <div class="empty-list-tip" ng-if="list&&list.length==0">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>

        <!-- <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>9"> 没有更多了</div> -->
    </ion-content>

    <div class="bar bar-footer bar-light" style="height:55px;padding: 0px;background:white;">
        <div class="button" ng-click="openClassStarModal()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;border:none !important;">
            新增班级之星</div>
    </div>
</ion-view>