<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideClassStarModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">设置班级之星</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <div style="margin:16px 13px;font-size: 16px;color:orange;">班牌上将显示最新的班级之星</div>
        <div class="item" style="border:none;padding:15px 8px;border-bottom: 1px solid #ddd;margin:0px;">
            <h2 style="font-size:17px;margin-left: 3px;">评比时间</h2>
            <!-- <span>评比时间:</span>
            <span style="padding:3px 6px;border:1px solid #ddd;font-size:15px;">2018-06-05</span> 至 
            <span style="padding:3px 6px;border:1px solid #ddd;font-size:15px;">2018-06-05</span>
            <div style="margin-top:20px;">
            <span>班级之星:</span>
            <a ng-click="openChooseStarModal()">请选择</a>
            </div> -->
        </div>

        <div class="item" ng-click="selectTime('start')" style="border:none;padding:15px 8px;border-bottom: 1px solid #ddd;margin:0px;">
            <div style="color: #666;float: left;font-size: 16px;margin-left: 3px;">开始时间</div>
            <div style="color: #666;float: right;font-size: 16px;margin-right: 3px;">{{selected.startDate?selected.startDate:'请选择'}}</div>
        </div>
        <div class="item" ng-click="selectTime('end')" style="border:none;padding:15px 8px;margin:0px;">
            <div style="color: #666;float: left;font-size: 16px;margin-left: 3px;">结束时间</div>
            <div style="color: #666;float: right;font-size: 16px;margin-right: 3px;">{{selected.endDate?selected.endDate:'请选择'}}</div>
        </div>
        <div class="item" ng-click="openChooseStarModal()" style="border:none;padding:15px 8px;margin-top: 10px;" >
            <h2 style="font-size:17px;margin-left: 3px;float: left;">班级之星</h2>
            <div ng-if="!filtered||filtered.length===0"
                style="color: #666;float: right;font-size: 16px;margin-right: 3px;float:right;">请选择</div>
            <div ng-if="filtered.length>0"
                style="color: #666;float: right;font-size: 16px;margin-right: 3px;float:right;">已选<span
                    style="color:orange;font-weight:500;margin:0px 2px;">{{filtered.length}}</span>人</div>
        </div>

        <div class="row flex-row">
            <div class="col-25" style="text-align: center"
                ng-repeat="item in filtered = (studentList | filter: {isChecked: true})">
                <img style="position:relative;right: -20px;top: 18px;height: 20px;width: 20px;"
                    src="img/icon/fail_03.png" ng-click="item.isChecked=false" />
                <img src="img/icon/default_student.png" ng-src="{{item.avatar}}"
                    style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;"
                       />
                <span style="color:#666;">{{item.name?item.name:item.stu_id}}</span>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light" style="height:56px;padding: 0px;" >
        <div class="button" ng-disabled="isLoading" ng-click="saveClassStarSet()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
            保存</div>
    </div>
</ion-modal-view>