<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">{{title}}</h1>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <div class="item" style="border:none;margin:0px;border-radius:5px;padding:13px;position: relative;">
            <img style="width:45px;height:45px;border-radius:50%;float: left;margin-top:5px;"
                src="img/icon/default_student.png" ng-src="{{userLogo}}"   >
            <h2 style="left: 15px;width:calc(100% - 150px);position: relative;">
                <div style="padding-bottom:8px;border-bottom:1px solid #ddd;">{{useName}}</div>
                <div style="color:#666;padding-top:8px;">{{userPhonenumber}}</div>
            </h2>
            <div style="position: absolute;right:10px;top:0px;width:45px;height: 72px;" ng-if="totalScore">
                <img src="img/icon/evaluate_score.png" style="width:45px;height:72px;" />
                <div style="font-weight:500;color:#666;font-size:17px;width:30px;text-align:center;position:absolute;top:36px;right:calc(50% - 15px);">{{totalScore}}</div>
            </div>
        </div>

        <div ng-repeat="groups in list">
            <div style="background:#f3f4f6;height:44px;line-height: 44px;padding:0px 13px;">{{groups.typeName}}</div>
            <div class="item" ng-click="showEvaluateModal()" ng-repeat="group in groups.taskItems track by $index"
                ng-style="{'border-bottom':$index== groups.taskItems.length-1?'none':'1px solid #ddd'}"
                style="border:none;margin:0px;padding:0px 13px 0px 5px;position: relative;color:#666;height: 95px;display: flex;align-items: center;">
                <!-- <div class="evaluate-detail-score" >{{group.score?group.score:'--'}}</div> -->
                <div style="width:75px;float: left;border-right:1px solid #ddd;text-align: center;padding:0x 6px 0px 3px ;">
                    <div style="font-size:16px;color:#333;">评分</div>
                    <div style="color:rgb(254,138,54);font-weight:500;font-size: 20px;">{{group.score?group.score:'--'}}</div>
                    <div style="font-size:13px;color:rgb(157, 157, 157);font-weight:500;">满分{{group.maxScore?group.maxScore:'--'}}分</div>
                </div>
                <div style="white-space: normal;width:calc(100% - 75px);margin-left: 13px;">
                    <div>{{group.itemName}}</div>
                    <!-- <div style="margin-top:3px;"><span>分值</span><span style="margin-left:10px;">({{group.minScore}}-{{group.maxScore}})</span></div> -->
                </div>    
            </div>
        </div>
    </ion-content>
</ion-view>