<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">提交申请</h1>
    </ion-header-bar>

    <form name="assetsApplyForm" novalidate>
    <ion-content style="background-color: #F3F5F4;">

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="openModal(1)">
            <div style="color: #222;float: left;">资产类别</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.category?'#222':'#999'}" >{{select.category?select.category:'请选择'}}</div>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="openModal(2)">
            <div style="color: #222;float: left;">资产名称</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.name?'#222':'#999'}">{{select.name?select.name:'请选择'}}</div>
        </div>

        <div class="item " style="margin:13px 0px;font-size: 16px;border: none;height:50px;">
            <div style="color: #222;float: left;">资产数量</div>
            <input placeholder="请输入正整数" type='number' pattern="[0-9]*" style="float:right;text-align:right;font-size: 15px;border: none;height:24px;align-items: center;margin-right:10px;padding-right:5px;"
                id="focusItem" ng-model="select.count" required/>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;">
            <div style="color:#222;font-size: 16px;">申请理由</div>
            <textarea name="chatInput" style="width:100%;height: 130px;font-size:15px; padding: 7px 8px;background-color:#F3F4F6;border-radius: 8px;margin-top:15px;"
                placeholder="必填,200字以内" maxlength="200"  ng-model="select.content" required>
            </textarea>
        </div>

        <div class="button" ng-click="commit()"  style="width:calc(100% - 180px);margin-left: 90px;margin-top:45px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 8px;font-size:17px;background-color:#2bcab2 ;color:white;font-weight: 500" ng-disabled="assetsApplyForm.$invalid">确定</div>

    </ion-content>
    </form>

</ion-view>