<<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeCategoryNameModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">选择资产名称</h1>
    </ion-header-bar>

    <ion-content style="background-color: #F3F5F4;">
        <div class="spacer" style="width: 100%; background-color: #F3F5F4;height: 10px;">
        </div>
        <ion-list no-lines>
            <ion-item class=" no-border-radius" ng-repeat="name in assetsNames" ng-click="chooseAssetsName(name,$index)"
                style="border-bottom: 1px solid #ddd;height:50px;font-size: 16px;" ng-style="{'border-top-width':$index==0?'0px':'1px'}">
                <div style="color:#222;float:left;">{{name.assetInfoName}}</div>
                <img src="img/assets/select_fill.png" style="width:28px;height:28px;float: right;" ng-if="recordNameIndex==$index+1" />
            </ion-item>

        </ion-list>

        <div class="empty-list-tip" ng-if="assetsNames&&assetsNames.length==0">
            <img src="img/empty_content.png">
            <p>暂无对应资产名称，请联系学校管理员</p>
        </div>
    </ion-content>

    </ion-view>