<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideClassroomLiveModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">画面详情</h1>
       
    </ion-header-bar>
    <ion-content>

    </ion-content>
</ion-modal-view>