<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">教室实况</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div class="row main-row" style="border:none;margin-top:10px;">
                <div class="col col-50"  ng-repeat="item in list track by $index" ng-click="openClassroomLive(item)" style="padding-top:16px;position: relative;"  ng-style="{'padding-left':$index%2===0?'16px':'8px','padding-right':$index%2===0?'8px':'16px'}">
                   <img src="img/camera_cover.png" style="width:100%;margin:0px;"/>
                   <img src="img/icon/xunke_camera.png" style="width:40px;height:45px;position:absolute;top:calc(50% - 30px);left:calc(50% - 20px);"/>
                   <div class="siteName" style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;position:absolute;top:calc(50% + 20px);left:10px;right:10px;color:white;text-align: center;font-size:15px;font-weight:500;">{{item.siteName}}</div>
                </div>
                   
            </div>

        </ion-list>
        <!-- <div class="empty-list-tip" style="margin-top:40%">
            <img src="img/icon/noData.png" />
            <p style="margin-top:15px;font-size:17px;">暂无数据</p>
            <p style="font-size:15px;">可在上学日</p>
            <div style="color:#2bcab2;font-size:15px;">08:30~17:30</div>
            <div style="color:#666;margin-top:6px;font-size:15px;">时段内查看小孩教室实时画面</div>
        </div> -->
    </ion-content>
</ion-view>