<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideSelectClassModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">选择班级</h1>
        <button class="button button-outline"   style="color:white;font-size:15px;padding-top: 3px;" ng-click="commitSelectClass()">
            确定
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="item" style="border:none;padding: 13px;font-size:16px;" ng-if="classList.length>0">
            <h2>
                <label class="checkbox checkbox-class-select-all">
                    <input type="checkbox"
                        ng-click="selectAllFiltered(select.isAllCheck);$event.stopPropagation();"
                        style="width: 24px;height: 24px;" ng-model="select.isAllChecked">
                </label>
                <span style="position: relative;left:0px;top:-5px;">全选</span>
            </h2>
        </div>
        <div style="width:100%;height:10px;background:#f3f4f6;"></div>
        <div class="item" ng-repeat="item in classList"
            style="border:none;padding: 13px;font-size:16px;border-bottom: 1px solid #ddd;margin:0px;">
            <h2>
                <label class="checkbox checkbox-class-select-all">
                    <input type="checkbox" style="width: 24px;height: 24px;" ng-model="item.checked" >
                </label>
                <span style="position: relative;left:0px;top:-5px;">{{item.value}}</span>
            </h2>
        </div>

        <div ng-if="classList.length==0" style="display: block;padding: 5% 10%">
			• 未找到班级
		</div>

    </ion-content>
</ion-modal-view>