<ion-view cache-view="false" class="xView-grey">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="goBack()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                 alt=""/>
        </button>
        <h1 class="title bar-follower-font">确认订单</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="spacer" style="height: 10px;"></div>
        <div class="item item-divider no-border-radius main-item-title">
            <div style="width: 3px;height: 100%;background-color: #2bcab2;font-size: large"><span style="margin-left: 10px">商品详情</span>
            </div>
        </div>

        <div class="list">

            <a class="item item-thumbnail-left order-item no-border-radius" ng-repeat="orderItem in goods">
                <img ng-src="{{orderItem.info.imgUrl}}"   >
                <h2>{{orderItem.info.goodName}}</h2>
                <p ng-if="orderItem.info.price">¥ {{orderItem.info.price/100}} 元</p>
            </a>

            <div class="spacer xView-grey" style="height: 1px;padding: 0 5px;"></div>

            <p style="background-color: #ffffff;padding: 10px;font-size: 14px;color: rgb(100,100,100)"
               compile="goods[0].info.goodDetail"></p>

            <div style="background-color: #ffffff;height: 60px;width: 100%;text-align: right;padding: 20px;">订单总额：<strong style="color: red;font-size: large;" ng-if="orderPriceTotal">¥ {{orderPriceTotal/100}} 元</strong> </div>

            <div style="width: 100%;text-align: center;padding: 20px 50px" ng-if="orderPriceTotal">
                <button class="button button-block" style="background-color: #0d73fe;color: #FFFFFF" ng-click="reqPayWith(0)" ng-if="!isWexin">支付宝支付</button>
                <button class="button button-block" style="background-color: #1aad19;color: #FFFFFF" ng-click="reqPayWith(1)">微信支付</button>
            </div>

        </div>

    </ion-content>
</ion-view>
