<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">添加记录</h1>

    </ion-header-bar>
    <form name="reportForm" novalidate>
        <ion-content style="padding:16px;">
            <div style="border-radius: 10px;background-color:#F3F4F6; margin-top: 10px;">
                <textarea name="chatInput"
                    style="width:100%;height: 160px;padding: 7px 8px;background-color:#F3F4F6;font-size:16px;border-radius: 10px;"
                    placeholder="必填,限200字" maxlength="200" required ng-model="selected.remarks">
                        </textarea>
            </div>


            <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                <div class="col pic-grid" ng-repeat="item in reportImgs track by $index" style="position: relative;">
                    <img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;"
                        src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
                    <img ng-src="{{item.data?item.data:item}}" style="max-width: 100%"
                        ng-click="preViewImages($index)" />
                </div>
                <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-if="reportImgs.length < 9" ng-click="selectImg()">
                    <!-- <a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a> -->
                    <div class="button icon"><img src="img/others/Camera.png" style="width:24px;height:24px;margin-top:13px;" /></div>
                </div>
                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;"
                    onchange="angular.element(this).scope().getFile(this.files)" />
            </div>

            <div class="button" style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;" ng-if="reportForm.$invalid||isLoading">保存</div>
            <div class="button" ng-click="commitAddExerciseRecord()"  style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;border:none;" ng-if="!reportForm.$invalid&&!isLoading">保存</div>
        </ion-content>
    </form>
</ion-modal-view>