<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideProgramModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">{{selected.programName}}</h1>

    </ion-header-bar>
  <ion-content style="padding:15px;">
        <ion-list>
            <pre><div class="text-main" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" ng-bind-html='programDetailText'></div></pre>
        </ion-list>
    </ion-content>
</ion-modal-view>