<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">隐患详情</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="item" style="border:none;padding-bottom: 0px !important;white-space:normal;">
                <h2 style="white-space: normal;margin-top: 5px;margin-bottom: 5px;"
                    class="list-title-set">{{detail.title}}</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:10px;">
                    <img src="img/others/repair_man.png" style="width:20px;height:20px;" />
                    <span style="position: relative;top:0px;left:5px;">
                        <span style="color:#999;">上报人:</span>
                        <span style="color:#333;margin-left:5px;">{{detail.creatorName}}<span style="margin-left:4px;color:#999;" ng-if="detail.creatorPhoneNo">({{detail.creatorPhoneNo}})</span></span>
                    </span>
                </div>
                <div style="margin-top:10px;">
                    <div style="float: left;">
                        <img src="img/others/address.png" style="width:20px;height:20px;" />
                        <span style="color:#999;position: relative;top:-3px;left:5px;">地点:</span>
                    </div>
                    <div style="margin-left: 75px;width: calc(100% - 75px);position: relative;top:2px;">
                        <span style="color:#333;">{{detail.location}}</span>
                    </div>
                </div>

                <div style="margin-top: 12px;margin-bottom: 5px;">
                    {{detail.message}}</div>

                <ion-gallery id="gallery-img" style="margin-top: 10px;margin-bottom: 6px;" ion-gallery-items="picUrls"
                    ion-gallery-row="3" ion-gallery-toggle="true" ng-if="picUrls.length>0"></ion-gallery>


                <div style="position: relative;top:5px;margin-bottom: 13px;">
                    <div style="color:#999;margin-top:0px;width: 160px;">{{detail.createTime.substr(0,16)}}</div>
                    <div ng-style="{'color':detail.status===1?'orange':detail.status==2?'#2bcab2':'#b5b5b5'}"
                        style="position: absolute;right: 10px;top:0px;">{{detail.status===1?'待处理':detail.status===2?'处理中':'已关闭'}}
                    </div>
                </div>

            </div>
            <div style="width: 100%;background-color: #F3F4F6;height: 10px;"></div>
            <div style="padding: 13px 0px;">
                <img src="img/repair/group.png"
                    style="margin-left: 4px;margin-top: 2px;width:22px;height:19px;margin-left:13px;" />
                <span style="font-size: 16px;font-weight: 500;color: #0072FE;position: relative;top:-3px;">进度</span>
                <div style="width: 100%;background-color: #ddd;margin-top: 12px;height: 1px;"></div>
                <div class="item" ng-repeat="event in events"
                    style="border:none;white-space:normal;border-bottom: 10px solid #f3f4f6;margin:0px;">
                    <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 0px;margin-bottom: 5px;"
                        class="list-title-set">{{event.creatorName}}<span style="margin-left:5px;color:#999;"
                            ng-if="event.creatorPhoneNumber">({{event.creatorPhoneNumber}})</span></h2>
                    <div style="float: right;font-size:13px;color:#999;margin-top:-25px;">
                        {{event.createTime.substr(5,11)}}</div>
                    <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 10px;"></div>
                    <div style="color:#666;font-size:16px;margin-top:8px;">{{event.description}}</div>
                    <div style="margin-top:7px;font-size:16px;color:#666" ng-if="event.assignedPersonName">
                        <span>指派给:</span>
                        <span style="margin-left:5px;">{{event.assignedPersonName}}</span>
                    </div>
                </div>
                <div class="empty-list-tip" style="margin-top: 8%;" ng-if="!events||(events&&events.length===0)">
                    <img src="img/empty_content.png">
                    <p>暂无进度</p>
                </div>
            </div>
            <div style="width:100%;height:56px;"></div>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-light" style="height:55px;padding: 0px;background:#f3f4f6;" ng-if="detail.status===2">
        <div ng-click="addProgress()"
            style="width:100%;font-size:17px;color:gray;text-align: center;margin:auto;font-weight: 500;">
            增加进度</div>
    </div>
</ion-view>