<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >关于</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<div class="spacer" style="height: 20px;"></div>
		<img src="img/logo.png" class="login_logo">
		<div style="text-align: center; width: 100%; margin-top: 40px;"><span>软件版本：{{version}}({{versionCode}})</span></div>
	</ion-content>
	<div class="bar bar-footer address">
		<div style="text-align: center;width: 100%;margin-top: 7px;font-size: small;font-weight: 300">Copyright © 2020 小跟班 版权所有</div>
	</div>
</ion-view>
