<ion-view cache-view="!isWeiXin">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{pageTitle}}</h1>
		<button class="button button-icon " ng-click="save()" ng-if="visibleArea === 'name'||visibleArea === 'instruction'"
				ng-disabled="infoForm.$invalid">
			<img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
	</ion-header-bar>
	<form name="infoForm" novalidate>
		<ion-content class="has-header">

			<div ng-if="visibleArea === 'name'" style="padding: 5px;">
				<input name="input_name" class="input" style="width: 100%;height: 40px; border-color: #d5d5d5;" maxlength="10" required
					   ng-model="user.name" ng-pattern="/^[\u4E00-\u9FA5A-Za-z]+$/"/><a class="clear" style="margin-top: 12px;" ng-click="user.name='';"></a>
			</div>

			<div class="list" ng-if="visibleArea === 'password'">
				<div class="item item-input" style="border-radius:0;">
					<input name="input_old_pwd" type="password" class="input" style="width: 100%" maxlength="20"
						   placeholder="请输入当前密码" ng-pattern="/^[a-zA-Z0-9]+$/"
						   required ng-model="pwd._old" password-toggle>
				</div>
				<div class="item item-input" style="border-radius: 0;">
					<input name="input_pwd" type="password" class="input" style="width: 100%" maxlength="20"
						   placeholder="请输入新密码" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"
						   required ng-model="pwd._new" password-toggle>
				</div>
				<div class="item item-input"
					   style="border-radius:0;">
					<input name="input_pwd_confirm" type="password" class="input" style="width: 100%" maxlength="20"
						   placeholder="请再次输入新密码" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"
						   required ng-model="pwd._confirm" password-toggle>
				</div>

				<p style="width: 100%;text-align: center;margin-top: 15px;font-size: 0.8em">密码要求为6-20位数字与字母组合</p>

				<div style="width: 100%;text-align: center;margin-top: 20px">
					<button class="button button-balanced" style="width: 70%;" ng-click="save()"
							ng-disabled="infoForm.$invalid">确定
					</button>
				</div>
			</div>

		
			<div class="item item-input" style="margin:20px 15px 0px 15px;border-radius: 5px;" ng-if="visibleArea === 'instruction'">
				<textarea name="chatInput" style="height: 180px;padding-top: 6px;padding-bottom: 6px;margin-right: 7px;margin-left:-5px;"
				 placeholder="限300字以内~"  maxlength="300" required ng-model="user.instruction"></textarea>
			</div>
			

			<ion-list class="list" ng-if="visibleArea === 'children'">
				<p style="padding: 15px;" ng-if="user.student.length>1">请点击下方"<span style="color: #0c60ee;border: 0">选定</span>"以设置要查看的孩子信息</p>
				<ion-item class="item item-thumbnail-left item-avatar box-border" collection-repeat="child in user.student" style="position: relative">
					<img src="img/icon/default_student.png" ng-src="{{child.logo}}"   >
					<h2>{{child.student_name}}</h2>
					<p style="padding-right: 80px;">{{child.school.schoolName}}</p>
					<p>{{child.classno.className}}</p>

					<button class="button" ng-if="user.student.length>1" ng-click="setDefaultChild(child)" ng-class="defaultChildID!=child.id?'btn-type-positive':'btn-text_style-positive'" style="position: absolute;right: 0;top: 3px;">
						{{defaultChildID!=child.id?'选定':'已选定'}}
					</button>
					<button class="button btn-type" ng-if="user.student.length>1" ng-click="selectImage(child)" style="position: absolute;right: 0;bottom: 3px;min-height: 25px;padding: 0 10px;">
						更改头像
					</button>
					<button class="button btn-type" ng-if="user.student.length==1" ng-click="selectImage(child)" style="position: absolute;right: 0;bottom: 20px;min-height: 35px;padding: 0 10px;">
						更改头像
					</button>
					
				</ion-item>
                <input type="file" accept="image/*"   id="childCapture" name="file" class="mFileInput"   style="display:none;"  onchange="angular.element(this).scope().getFile(this.files)" /> 
			</ion-list>

		</ion-content>
	</form>

</ion-view>
