<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id"
                ng-options="item.id as item.className  for item in classes" ng-change="loadData()" required>
            </select>
            <span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
        <button class="button button-icon " ng-click="goMyPortrait()"
            style="font-size: 15px;color: white;padding-top: 3px;">
            我的人像
        </button>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div style="background:white;height:62px;padding-top:10px;">
            <div class="item item-input" id="item-search"
                style="margin-bottom: 5px;margin:0px 15px 15px 15px;background:white !important; ">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="搜索本班学生" ng-model="selected.add_search" maxlength="20"
                    class="input" /><img ng-if="selected.add_search.length>0" src="img/icon/close.png"
                    ng-click="selected.add_search='';" style="width: 16px;height: 16px;margin-right: 10px;" />
            </div>
        </div>

        <ion-list class="list">
            <div class="item" ng-repeat="item in filtered = (stuList | filter: {userName: selected.add_search})"
                style="margin:10px;border-radius:5px;border:none;padding:0px;">
                <img src="img/icon/person.png" ng-src="{{item.userImgSrc?item.userImgSrc:item.userImgthumb}}"
                    style="width: 64px;height: 64px;margin:12px;float: left;object-fit: cover;"
                    ng-click="viewImages( item, $index,$event)" on-img-cache />
                <div style="float: left;margin-top: 18px;">
                    <h2>{{item.userName}}<span style="color:#666;font-weight:400;margin-left:5px;"></span></h2>
                    <div style="font-size:15px;margin-top:3px;"
                        ng-style="{'color':item.regcStatus===0?'#3C73CE':item.regcStatus===1?'orange':item.regcStatus===2?'#666':'red'}">
                        {{getTypeStr(item.regcStatus)}}</div>
                    <div ng-if="item.regcStatus===2" style="font-size:13px;color:#999;margin-top:1px;">
                        {{item.regcTime.substr(0,16)}}</div>
                </div>

                <div ng-if="item.regcStatus!=1" class="button button-clear"
                    ng-style="{'background':item.regcStatus===0?'#2bcab2':'orange'}"
                    style="font-size:14px;color:white;height:30px;border-radius: 15px;min-height:30px;line-height: 30px;position: absolute;top: calc(50% - 15px);right:10px;padding: 0px 10px;"
                    ng-click="selectImg(item)">
                    {{item.regcStatus===0?'立即采集':'重新采集'}}
                </div>
                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;"
                    onchange="angular.element(this).scope().getFiles(this.files)" />
            </div>
        </ion-list>

        <div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
            • 该班未找到该学生
        </div>
    </ion-content>
</ion-view>