<ion-view hide-nav-bar="true" class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower" >
		<!-- <ion-header-bar class="bar bar-header bar-follower" style="height:290px;padding:0px;background:rgb(68, 223, 188);"
		ng-click="hideTip()">
		<div class="setting_header"></div> -->
		<h1 class="title bar-follower-font">设置</h1>
		<!-- <div style="background:white;width:100%;position:absolute;top:130px;height:160px;"></div>
		<img ng-src="{{user.logo}}" ui-sref="useProfile" id="focusItem" ng-style="{'top':'74px'}"
			style="width:100px; height:100px; border-radius:50%; border: 2px solid white;position:absolute;left:calc(50% - 50px);"
			   />
		<div
			style="width:28px;height:28px;border-radius:50%;background:rgb(255,139,55);border:2px solid white; position:absolute;top:142px;right:calc(50% - 50px);color:white;font-size:15px;text-align: center;padding-top: 1px;">
			{{role}}</div>
		<div
			style="font-weight: 500;font-size:18px;width:100%;height:20px;position:absolute;top:180px;text-align: center;">
			{{user.name}}</div>
		<p style="font-size: 16px;color: #999;width:100%;height:20px;position:absolute;top:205px;text-align: center;">
			用户ID: {{user.id}}</p>
		<div class="row"
			style="background:white;padding: 12px 10px;position:absolute !important;top:240px;border-top: 1px solid #ddd;">
			<div class="col-50" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;color:#666;"
				ng-click="showContent(1)">
				<img src="img/icon/icon-building.png"
					style="width: 17px;margin-right: .5em;vertical-align: middle;margin-left:15px;">
				{{schoolName}}
			</div>
			<div class="col-50"
				style="border-left: 1px solid #ddd;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;color:#666;"
				ng-click="showContent(2)">
				<img src="img/icon/icon-bookmark.png"
					style="height: 19px;margin-left: 1em;margin-right: .5em;vertical-align: middle;">
				{{className}}
			</div>
		</div> -->
	</ion-header-bar>
	<ion-content padding="false"  class="has-header" overflow-scroll="true">
		<div style="text-align: center;width: 100%;padding-top: 15px;background-color: #2bcab2;" ui-sref="useProfile" ng-click="hideTip()">
			<img ng-src="{{user.logo}}" id="focusItem"
				 style="width:106px; height:106px; border-radius:50%; overflow:hidden;display:block; margin:auto; border: 2px solid #FFFFFF7F;" />
			<div class="spacer" style="width: 300px; height: 15px;"></div>
			<span style="font-size: 18px; color: #ffffff;">{{user.name}}</span>
			<span style="color: white;margin-left: 5px;border-radius: 1em;padding: 3px 8px;font-size: small"
				  class="color-warning">{{role}}</span>
			<p style="margin-top: 7px;font-size: 16px;color: #ffffff"> 用户ID: {{user.id}}</p>
			<div class="spacer" style="width: 300px; height: 10px;"></div>
		</div>
		<div class="row" style="background-color: white;padding: 1em 1.5em">
			<div class="col-50" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" ng-click="showContent(1)">
				<img src="img/icon/icon-building.png" style="width: 17px;margin-right: .5em;vertical-align: middle;">
				{{schoolName}}
			</div>
			<div class="col-50" style="border-left: 1px solid #2bcab2;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" ng-click="showContent(2)">
				<img src="img/icon/icon-bookmark.png" style="height: 19px;margin-left: 1em;margin-right: .5em;vertical-align: middle;">
				{{className}}
			</div>
		</div>
		<div style="padding: 0 0 0 10px;margin-top: 10px;background-color: #FFFFFF">
			<ion-item class="item-icon-left item-icon-right no-border-radius no_border_top"
				ng-click="openEditView('children')" ng-if="isParent">
				<img class="icon setting-icon" src="img/icon/setting_child.png" />我的孩子
				<i class="icon" style="right: 24px;">
					<span style="font-size: 16px;">{{childName}}
						<i class="ion-ios-arrow-right"></i>
					</span>
				</i>
			</ion-item>
			<ion-item class="item-icon-left item-icon-right no-border-radius" ui-sref="order"
				ng-if="isParent && showOrder">
				<img class="icon setting-icon" src="img/icon/setting_order.png" />我的订单
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>

			<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="notification"
				ng-class="isParent?'':'no_border_top'">
				<img class="icon setting-icon" src="img/icon/setting_notify.png" />通知设置
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</div>
		<div style="padding: 0 0 0 10px;margin-top: 10px;background-color: #FFFFFF">
			<ion-list>
				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_top" ui-sref="suggest">
					<img class="icon setting-icon" src="img/icon/setting_feedback.png" />意见反馈
					<div style="margin-right: 10px;" class="public-notice-badge" ng-if="noReadNum>0&&noReadNum<1000"
						item-end>{{noReadNum}}</div>
					<div style="margin-right: 10px;" class="public-notice-badge" ng-if="noReadNum>999" item-end>
						{{::noReadNum}}</div>
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius " ui-sref="versionIntroduce"
					ng-if="!isWeixin">
					<img class="icon setting-icon" src="img/icon/setting_version.png" />版本说明
					<div style="margin-top: 8px; width:10px;height: 10px;background-color: red;border-radius: 5px;"
						ng-if="!isRead" item-end></div>
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom"
					ng-if="isAndroid&&!isWeixin" ng-click="checkUpdate()">
					<img class="icon setting-icon" src="img/icon/setting_update.png" />检查更新
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius" ng-click="clearCache()"
					ng-if="!isWeixin">
					<img class="icon setting-icon" src="img/icon/delete.png" />清除缓存
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="userProtocol">
					<img class="icon setting-icon" src="img/icon/setting_protocol.png" />用户协议
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>

				<ion-item class="item-icon-left item-icon-right no-border-radius no_border_bottom" ui-sref="about">
					<img class="icon setting-icon" src="img/icon/setting_about.png" />关于我们
					<i class="icon ion-ios-arrow-right"></i>
				</ion-item>
			</ion-list>
		</div>
		<div class="spacer" style="width: 100%; height: 20px;"></div>

		<div style="width: 100%;text-align: center">
			<button class="button out" ng-click="doLogout()" style="width: 70%;">退出当前账号</button>
		</div>
		<div style="padding-top: 15px;margin-bottom:15px;line-height: 20px;width: 100%;"></div>

	</ion-content>
</ion-view>