<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font" >版本说明</h1>
	</ion-header-bar>
	<ion-content padding="true" style="background-color: #FFFFFF;">
		
		<div style="margin-top: 15px;" compile="text" id="versionIntroContent"></div>

		<div  class="empty-list-tip"   ng-if="!text">
            <img src="img/empty_content.png"  >
            <p>暂无版本说明</p>
        </div>
	</ion-content>
</ion-view>