<div>
    <form name="evaluateForm" novalidate>
        <div class="item item-input" style="border:none;padding:8px">
            <ion-label style="color:grey;width:50px;font-size:16px;">名称:</ion-label>
            <input type="text" maxlength="8" placeholder="不超过8个中文字"
                style="background:#f3f4f6;border-radius:4px;padding:5px;height:34px;line-height:34px;max-width:calc(100% - 70px);font-size:15px;margin-left:5px;" required />
        </div>
        <div class="item " style="border:none;padding:8px;">
            <ion-label style="color:grey;width:50px;float: left;">分值:</ion-label>
            <div class="row main-row"
                style="padding:0px;position:relative;left:-5px;top:-8px; width:calc(100% - 50px) !important;">
                <div class="col main-col" ng-click="chooseScoreOption(score)" ng-repeat="score in select.scores"
                    ng-style="{'background':select.addScore==score?'orange':'#f3f4f6','color':select.addScore==score?'white':'grey'}"
                    style="min-width:36px;height:36px;line-height:36px;text-align:center;font-size:15px;border-radius:2px;margin-left: 10px;margin-top:10px;max-width: 36px;padding:0px;">
                    {{optionType=='a'?'+':'-'}}{{score}}</div>
            </div>
        </div>
    </form>
    <div class="button evaluate-button" style="width:80px;margin-left:35px;min-height: 40px;border-color: none;"
        ng-click="closeOptionModal()">取消</div>
    <div class="button evaluate-button"
        style="width:80px;background: orange;color:white;margin-left: 30px;min-height: 40px;" ng-click="commit()" ng-disabled="evaluateForm.$invalid">确定
    </div>

</div>