<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">编辑评语</h1>
    </ion-header-bar>

    <ion-content>
        <div class="row main-row" style="border-bottom:1px solid #ddd;height:44px;line-height:44px;font-size: 17px;">
            <div class="col-50" style="text-align:center;height:43px;"
                ng-style="{'color':select.index===1?'orange':'#333','border-bottom':select.index===1?'2px solid orange':'none'}"
                ng-click="select.index=1">加分项</div>
            <div class="col-50" style="text-align:center;height:43px;"
                ng-style="{'color':select.index===2?'orange':'#333','border-bottom':select.index===2?'2px solid orange':'none'}"
                ng-click="select.index=2">减分项</div>
        </div>
        <div class="space" style="width:100%;height:15px;"></div>

        <div class="row main-row" style="padding:8px;" ng-if="select.index===1">
            <div class="col-33 evaluate-edit-col" style="position:relative;"
                ng-repeat="item in select.addOptions track by $index">
                <div class="col-inner-div">
                    <div>{{item.name}}</div>
                    <div>+{{item.score}}</div>
                </div>
                <img src="img/icon/delete2.png"
                    style="height:25px;width:25px;position: absolute;right: -3px;top:-10px;z-index: 9999;"
                    ng-click="reduceOption($index,'a')" />
            </div>
            <div class="col-33  evaluate-edit-col" ng-click="addOption('a')">
                <div class="valuate-edit-add">
                    添加
                </div>
            </div>
        </div>

        <div class="row main-row" style="padding:8px;" ng-if="select.index===2">
                <div class="col-33 evaluate-edit-col" style="position:relative;"
                ng-repeat="item in select.reduceOptions track by $index">
                <div class="col-inner-div" style="background:#6c99e7!important;">
                    <div>{{item.name}}</div>
                    <div>-{{item.score}}</div>
                </div>
                <img src="img/icon/delete2.png"
                    style="height:25px;width:25px;position: absolute;right: -3px;top:-10px;z-index: 9999;"
                    ng-click="reduceOption($index,'r')" />
            </div>
            <div class="col-33  evaluate-edit-col" ng-click="addOption('r')">
                <div class="valuate-edit-add" style="background:#6c99e7 !important;">
                    添加
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>