<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">选择评价项</h1>
        <button class="button button-outline" style="color: white;font-size:15px;padding-top: 3px;"
            ng-click="evaluateResult()" >
            评价结果
        </button>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <div ng-repeat = "groups in list">
            <h2 style="background:#f3f4f6;height:44px;line-height: 44px;padding:0px 13px;font-size: 17px;font-weight:400;margin-bottom: 0px;">{{groups.typeName}}</h2>
            <div class="item" ng-click="showEvaluateModal(group)" ng-repeat = "group in groups.group track by $index" ng-style="{'border-bottom':$index==groups.group.length-1?'none':'1px solid #ddd'}" style="border:none;margin:0px;padding:13px 15px;position: relative;font-size:15px;color:#666;">
                <div style="white-space: normal;float: left;width:calc(100% - 25px);margin-right: 5px;">{{group.itemName}}</div>
                <img src="img/icon/check.png" class="evaluate-check-img" style="width:25px;height:25px;position: absolute;top:calc(50% - 12px);right:10px;" ng-if="group.completed"/>
            </div>
        </div>
    </ion-content>
</ion-view>