<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id"
                ng-options="item.id as item.className for item in classes" ng-change="loadData()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list class="list">
            <div ng-repeat="item in list">
                <div style="color:#666;font-size:15px;padding: 15px 16px 0px 15px;font-weight: 500;font-size: 15px;">{{item.createTime.substr(0,16)}}
                </div>
                <div class="item" ng-click="goToSelectEvaluateOption(item)"
                    style="border:none;margin:5px 10px;border-radius:5px;padding-top:8px;font-size: 15px;">
                    <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 6px;margin-bottom: 6px;"
                        class="list-title-set">{{item.title}}</h2>
                    <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                    <div style="margin-top:7px;"><span style="color:#666;">评比时段：</span><span
                            style="color:#333;">{{item.startDate}}~{{item.endDate}}</span></div>
                    <div style="margin-top:7px;"><span style="color:#666;">已完成评分项数：</span><span
                            style="color:#333;">{{item.completeItemNum?item.completeItemNum:0}}</span></div>
                    <div style="margin-top:7px;"><span style="color:#666;">未完成评分项数：</span><span
                            style="color:#333;">{{item.notCompleteItemNum?item.notCompleteItemNum:0}}</span></div>
                </div>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>6"> 没有更多了</div>
        <div class="empty-list-tip" ng-if="list&&list.length==0">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>
    </ion-content>
</ion-view>