<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            {{assessTitle}}
        </h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div   ng-repeat = "item in list | orderBy: 'score':true" class="item" ng-click="goToDetail(item)"  style="border:none;margin:10px;border-radius:5px;padding:13px;position: relative;">
                <img style="width:45px;height:45px;border-radius:50%;float: left;margin-top:5px;"  src="img/icon/default_student.png" ng-src="{{item.logo}}"
                      >
                <h2  style="left: 15px;width:calc(100% - 150px);position: relative;">
                     <div style="padding-bottom:8px;border-bottom:1px solid #ddd;">{{item.studentName}}</div>
                     <div style="color:#666;padding-top:8px;">{{item.phoneNumber}}</div>
                </h2>  
                <div style="position: absolute;right:10px;top:0px;width:45px;height: 72px;" ng-if="item.score&&item.score!='null'">
                   <img src="img/icon/evaluate_score.png" style="width:45px;height:72px;"/> 
                   <div style="font-weight:500;color:#666;font-size:17px;width:30px;text-align:center;position:absolute;top:36px;right:calc(50% - 15px);">{{item.score}}</div>
                </div> 
            </div>
        </ion-list>

    </ion-content>
</ion-view>