<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideEvaluateStuModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">{{assessTitle}}</h1>
    </ion-header-bar>
    <form name="evaluateForm" novalidate>
        <ion-content style="background:#f3f4f6;">
            <ion-list>
                <div class="item"
                    style="border:none;padding-left:13px;white-space: normal;padding:10px 13px;background:#f3f4f6;">
                    {{itemTitle}}</div>
                <div class="item" style="border:none;margin:10px;border-radius:5px;padding:13px;"
                    ng-repeat="contact in studentList">
                    <img style="float: left" class="chat_avatar" src="img/icon/default_student.png"
                        ng-src="{{contact.logo}}"   >
                    <h2 style="margin-left: 60px;margin-top: 0px;border-bottom: 1px dashed #ddd;padding-bottom: 12px;">
                        {{contact.studentName}}<span style="margin-left:15px;color:#666;">{{contact.phoneNumber}}</span>
                    </h2>

                    <input type="number" ng-model="contact.score" placeholder="{{minScore}}-{{maxScore}}的整数"   oninput="if(value.length>3)value=value.slice(0,3)" 
                        style="border-bottom :1px solid #ddd;height:28px;width:105px;margin-left:62px;margin-top:10px;padding:0px 5px;font-size:16px;"
                        required />
                </div>
                <div style="width:100%;height:55px;"></div>
            </ion-list>
        </ion-content>
    </form>

    <div class="bar bar-footer bar-light" style="height:56px;padding: 0px;">
        <div class="button" ng-disabled="evaluateForm.$invalid" ng-click="commitStudentEvaluate()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
            提交
        </div>
    </div>
</ion-modal-view>