<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">学生评价</h1>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <img src="img/icon/evaluate_banner.jpg" style="width:100%;height: 180px;" />
        <ion-row class="row main-row" style="background:#f3f4f6;padding: 2px;">
            <ion-col class="evalute-enter " style="margin: 16px 6px 8px 10px;"
                ng-click="goToFunction('evaluateStudent')">
                <img src="img/icon/evaluate_student.png" />
                <span style="color:rgb(59, 114, 206);">评价学生</span>
            </ion-col>

            <ion-col class="evalute-enter" style="margin: 16px 10px 8px 6px;" ng-click="goToFunction('editComments')">
                    <img src="img/icon/evaluate_edit_comment.png" />
                    <span style="color:rgb(44, 202, 178);">编辑评语</span>
            </ion-col>

            <ion-col class="evalute-enter" style="margin: 8px 6px 16px 10px;" ng-click="goToFunction('classStar')">
                    <img src="img/icon/evaluate_class_star.png" />
                    <span style="color:rgb(254, 183, 54);">班级之星</span>
            </ion-col>

            <ion-col class="evalute-enter" style="margin: 8px 10px 16px 6px;"
                ng-click="goToFunction('evaluateStatistical')">
                <img src="img/icon/evaluate_statistical.png" />
                <span style="color:rgb(254, 138, 54);"> 评价统计</span>
            </ion-col>
            
           
        </ion-row>
    </ion-content>
</ion-view>