<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">宝宝视频</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div class="item" style="margin:10px;border:none;border-radius:5px;padding:10px 13px;" ng-repeat="item in videoList" ng-click="onVideClick(item)">
            <h2 class="list-title-set">{{item.cameraName}}</h2>
            <div style="margin-top:8px;font-size:15px;color:#666;white-space: normal;width:calc(100% - 50px);">{{item.babyVideoTimeIntervalStr}}</div>
                <img src="img/icon/lock.png" ng-if="!viewable(item)" style="width:32px;height:32px;position: absolute;right:20px;top:calc(50% - 16px);" />
            </div>
        </ion-list>
        <div class="empty-list-tip" style="margin-top:40%" ng-if="videoList&&videoList.length===0">
            <img src="img/icon/noData.png" />
            <p style="margin-top:15px;font-size:17px;">暂无数据</p>
            <p style="font-size:15px;">可在上学日</p>
            <div style="color:#2bcab2;font-size:15px;">08:30~17:30</div>
            <div style="color:#666;margin-top:6px;font-size:15px;">时段内查看小孩教室实时画面</div>
        </div>
    </ion-content>
</ion-view>