<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">宝宝视频</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <video preload="auto" autoplay="autoplay" style="width: 100%;" controls>
            <source ng-src="{{videoUrl}}" type="video/mp4"/>
        </video>
        
    </ion-content>
</ion-view>