<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">确认订单</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin: 0px;padding-top:0px;">
            <div style="background:#2bcab2;padding:13px 15px;">
                <div style="font-size:17px;color:white;font-weight:500;">商品信息</div>
                <!-- <div style="height: 1px;margin-top:10px;width:100%;background:#ddd;"></div> -->
                <div class="item item-thumbnail-left video-order">
                <img src="" ng-src="{{goods.imgUrl}}" style="height:80px;width:110px;max-width: 110px;max-height: 95px;top:15px;" />
                <h2 style="font-size: 17px;white-space: normal;margin-right: 13px;margin-top: 4px;">{{goods.goodsName}}</h2>
                <div style="font-size: 25px;color:#ff8c36;font-weight: 500;margin-top: 7px;margin-left: 7px;">¥ {{goods.price/100}} 元</div>
                    <div style="float:right;width:140px;padding-left: 10px;">
                        <span style="margin-top: 11px;color:#666;margin-right: 0px;float: left;">数量:</span>
                        <div class="button no-border-line" ng-click="editGoodsCount('r')"  style="min-height: 24px;height:24px;line-height:24px;width: 24px;min-width:24px;color:#666;float: left;margin-top: 10px;font-size:20px;padding:0px;background: none;">-</div>
                        <input type="number" pattern="[0-9]*" ng-model="goods.count"
                            style="width:40px;height:24px;border:1px solid #ddd;text-align: center;float: left;margin-top: 10px;background:#eee;color:#666;line-height: 24px;padding: auto;"
                            placeholder="请输入正整数">
                            <div class="button no-border-line" ng-click="editGoodsCount('a')" style="min-height: 24px;height:24px;line-height:24px;width: 24px;min-width:24px;color:#666;float: left;margin-top: 10px;font-size:20px;padding:0px;background: none;">+</div>
                        <!-- <img src="img/others/add.png" ng-click="editGoodsCount('a')"
                            style="width: 20px;height:20px;float: left;margin-left:8px;margin-top: 12px;" /> -->
                    </div>
                </div>
            </div>

            <div style="width: 100%;height:10px;background:#f3f4f6;"></div>

            <div style="font-size:15px;padding:15px;border-bottom: 10px solid #f3f4f6;color:#666;">
                <div style="font-size:16px;color:#444;">费用说明:</div>
                <div style="margin-top:10px;">1、开通后观看孩子在幼儿园的直播画面。</div>
                <div>2、购买数量的单位为月。</div>
                <div>3、订单支付成功后，可在“设置”-“我的订单”中查看支付结果。</div>
                <div>4、如果操作无法继续或有疑问，可以拨打小跟班客服热线: <a ng-href="tel:400-100-8733" style="color: #2acbb2;">400-100-8733</a></div>
            </div>

            <div class="item" style="padding:15px;color:#333;border:none;border-bottom:1px solid #ddd;">
                <div style="font-size:16px;width:100px;float: left;">实付金额:</div>
            <div style="color: orange;font-size: 17px;float: right;">¥ {{goods.price*goods.count/100}} 元</div>
            </div>

            <div style="width: 100%;text-align: center;padding: 20px 50px;margin-bottom: 30px;" >
                <button class="button button-block" style="background-color: #108ee9;color: #FFFFFF" ng-click="reqPayWith(0)" >支付宝支付</button>
                <button class="button button-block" style="background-color: #02d96a;color: #FFFFFF;margin-top:20px;" ng-click="reqPayWith(1)">微信支付</button>
            </div>

            <!-- <div style="padding:15px;margin-top:0px;">
                <div style="color:#333;font-size:16px;">选择支付方式:</div>
                <div class="row" style="margin-top: 10px;">

                    <div class="col-33" style="text-align: center;" ng-click="reqPayWith(0)">
                        <img src="img/others/alipay.png" style="width: 48px;height:48px;" />
                        <div style="font-size: 15px;color:#666;text-align: center;">支付宝支付</div>
                    </div>
                    <div class="col-33" style="text-align: center;" ng-click="reqPayWith(1)">
                        <img src="img/others/wechat.png" style="width: 48px;height:48px;" />
                        <div style="font-size: 15px;color:#666;text-align: center;">微信支付</div>
                    </div>

                </div>
            </div> -->

        </div>

    </ion-content>
</ion-view>