<img src="img/approval/close.png" style="float:right;position:absolute;top:-15px;right:-10px;width:28px;height:28px;"
    ng-click="cancelChoose()">
<div >
    <div style="padding:10px 15px;">宝宝视频属于增值服务，需要付费开通，开通后可实现观看宝宝在校的视频。</div>
    <div class="button" ng-click="openVideoPermissions()" style="min-height:40px;height:40px;line-height:40px;width:150px;margin:15px calc(50% - 75px);background:#2bcab2;color:white;">立即开通</div>
</div>