<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">日程安排</h1>
    </ion-header-bar>

    <ion-content class="date-arrange" style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="calendar" ng-style="{'height':(getFirstDay===5&&list[list.length-1]===31)||getFirstDay==6&&list[list.length-1]>29?'312px':'285px'}">
            <div class="row text-center date-title">
                <div class="col col-10 left_arrow" id="prev" ng-click="preMonth($event)"> <button class="button-clear"
                        style="font-size:22px;color:#2bcab2;"> <i class="icon ion-chevron-left"></i></button></div>
                <div class="col col-80 text-center">
                    <h3 style="color:#333;font-weight:400; font-size: 22px;">
                        <span id="calendar-year">{{getYear}}</span>年<span id="calendar-title">{{getMonth}}</span>月
                    </h3>
                    <!-- <h4 class="green small" >Year</h4> -->
                </div>
                <div class="col col-10 right_arrow" id="next" ng-click="nextMonth($event)"> <button class="button-clear"
                        style="font-size:22px;color:#2bcab2;"> <i class="icon ion-chevron-right"></i></button></div>

            </div>

            <div class="body" style="background:white;">
                <div class="lightgrey body-list" style="color:#666;">
                    <ul>
                        <li>日</li>
                        <li>一</li>
                        <li>二</li>
                        <li>三</li>
                        <li>四</li>
                        <li>五</li>
                        <li>六</li>
                      
                    </ul>
                </div>
                <div class="darkgrey body-list">
                    <ul>
                        <li ng-repeat="item in list track by $index">
                            <div ng-click="changeSelectDay(item)" ng-class="currentDateIsOnArrange(item)===1?'greenbox':currentDateIsOnArrange(item)===2?'lightgreenbox':currentDateIsOnArrange(item)===3?'current-date-box':'darkgrey'">
                                {{item}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ion-list>
            <div class="arrange-item" ng-repeat="arrange in arrangeList" style="margin: 15px;">
                <h2 style="font-size:18px;color:#444;font-weight: 500;">{{arrange.date.substr(5,5)}} <span style="color:#666;font-size:16px;margin-left:5px;">日程安排</span></h2>
                <div class="item  item-thumbnail-left "   style="border:none;margin:10px 0px;border-radius: 5px;min-height:100px;">
                    <img src="img/icon/arrange_clock.png" style="max-width:16px;margin-left:5px;"/>
                    <h2 style="color:orange;padding-left:0px;font-size:18px;">{{arrange.reminderTime.substr(0,16)}}</h2>
                    <div style="color:#666;font-size:16px;width:calc(100% - 70px);white-space:normal;margin-top:6px;">{{arrange.schedule}}</div>
                    <div style="float:right;position: absolute;top:calc(50% - 15px);right:10px;">
                        <div class="button button-clear" ng-click="editOrDeleteArrange('edit',arrange)" style="min-width:30px;width:30px;min-height:30px;height:30px;text-align: center;"><img src="img/icon/evaluate_edit.png"  style="width:30px;height:30px;"/></div>
                        <div class="button button-clear" ng-click="editOrDeleteArrange('delete',arrange)"  style="min-width:30px;width:30px;min-height:30px;height:30px;margin-left: 6px;text-align: center;"> <img src="img/icon/delete1.png" style="width:30px;height:30px;"/></div>
                    </div>
                </div>
            </div>
            <div  style="display: block;text-align: center;margin-top:8%;" ng-if="arrangeList&&arrangeList.length==0">
                <img src="img/empty_content.png" style="vertical-align: middle;width:40%;">
                <p style="color:#666;margin-top:-5px;">暂无数据</p>
            </div>
           <div style="width:100%;height:56px;"></div>
        </ion-list>
       
    </ion-content>
    <div class="bar bar-footer bar-light" style="height:56px;padding: 0px;" ng-if="footerShow">
        <div class="button" ng-click="addDateArrange()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;border:none !important;">
            添加日程安排</div>
    </div>
</ion-view>