<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">发布分组信息</h1>
        <button class="button button-outline" ng-if="!commitForm.$invalid&&!isLoading"  style="color:white;font-size:15px;padding-top: 3px;" ng-click="commit()">
            提交
        </button>
        <button class="button button-outline" ng-if="commitForm.$invalid||isLoading"   style="color: rgba(255, 255, 255, 0.5);font-size:15px;padding-top: 3px;" >
            提交
        </button>
    </ion-header-bar>
    <form name="commitForm" novalidate>
        <ion-content>
            <ion-list>
                <div class="item" style="margin:0px;font-size: 16px;border: none;height:50px;" ng-click="showType(1)">
                    <div style="color: #333;float: left;">信息类型</div>
                    <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
                    <div style="font-size:15px;float: right;margin-top: 3px;"
                        ng-style="{'color':select.farCategoryName?'#333':'#999'}">{{select.farCategoryName ?select.farCategoryName :'请选择'}}
                    </div>
                </div>
                <div style="width:100%;height:10px;background:#F3F4F6;"></div>

                <div class="item" style="margin:0px;font-size: 16px;border: none;height:50px;" ng-click="showType(2)">
                    <div style="color: #333;float: left;">细分类型</div>
                    <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
                    <div style="font-size:15px;float: right;margin-top: 3px;"
                        ng-style="{'color':select.subCategoryName?'#333':'#999'}">
                        {{select.subCategoryName?select.subCategoryName:'请选择'}}</div>
                </div>
                <div style="width:100%;height:10px;background:#F3F4F6;"></div>

                <div class="item " ng-click="chooseClassCount()"
                    style="margin:0px;font-size: 16px;border: none;height:50px;">
                    <div style="color: #333;float: left;">发布范围(班级数)</div>
                    <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
                    <div style="font-size:15px;float: right;margin-top: 3px;"
                        ng-style="{'color':select.selectClassCount>0?'#333':'#999'}">
                        {{select.selectClassCount>0?select.selectClassCount:'请选择'}}</div>
                </div>
                <div style="width:100%;height:10px;background:#F3F4F6;"></div>

                <div class="item" style="margin:0px;font-size: 16px;border: none;border-bottom: 1px solid #ddd;color:#333;padding:10px 15px;">
                    <input style="padding:7px 7px;width:100%;font-size:16px;border:none;" placeholder="标题（最多20字）"
                        ng-model="select.title" maxlength="20" required/>
                </div>

                <div class="item" style="margin:0px;font-size: 16px;border: none;border-bottom: 1px solid #ddd;">
                    <textarea name="chatInput"
                        style="width:100%;height: 130px;font-size:16px; padding: 0px 8px;background-color:white;border-radius: 8px;color:#333;border:none;"
                        placeholder="内容（最多500字）" maxlength="500" ng-model="select.content" required>
                </textarea>
                </div>

                <div class="row flex-row" style="padding: 13px;margin-top: 2px;">
                    <div class="col pic-grid" ng-repeat="item in reportImgs track by $index"
                        style="position: relative;">
                        <img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;"
                            src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
                        <img ng-src="{{item.data?item.data:item}}" style="max-width: 100%"
                            ng-click="preViewImages($index)" />
                    </div>
                    <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-click="selectImg()"
                        ng-if="reportImgs.length < 9">
                        <!-- <a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a> -->
                        <div class="button icon"><img src="img/others/Camera.png"
                                style="width:24px;height:24px;margin-top:13px;" /></div>
                    </div>
                    <input type="file" accept="image/*" id="capture" name="file" class="mFileInput"
                        style="display:none;" onchange="angular.element(this).scope().getFile(this.files)" />
                </div>
            </ion-list>
        </ion-content>
    </form>
</ion-view>