<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">详情</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="item" style="border:none;white-space: normal;">
                <h2 style="padding:2px 0px" class="list-title-set">{{detail.title}}</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 7px;"></div>
                <div style="font-size:13px;color:#999;margin-top:7px;">{{detail.author.chname}}&nbsp;&nbsp;{{detail.createTime.substr(0,16)}}</div>
                <div class="short-text-main"  ng-bind-html='detail.text'></div>
                <ion-gallery style="margin-top: 10px;margin-bottom: 6px;" ion-gallery-items="picUrls"
                    ion-gallery-row="3" ion-gallery-toggle="true" ng-if="picUrls.length>0"></ion-gallery>
            </div>

            <div style="background:#f3f4f6;height:10px;width:100%;"></div>
            <div style="font-size: 17px;color:#333;margin-left:16px;margin-top:15px;">发布范围</div>
            <div class="item" style="border:none;white-space:normal;padding:13px 13px;word-break:break-all;word-wrap:break-word;">
                	<small ng-repeat="className in classes" style="padding: 10px 6px;color: #333;font-size: 15px;white-space:normal;width:100%; ">{{className}}&nbsp;&nbsp;</small>
            </div>
        </ion-list>
    </ion-content>
</ion-view>