<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">分组信息</h1>
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="addGroup()" style="bottom: 50px;"></a>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="item" ng-repeat="item in list" style="border:none;margin:10px;border-radius:5px;" ng-click="goToDetail(item)">
                <div
                    style="font-size:16px;height:32px;line-height:32px;padding:0px 5px;max-width:90px;background:rgb(160,237,225);color:rgb(5,154,132);border-radius: 5px;text-align: center;font-weight: 500;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    {{item.categoryName}}</div>
                <div style="color:#999;font-size:15px;position: absolute;right:16px;top:20px;">{{item.createTime}}</div>
                <div style="height:1px;background:#ddd;margin-top:10px;"></div>
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 10px;margin-bottom: 5px;text-align:center;"
                    class="list-title-set">{{item.title}}</h2>
                <div style="color:#2bcab2;text-align:center;font-weight: 500;">{{item.classNum}}个班级</div>
            </div>
        </ion-list>

        <div class="empty-list-tip" ng-if="!list||(list&&list.length===0)">
            <img src="img/others/no_message.png">
            <p style="margin:10px">暂无信息</p>
            <p style="margin:10px">点击右下角图标即可发布组内通知和风采</p>
        </div>
        <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>9"> 没有更多了</div>
    </ion-content>
</ion-view>