<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            {{isParent?'缴费明细':title}}
        </h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">

        <div ng-if="funcType==='cla'" class="list">
            <div style="background:white;padding:10px 13px;color:orange;" ng-if="classFeeRemark">
                {{classFeeRemark}}
            </div>
            <div class="item" ng-repeat="item in studentFeeList"
                style="border:none;margin:10px;border-radius:5px;padding: 13px 13px 5px 13px;">
                <div style="float:left;">
                    <img src="img/icon/default_student.png" ng-src="{{item.student.headImgUrl}}"
                        style="width:45px;height:45px;border-radius:50%;"    />
                    <h2 style="text-align:center;max-width:65px;font-size:15px;">{{item.student.student_name}}</h2>
                </div>
                <div class="row"
                    style="margin-left:65px;width:calc(100% - 65px);margin-top:-5px;border-bottom: 1px solid #ddd;">
                    <div class="col col-33" style="text-align:center;color:#666;">减免/元</div>
                    <div class="col col-33" style="text-align:center;color:#666;">已缴/元</div>
                    <div class="col col-33" style="text-align:center;color:#666;">待缴/元</div>
                </div>
                <div class="row" style="margin-left:65px;width:calc(100% - 65px);margin-top:8px;">
                    <div class="col col-33" ng-click="deductIntroduction(item)" style="text-align:center;">
                        <a style="color:#2bcaba;" ng-style="{'border-bottom':item.deductaccount>0?'1px solid #2bcab2':'none'}">&nbsp;{{item.deductaccount/100}}&nbsp;</a></div>
                    <div class="col col-33" style="text-align:center;color:#333;">{{item.paidaccount/100}}</div>
                    <div class="col col-33" style="text-align:center;color:orange;">
                        {{(item.feePorject.account-item.paidaccount-item.deductaccount)/100}}</div>
                </div>
            </div>
            <!-- <div class="empty-list-tip" ng-if="studentFeeList&&studentFeeList.length==0">
                <img src="img/empty_content.png">
                <p>暂无数据</p>
            </div> -->
        </div>

        <div class="list" ng-if="funcType==='stu'">
            <!-- <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
            </ion-refresher> -->
          
            <div ng-if="!isParent" ng-repeat="item in myFeeDetailList" >
                <div style="color:#333;padding:15px 13px 7px 13px;">{{item.feePorject.feename}}</div>
                <div class="item" style="border:none;padding:0px;border-radius:5px;margin:0px 10px;">
                    <div class="item row" style="border:none;">
                        <div class="col col-33" style="text-align:center;color:#666;">应缴/元</div>
                        <div class="col col-33" style="text-align:center;color:#666;">减免/元</div>
                        <div class="col col-33" style="text-align:center;color:#666;">待缴/元</div>
                    </div>
                    <div class="item row" style="border:none;">
                        <div ng-click="chargeIntroduction(item)" class="col col-33" style="text-align:center;"><a style="color:#333;" ng-style="{'border-bottom':item.feePorject.account>0?'1px solid #333':'none'}">&nbsp;{{item.feePorject.account/100}}&nbsp;</a></div>
                        <div class="col col-33" ng-click="deductIntroduction(item)" style="text-align:center;" >
                            <a style="color:#2bcaba;" ng-style="{'border-bottom':item.deductaccount>0?'1px solid #2bcab2':'none'}">&nbsp;{{item.deductaccount/100}}&nbsp;</a></div>
                        <div class="col col-33" style="text-align:center;color:orange;">{{item.arrearsAccount/100}}</div>
                    </div>
                </div>
            </div>

            <div ng-if="isParent" ng-repeat="item in myFeeDetailList" ng-click="goToDetail(item,'cla')">
                <div style="color:#333;padding:15px 13px 7px 13px;">{{item.feePorject.feename}}</div>
                <div class="item" style="border:none;padding:0px;border-radius:5px;margin:0px 10px;">
                    <div class="item row" style="border:none;">
                        <div class="col col-25" style="text-align:center;color:#666;">应缴/元</div>
                        <div class="col col-25" style="text-align:center;color:#666;">减免/元</div>
                        <div class="col col-25" style="text-align:center;color:#666;">已缴/元</div>
                        <div class="col col-25" style="text-align:center;color:#666;">待缴/元</div>
                    </div>
                    <div class="item row" style="border:none;">
                        <div ng-click="chargeIntroduction(item)" class="col col-25" style="text-align:center;"><a style="color:#333;" ng-style="{'border-bottom':item.feePorject.account>0?'1px solid #333':'none'}">&nbsp;{{item.feePorject.account/100}}&nbsp;</a></div>
                        <div class="col col-25" ng-click="deductIntroduction(item)" style="text-align:center;" >
                            <a style="color:#2bcaba;" ng-style="{'border-bottom':item.deductaccount>0?'1px solid #2bcab2':'none'}">&nbsp;{{item.deductaccount/100}}&nbsp;</a></div>
                        <div class="col col-25" style="text-align:center;color:#666;">{{item.paidaccount/100}}</div>
                        <div class="col col-25" style="text-align:center;color:orange;">{{item.arrearsAccount/100}}</div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="empty-list-tip"
            ng-if="(funcType==='cla'&&studentFeeList&&studentFeeList.length==0)||(funcType==='stu'&&myFeeDetailList&&myFeeDetailList.length==0)">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>
    </ion-content>
</ion-view>