<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id"
                ng-options="item.id as item.className for item in classes" ng-change="loadData()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="row" style="height:48px;font-size: 16px;background:white;">
            <div class="col col-50"
                ng-style="{'color':selected.tabIndex===1?'orange':'#333','border-bottom':selected.tabIndex===1?'2px solid orange':'none'}"
                style="text-align:center;height:40px;line-height: 40px;padding: 0px 13px;margin-top: 2px;"
                ng-click="selectTab(1)">
                班级收费统计</div>
            <div class="col col-50"
                ng-style="{'color':selected.tabIndex===2?'orange':'#333','border-bottom':selected.tabIndex===2?'2px solid orange':'none'}"
                style="text-align:center;height:40px;line-height: 40px;padding: 0px 13px;margin-top: 2px;"
                ng-click="selectTab(2)">
                学生收费统计</div>
        </div>
        <div class="list" ng-if="selected.tabIndex===1">
            <div ng-repeat="item in classFeeList" ng-click="goToDetail(item,'cla')">
                <div
                    style="color:#333;padding:15px 13px 7px 13px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                    {{item.feename}}</div>
                <div class="item" style="border:none;border-radius:5px;padding:0px;margin:0px 10px;">
                    <div class="item row" style="border:none;">
                        <div class="col col-33" style="text-align:center;color:#666;">应缴/元</div>
                        <div class="col col-33" style="text-align:center;color:#666;">减免/元</div>
                        <div class="col col-33" style="text-align:center;color:#666;">待缴/元</div>
                    </div>
                    <div class="item row" style="border:none;">
                        <div class="col col-33" style="text-align:center;color:#333;">{{item.account*item.studentnums/100.0}}
                        </div>
                        <div class="col col-33" style="text-align:center;color:#333;">{{item.deductaccount/100.0}}</div>
                        <div class="col col-33" style="text-align:center;color:orange;">
                            {{(item.account*item.studentnums-item.deductaccount-item.paidaccout)/100.0}}</div>
                    </div>
                </div>
            </div>

            <!-- <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
            </ion-infinite-scroll>
            <div class="load_no_more" ng-if="isMoreData&&classFeeList&&classFeeList.length>9"> 没有更多了</div> -->
        </div>
        <div class="list" ng-if="selected.tabIndex===2">
            <div class="item" ng-repeat="item in stuFeeList" ng-click="goToDetail(item,'stu')"
                style="border:none;margin:10px;border-radius:5px;padding: 13px;">
                <img src="img/icon/default_student.png" ng-src="{{item.student.headImgUrl}}"
                    style="width:45px;height:45px;border-radius:50%;float: left;"    />
                <div style="margin-left:58px;">
                    <h2 style="border-bottom:1px solid #ddd;padding-bottom:10px;">
                        <span>{{item.student.student_name}}</span>
                        <span style="color:#666;margin-left:15px;">{{item.student.phoneNumber.substr(0,3)}}***{{item.student.phoneNumber.substr(7,4)}}</span>
                    </h2>
                    <div style="color:#666;margin-top: 10px;">
                        <span>减免</span>
                        <span style="color:#333;font-weight:500;margin-left:2px;">{{item.deductaccount/100.0}}</span>元
                        <span style="margin-left:40px;">欠款</span>
                        <span style="color:orange;font-weight:500;margin-left:2px;">{{item.arrearsAccountCount/100.0}}</span>元
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-list-tip"
            ng-if="(selected.tabIndex===1&&classFeeList&&classFeeList.length==0)||(selected.tabIndex===2&&stuFeeList&&stuFeeList.length==0)">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>
    </ion-content>
</ion-view>