<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">考勤统计</h1>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div style="padding:10px 0px;background:white;" ng-if="list&&list.length>0">
            <div style="color:#999;font-size:15px;margin-left: 15px;">{{restData.startDate}} 至 {{restData.endDate}}</div>
            <div id="attendance_static_echat" style="width:100%;height: 200px;display: block;"></div>
            <div style="position:absolute;width:100%;top:108px;height:48px;">
                <div style="color:#666;font-size:12px;width:100%;text-align: center;">出勤天数/应到天数</div>
                <div style="color:#333;font-size:19px;font-weight:500;margin-top:6px;width:100%;text-align: center;">
                    {{restData.attActualDay}}/{{ restData.attShouldDay}}</div>
            </div>
            <div style="color:#ff8a36;font-size: 15px;text-align: center;width:100%;margin-top:-25px;"><span
                    style="font-size:20px;position: relative;top:2px;">•</span> 近30天考勤情况</div>
            <div class="row" style="margin:10px 50px 0px 50px;width:calc(100% - 100px);padding:0px;">
                <div class="col col-33"
                    style="text-align:center;font-weight:500;color:#333;font-size:19px;padding:0px;">{{restData.attLateDay}}</div>
                <div class="col col-33"
                    style="text-align:center;font-weight:500;color:#333;font-size:19px;padding:0px;">{{restData.attAskLeaveDay}}</div>
                <div class="col col-33"
                    style="text-align:center;font-weight:500;color:#333;font-size:19px;padding:0px;">{{restData.attNotreachedDay}}</div>
            </div>
            <div class="row" style="margin:0px 50px;width:calc(100% - 100px);padding:0px;">
                <div class="col col-33" style="text-align:center;color:#666;font-size:15px;padding:0px;">迟到</div>
                <div class="col col-33" style="text-align:center;color:#666;font-size:15px;padding:0px;">请假</div>
                <div class="col col-33" style="text-align:center;color:#666;font-size:15px;padding:0px;">缺勤</div>
            </div>
        </div>

        <div class="list">
            <div ng-repeat="item in list">
                <h2 style="font-size:16px;margin:15px 13px 8px 13px;">{{item.week}} <span
                        style="color:#666;font-size:16px;font-weight:400;margin-left:5px;">{{item.attendDay}}</span>
                </h2>
                <div class="item" style="border:none;margin:0px 10px;padding:8px;">
                    <div style="width:65px;float:left;text-align:center;"></div>
                    <div class="row" style="padding:0px;margin-left:65px;width:calc(100% - 65px);">
                        <div class="col-33" style="text-align:center;font-size:16px;color:#666;padding:0px;">到校时间</div>
                        <div class="col-33" style="text-align:center;font-size:16px;color:#666;padding:0px;">离校时间</div>
                        <div class="col-33" style="text-align:center;font-size:16px;color:#666;padding:0px;">考勤状态</div>
                    </div>
                    <div ng-repeat="attend in item.group">
                        <div
                            style="width:65px;float:left;text-align:center;color:#666;font-size:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                            {{attend.attTimeSlot?attend.attTimeSlot:'--'}}</div>
                        <div class="row" style="padding:0px;margin-left:65px;width:calc(100% - 65px);margin-top:10px;">
                            <div class="col-33" style="text-align:center;font-size:16px;color:#222;padding:0px;">
                                {{attend.inTimeStr?attend.inTimeStr:'--'}}</div>
                            <div class="col-33" style="text-align:center;font-size:16px;color:#222;padding:0px;">
                                {{attend.outTimeStr?attend.outTimeStr:'--'}}</div>
                            <div class="col-33" style="text-align:center;font-size:15px;color:#222;padding:0px;">
                                {{attend.attStatus?attend.attStatus:'--'}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="empty-list-tip"
            ng-if="list&&list.length===0">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>
    </ion-content>
</ion-view>