<ion-view hide-nav-bar="true" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">详细资料</h1>
	</ion-header-bar>
	<ion-content padding="false" class="has-header" style="background-color: #F3F5F4;">
		<div style="text-align: center;width: 100%;padding-top: 15px;background-color: #2bcab2;">
			<img src="img/icon/person.png" ng-src="{{SessionImage}}"   
				 style="width:106px; height:106px; border-radius:50%; overflow:hidden;display:block; margin:auto; border: 3px solid rgba(255,255,255,.5);"/>
			<div class="spacer" style="width: 300px; height: 15px;"></div>
			<span style="font-size: 20px; color: #ffffff;">{{SessionNick}} <small style="margin-left: 3px;font-weight: normal;">{{rolename}}</small></span>
			<div class="spacer" style="width: 300px; height: 10px;"></div>
		</div>

		<div class="spacer" style="width: 300px; height: 20px;"></div>
		<a  class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;" ng-if="!isTeacher">
			<img class="icon " src="img/school/Shape1.png" style="max-width:30px;max-height:22px; margin-top: 13px;margin-left:12px;"  alt=""/>
			<span style="margin-left:7px;">手机号码</span>
			<span style="float: right;color: #0a9dc7">{{phoneDes}}</span>
		</a>
		<a ng-href="tel:{{phone}}" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;" ng-if="isTeacher">
			<img class="icon " src="img/school/Shape1.png" style="max-width:30px;max-height:22px; margin-top: 13px;margin-left:12px;"  alt=""/>
			<span style="margin-left:7px;">手机号码</span>
			<span style="float: right;color: #0a9dc7">{{phone}}</span>
		</a>
		<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
			<img class="icon " src="img/school/Icon_User.png" style="max-width:30px;max-height:22px; margin-top: 13px;margin-left:12px;"  alt=""/>
			<span style="margin-left:7px;">性别</span>
			<span style="float: right">{{sex}}</span>
		</a>

		<div ng-if="children.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/icon/baby-info.png" style="max-width:30px;max-height:22px; margin-top: 13px; margin-left:12px;"  alt=""/>
				<span style="margin-left:7px;">子女信息</span>
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;" ng-repeat="child in children">
				<span style="margin-left: 10px;">{{child.student_name}}（{{child.classno.className}}）</span>
			</a>
		</div>

		<div ng-if="families.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/school/RoundedRectangle1.png" style="max-width:30px;max-height:22px; margin-top: 16px;margin-left:12px;"  alt=""/>
				<span style="margin-left:7px;">家长信息</span>
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;">
				<span ng-repeat="p in families" style="margin-left: 10px;">{{p.familyName}} </span>
			</a>
		</div>

		<div ng-if="subjects.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;">
				<img class="icon " src="img/school/RoundedRectangle1.png" style="max-width:30px;max-height:22px;margin-top: 16px;margin-left:12px;"  alt=""/>
				<span style="margin-left:7px;">任教科目</span>
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius: 0;border-bottom-width:0px;">
				<span ng-repeat="item in subjects" style="margin-left: 10px;color:#6C6C6C;border-bottom-width: 0px;">{{item.name}} </span>
			</a>
		</div>

		<div ng-if="classes.length>0">
			<a href="" class="item item-icon-left no-border-radius" style="padding-left: 45px; color: #666;margin-top: 8px;border-top-width:0px;">
				<img class="icon " src="img/school/Office.png" style="max-width:20px;max-height:24px; margin-top: 13px;margin-left:12px;"  alt=""/>
				<span style="margin-left:6px;">任教班级</span>
			</a>
			<a class="item" style="padding: 8px 8px 8px 44px;border-radius:0; ">
				<span ng-repeat="item in classes" style="margin-left: 10px;color:#6C6C6C;">{{item.className}} </span>
			</a>
		</div>

		<div class="spacer" style="width: 300px; height: 20px;"></div>
	</ion-content>
	<ion-footer-bar class="btn-follower" ng-if="showSendBtn">
		<button class="button button-outline" style="width: 100%;font-size: large;color: white" ng-click="goChat()">发送消息</button>
	</ion-footer-bar>
</ion-view>
