<ion-popover-view style="width: 97%;height: 30%">
	<ion-content>
		<div class="row flex-row" style="padding: 10px 10px">
			<img style="padding: 8px 8px" ng-repeat="item in emotions" ng-src="{{item[1]}}" ng-click="selectEmotion(item[0])"/>

		</div>
	</ion-content>
</ion-popover-view>
