<ion-view hide-nav-bar="true" style="background-color:#f3f4f5;">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <!--<button class="button button-icon icon " ng-click="goBack()">-->
        <!--<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>-->
        <!--</button>-->
        <back-btn></back-btn>
        <h1 class="title">
            <button class="button button-outline button-dark" ng-click="chooseTypeClick(1)" ng-style="{'background-color':selected?'white':'#2bcab2','color':selected?'#2bcab2':'white'}"
                style="width: 80px;height: 30px;font-size: 15px;margin-top: 6px;margin-right: -0.5px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-color: white;border-bottom-left-radius: 15px;border-top-left-radius: 15px;">
                考试成绩</button>

            <button class="button button-outline button-dark" ng-click="chooseTypeClick(2)" ng-style="{'background-color':!selected?'white':'#2bcab2','color':!selected?'#2bcab2':'white'}"
                style="background-color: white;width: 80px;height: 30px;font-size: 15px;margin-top: 6px;border-left-width:0px;position: relative;left:-5.5px;border-top-left-radius:0px;border-bottom-left-radius:0px;border-color: white;border-bottom-right-radius: 15px;border-top-right-radius: 15px;">
                成长分析</button>
        </h1>
    </ion-header-bar>

    <div class="item float-scroll" ng-style="{'top':isIos?'65px':'44px'}" style="height: 44px;padding-top:10px;"
        ng-hide="selected||allExamArr.length==null||allExamArr.length==0">
        <span style="height:34px;font-size: 16px;margin-left:-3px;">统计范围：</span>
        <ion-scroll delegate-handle="small" id="scroll1" direction="x" scrollbar-x="false" style="height: 34px;position: absolute;left:85px;top:9px;width:calc(100% - 92px);"
            class="exam_scroll_view">
            <a class="button button-clear " ng-repeat="exam in allExamArr track by $index" id="subject{{$index}}"
                ng-style="{'color':selectExamSubject==$index?'orange':'black'}" style="font-size: 15px;margin-top:-9px;"
                ng-click="chooseSubjectStatistical($index,exam.subjectName)">{{exam.subjectName}}
                <div ng-style="{'width':(exam.subjectWidth-14)+'px'}" style="height: 2px;background-color: orange;position: absolute;top:40px;margin-left: 3px; "
                    ng-if="selectExamSubject==$index"></div>
            </a>
        </ion-scroll>

    </div>

    <ion-content ng-style="{'padding-top':selected?'0px':examList&&examList.length>0?'44px':'0px'}">


        <div ng-if="selected">
            <ion-refresher pulling-text="下拉刷新..." on-refresh="loadData()"></ion-refresher>
            <div class="spacer" style="width: 100%; height: 10px;"></div>
            <div class="item" ng-repeat="exam in examList" style="font-size: 1.18em;border:none;border-radius:5px;margin:10px;padding:7px 15px ;">
                <!-- 是否有新的考试成绩出现 角标红点-->
                <div ng-if="exam.readed==false" style="width: 10px;height: 10px;border-radius: 5px;background-color: red;position:inherit;right: -15px;top:-7px;float: right;"></div>

                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Clock.png" style="width:16px;height:16px;vertical-align: center;position: relative;top:3px;">
                    <span> 考试开始时间:</span>
                    <span>{{exam.examDate}}</span>
                </div>

                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Clock.png" style="width:16px;height:16px;vertical-align: center;position: relative;top:3px;">
                    <span> 考试结束时间:</span>
                    <span>{{exam.endDate}}</span>
                </div>

                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Star.png" style="width:16px;height:16px;margin-top:4px;position: relative;top:1px;">
                    <span>考试名称:</span>
                    <span>{{exam.examName}}</span>
                </div>
                <div class="item-text-wrap par_scores_card" ng-if="exam.subjectScores.length>1&&(exam.noScoresNum<exam.subjectScores.length-1)">
                    <span style="color:#2bcab2">总分:</span>
                    <span style="color: #2bcab2;" ng-if="exam.noScoresNum==0&&exam.subjectScores.length>1">
                        {{exam.examTotalMark}}
                    </span>
                    <span style="color: #2bcab2;" ng-if="exam.noScoresNum!=0&&exam.subjectScores.length>1">
                        还有{{exam.noScoresNum}}科成绩未出
                    </span>
                </div>


                <div class="post-short-meta-container">
                    <span ng-repeat="subject in exam.subjectScores" style="margin-left:8px;margin-right:1.2em;font-size:0.98em;color:#646464;min-width: 24%;"
                        ng-if="subject.subjectId!=0">{{subject.subjectName}} :{{subject.score ==null ||subject.score
                        =='' ?'--':subject.score }}</span>
                </div>

            </div>
            <!-- 上拉加载-->
            <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
            <div class="load_no_more" ng-show="!isMoreData&&examList.length>9">没有更多了</div>

        </div>
        <!--成绩列表 end -->




        <!--  成长分析 start-->
        <div ng-hide="selected||allExamArr.length==null||allExamArr.length==0">
            <!--<div  id="score_echat" style="width: 100%;height:350px;" ng-show="selectSubjectExams.length<=1"></div>-->
            <!-- <ion-spinner icon="ios" style="position: absolute;top:36%;right: 50%;" ng-if="isLoadingSucceed" id="score-spinner"></ion-spinner> -->
            <div id="score_echat" style="width:100%;height: 350px;display: block;"></div>

            <div style="background-color: #e8e8e8;width: 100%;height: 10px;margin-top: 1px;"></div>


            <div class="item" style="padding:0px 0px;">
                <div class="row row-wrap" style="padding-top: 10px;padding-left: 0px;align-items: center;font-size: 0.9em;">
                    <div class="col col-30" style="text-align: left;color:#2bcab2;margin-left: 9px;padding:6px 0px;">
                        考试时间
                    </div>
                    <div class="col col-20" style="text-align: center;color:#2bcab2;padding:5px 2px;">
                        考试名称
                    </div>
                    <div class="col col-20" style="text-align: center;color:#2bcab2;padding:5px 0px;">
                        分数
                    </div>
                    <div class="col col-30" style="text-align: center;color:#2bcab2;padding:5px 0px;">
                        班级平均分
                    </div>
                </div>
            </div>



            <div class="item " ng-repeat="exam in selectSubjectExams" style="height: 44px;padding:2px 0px;">
                <div class="row row-wrap" style="margin-top:0px;font-size: 0.9em;line-height: 24px;">
                    <div class="col col-30 " style="text-align:left;margin-left: 4px;padding:5px 0px;">
                        {{exam.examDate}}
                    </div>
                    <div class="col col-20 col_scores_list" style="text-align: center;padding:5px 2px;" ng-click="showExamName(exam.examName)">
                        {{exam.examName}}
                    </div>
                    <div class="col col-20 " style="text-align: center;padding:5px 2px;">
                        {{exam.score ==null||exam.score ==''?'--':exam.score}}
                    </div>
                    <div class="col col-30 " style="text-align: center;padding:5px 2px;">
                        {{exam.classAvgScore ==null||exam.classAvgScore ==''?'--':exam.classAvgScore }}
                    </div>
                </div>
            </div>

            <div style="height: 64px; ;width: 100%;" ng-if="!isIos"></div>

        </div>

        <div class="empty-list-tip" ng-style="{'margin-top':selected?'40%':'calc(40% + 10px)'}" ng-if="examList.length==0">
            <img src="img/empty_content.png">
            <p ng-if="selected">暂无成绩</p>
            <p ng-if="!selected">暂无成长分析</p>
        </div>

    </ion-content>
</ion-view>