<ion-view hide-nav-bar="true" cache-view="true" style="background-color: #f3f4f5;">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="selected.class_id == ''">未找到班级信息</span>
            <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes" ng-change="loadData()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>

    <ion-content >
        <ion-refresher immediate-check="false"
                pulling-text="下拉刷新..."
                on-refresh="refreshData()">
        </ion-refresher>
      
        <ion-list >
          <div class="spacer" style="width: 100%; height: 10px;"></div>
            <div class="item" ng-repeat="exam in examList" style="font-size: 1.1875em;border: none;margin:10px;background-color: none;padding:7px 15px ;border-radius:5px;">
                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Clock.png" style="width:16px;height:16px;vertical-align: center;position: relative;top:3px;">
                    <span> 考试开始时间:</span>
                    <span>{{exam.examDate}}</span>
                </div>

                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Clock.png" style="width:16px;height:16px;vertical-align: center;position: relative;top:3px;">
                    <span> 考试结束时间:</span>
                    <span>{{exam.endDate}}</span>
                </div>
        
                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/Icon_Star.png" style="width:16px;height:16px;margin-top:4px;position: relative;top:1px;">
                    <span>考试名称:</span>
                    <span>{{exam.examName}}</span>
                </div>
                <div class="item-text-wrap par_scores_card">
                    <img src="img/testScores/notice.png" style="width:14px;height:18px;vertical-align: center;position: relative;top:2px;">
                    <span style="margin-left:4px;"> 学科:</span>
                    <span>{{exam.subjectStr}}</span>
                </div>
        
                <div class="item-text-wrap par_scores_card" ng-if="exam.subjectScores.length>1&&(exam.noScoresNum<exam.subjectScores.length-1)">
                    <span style="color:#2bcab2">总分平均分:</span>
                    <span style="color: #2bcab2;" ng-if="exam.noScoresNum==0">
                        {{ exam.examTotalMark }}
                    </span>
                    <span style="color: #2bcab2;" ng-if="exam.noScoresNum!=0">
                        还有{{exam.noScoresNum}}科成绩未上传
                    </span>
        
                </div>
        
                <div class="post-short-meta-container" ng-hide="(exam.subjectScores.length>1&&exam.noScoresNum==exam.subjectScores.length-1)||(exam.subjectScores.length<2&&exam.subjectScores.length==exam.noScoresNum)">
                    <span ng-repeat="subject in exam.subjectScores" style="margin-left:8px;margin-right:1.2em;font-size:0.98em;color:#646464;min-width: 24%;"
                        ng-if="subject.subjectId!=0">{{subject.subjectName}} :{{subject.score ==null||subject.score =='' ?'--':subject.score }}</span>
                </div>
        
                <div style="background-color: #ddd;width: calc(100% - 26px);height: 1px !important;margin-left: 13px;margin-top: 5px;"
                    ng-hide="(exam.subjectScores.length>1&&exam.noScoresNum==exam.subjectScores.length-1)||(exam.subjectScores.length<2&&exam.subjectScores.length==exam.noScoresNum)"></div>
                <div class="button " ng-click="readDetailAndNotice(1,exam.examId)" style="background-color:#546FB4;font-size:15px;color: white;min-height: 30px;height:35px;width:75px;margin-top: 12px;margin-bottom: 12px;margin-right:16px;line-height:35px;"
                    item-end ng-hide="(exam.subjectScores.length>1&&exam.noScoresNum==exam.subjectScores.length-1)||(exam.subjectScores.length<2&&exam.subjectScores.length==exam.noScoresNum)">查看</div>
                <div class="button " ng-click="readDetailAndNotice(2,exam.examId)" ng-if="exam.noScoresNum ==0" style="background-color:#2bcab2;font-size:15px;color: white;min-height: 30px;height:35px;width:75px;padding:0px;margin-top: 12px;margin-bottom: 12px;margin-right: 15px;line-height:35px;"
                    item-end>通知家长</div>
                <div style="width: 100%;font-size: 0.94em;text-align: center;color:#999999;margin-top: 10px;" ng-if="(exam.subjectScores.length>1&&exam.noScoresNum==exam.subjectScores.length-1)||(exam.subjectScores.length<2&&exam.subjectScores.length==exam.noScoresNum)">未上传</div>
            </div>
        </ion-list>

        <div  class="empty-list-tip" ng-if="examList.length==0&&isLoadingSucceed">
            <img src="img/empty_content.png">
            <p>暂无成绩</p>
        </div>

        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&examList.length>9">没有更多了</div>
    </ion-content>
</ion-view>