<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">检测明细</h1>
    </ion-header-bar>
    <ion-content>
        <a class="item" ng-repeat= "item in list" ng-click="goDetail(item.id, item.userName)" style="margin:0 10px;border:0;border-bottom: 1px solid #eee;">
            <div style="border-radius: 50%;position: absolute;width: 60px;height: 60px;text-align: center;line-height: 60px;font-size: larger;color: white;font-weight: bold;" ng-class="!item.status?'warning-bg':'normal-bg'">
                {{!item.status?'异常':'正常'}}
            </div>
            <h2 style="margin-top: 8px;margin-left: 80px;color:#454545;"> {{item.userName}}</h2>
            <h2 ng-class="!item.status?'warning-color':'normal-color'" style="margin-top: 10px;margin-left: 80px;">{{item.bodyTemperatureLast}}°C</h2>
            <span style="font-size: x-large;color: #ddd;position: absolute;right: 10px;top:30px" > &gt; </span>
        </a>
        <div ng-if="list.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无数据</p>
        </div>

    </ion-content>

    
</ion-view>