<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">告警详情</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="padding-top:0px;">
            <div style="text-align: center;width: 100%;padding-top: 15px;padding-bottom: 80px;background:#2bcab2;">
                <img src="img/icon/person.png" ng-src="{{warning.faceUrl}}"   
                    style="width:106px; height:106px; border-radius:50%; overflow:hidden;display:block; margin:auto; border: 3px solid rgba(255,255,255,.5);" />
                <div class="spacer" style="width: 300px; height: 15px;"></div>
                <strong style="font-size: 20px; color: #ffffff;">{{warning.userName}}</strong>
                <div class="spacer" style="width: 300px; height: 15px;"></div>
                <span
                    style="font-size: 17px; background: #ffffff;color: orange;border-radius: 20px;padding: 5px 10px;">{{warning.className}}</span>
            </div>


            <div
                style="margin-top: -40px;background: white;border-top-left-radius: 25px;border-top-right-radius: 25px;padding: 20px;">

                <timeline id="assets_timeline" style="overflow:auto">
                    <timeline-event ng-repeat="event in events" side="right">
                        <div style="margin-top: 30px;text-align: right;max-width: 85px;">
                            <div style="font-size: 15px;color:#888;">{{event.dateTime.substr(0,16)}}</div>
                        </div>
                        <timeline-badge class="{{event.badgeClass}}" id="assets_badge" style="margin-top: 20px;"
                            ng-class="event.status!=2?'warning-bg':'normal-bg'">
                        </timeline-badge>
                        <timeline-panel style="margin-top: -55px;" id="assets_timeline_panel">
                            <div style="font-size: 18px;" ng-style="{'color':event.status===1?'#454545':'#333'}">
                                {{event.description}}
                                <div ng-if="event.registrant" style="font-size: 14px;color:#666;margin-top:5px;">
                                    {{event.registrant}}</div>
                            </div>
                            <span ng-if="event.bodyTemperatureAbnormal"
                                style="background: blanchedalmond;position: absolute;right: 20px;padding: 7px 12px;margin-top: -30px;color: red;border-radius: 5px;">{{event.bodyTemperatureAbnormal}}°C</span>
                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>
        </div>

        <div style="width: 100%;height: 40px;"></div>

    </ion-content>

    <ion-footer-bar class="btn-follower" ng-if="isHeadTeacher&&warning.status!=2">
        <button class="button button-outline" style="width: 100%;font-size: large;color: white"
            ng-click="openModal()">跟进</button>
    </ion-footer-bar>
</ion-view>