<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
		</button>
		<h1 class="title bar-follower-font">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes" ng-change="onSelectionChange()" required>
			</select><span style="font-size: small;padding-left: 1px;">▼</span>
		</h1>
		<button class="button button-icon icon " ng-click="about()">
			<img src="img/icon/about.png" class="header-icon" alt=""/>
		</button>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="row text-center" ng-if="!noCalendar">
			<div class="col col-10 left_arrow">
				<button class="button-clear "
						ng-class="disableGoPre?'pointer_events_none':'pointer_events_positive'"
						ng-disabled="disableGoPre" ng-click="prevMonth()">
					<i class="icon ion-chevron-left"></i>
				</button>
			</div>
			<div class="col col-80 text-center" style="font-size: 17px;line-height: 32px;">{{currentDate.getFullYear()}}年{{currentDate.getMonth() + 1}}月</div>
			<div class="col col-10 right_arrow">
				<button class=" button-clear pointer_events_positive"
						ng-class="disableGoNext?'pointer_events_none':'pointer_events_positive'"
						ng-disable="disableGoNext" ng-click="nextMonth()">
					<i class="icon ion-chevron-right"></i>
				</button>
			</div>
		</div>

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData(true)">
		</ion-refresher>

		<div class="card" ng-repeat="item in monthList | orderBy: 'attendDate' : true" ng-click="openModal(item)" ng-if="!noCalendar">
			<div class="item item-text-wrap" style="border-radius: 0;">
				{{item.attendDate.substr(0, 10)}} ({{item.week}})
			</div>

			<div class="item" style="border-radius: 0;">
				<span style="display: block"> <img style="width: 12px;height: 12px;background: limegreen"/> <strong>{{item.normalNum}}</strong>人正常 <span ng-if="item.tbdNum>0"><strong style="margin-left: 20px;color: red">{{item.tbdNum}}</strong>人待确认</span></span>
				<div style="margin-top: 5px;">
					<span>请假：<strong style="color: darkgoldenrod">{{item.leaveNum}}</strong>人&nbsp;</span>
					<span>迟到：<strong style="color: orange">{{item.lateNum}}</strong>人&nbsp;</span>
					<span>早退：<strong style="color: blue">{{item.leaveEarlyNum}}</strong>人&nbsp;</span>
					<span>旷课：<strong style="color: red">{{item.absentNum}}</strong>人</span>
				</div>
			</div>

		</div>

		<div ng-if="monthList.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>

		<div ng-if="noCalendar " style="margin: 0 auto;width: 75%;margin-top: 10%">
			<span style="color: gray">暂无校历无法准确统计考勤，请联系学校管理员到后台添加校历！</span>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
