<ion-view hide-nav-bar="true">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
				 alt=""/>
		</button>
		<h1 class="title bar-follower-font">到校通知</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="spacer" style="height: 20px;"></div>
		<timeline>
			<timeline-event ng-repeat="event in events" side="right">
				<timeline-badge class="{{event.class}}" ng-class="event.read?'read':''">
				</timeline-badge>
				<timeline-panel class="{{event.class}}" ng-class="event.read?'read':''">
					<div class="{{event.class}}" >{{event.content}} 
					<span style="color:black;">{{event.attendDesc}}</span> 		
						<span style="float: right;margin-top: 3px;"> {{event.label}}</span>
						
						<button class="button button-outline"  style="float: right; color: #0500CC;margin-right:5px;font-size:0.93em;margin-top:-9px;" ng-click="viewImg(event.imgUrl)" ng-if="event.imgUrl&&event.imgUrl!='null'" >
							<img src="img/attendance/Pictures_Day.png" style="width: 1.519em;height:1.125em;" />
						</button>
					</div>
				</timeline-panel>
			</timeline-event>
		</timeline>
        <!-- <timeline>
				<timeline-event ng-repeat="event in events" side="right">

				</timeline-event>

		</timeline> -->

		<div ng-if="events.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>

	</ion-content>
</ion-view>
