<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeDetailModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{detailTitle}}</h1>
	</ion-header-bar>
	<a class="button icon button-light  float-button" ng-click="showAddSignModal('s')" ng-if="funcType=='normal'" style="bottom: 50px;">
		补签
	</a>
	<ion-content>

		<div class="item item-avatar card-title">
			<img src="img/icon/default_student.png" ng-src="{{detail.logo}}"   
				 style="max-height: 80px;max-width: 80px;margin-top: 20px;border: 2px solid #FFFFFF7F;">
			<h2 style="color: white;margin-left: 40px;margin-top: 30px;font-weight: bold;font-size: large;margin-bottom: 10px">
				{{detail.studentName}}</h2>
			<span style="color: white;margin-left: 35px;border-radius: 30px;padding: 5px;font-size: small;"
				  ng-class="detail.askLeave?'color-warning':'color-normal'">今日{{detail.askLeave?'已':'未'}}请假</span>
			<button class="button btn-type" ng-if="isHeadTeacher || ignorePermission" ng-click="onHeadTeacherClicked(detail.askLeave, detail.id)"
					style="float: right;bottom: 20px;background-color: #fff">
				{{getBtnLabel()}}
			</button>
		</div>

		<div class="list" >
				<div class="item" style="border-bottom: 0px;border-top: 0px;padding-top: 0px;padding-bottom: 0px;padding-right: 8px;" ng-repeat="item in detail.list">
					<div style="margin-left: 19px;height:50px;width: 1px;background-color: #ddd;"></div>
				<span>{{item.attendDateTime.substr(11, 5)}}</span>
				<span style="margin-left: 15px;" ng-if="funcType === 'kid'">{{item.attendDesc}}</span>
				<span style="margin-left: 15px;" ng-if="funcType === 'normal'">{{item.type==0?'进校':item.type==1?'出校':''}}</span>
				<span style="margin-left: 5px;font-size: small;color:#666;"> ({{attendanceSourceType(item.attendSource)}})</span>
				<button class="button button-outline" ng-if="item.imgUrl &&item.imgUrl!='null' " ng-click="viewImg(item.imgUrl)"
						style="color: #2bcab2;min-height: 18px;line-height: 18px;font-size: small;float: right;">
						<span item-end>接送图片</span>
						<img src="img/attendance/Pictures_Day.png" style="width: 24.3px;height:18px;margin-right: 6px;" item-end/>
				</button>
			</div>
		</div>

		<div ng-if="detail.list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>{{noContentTip}}</p>
		</div>

	</ion-content>
</ion-modal-view>
