<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" ng-if="funcType === 'kid'">{{selectDay.daystr}}考勤明细</h1>
		<h1 class="title bar-follower-font" ng-if="funcType === 'normal'">{{selectDay.date}}考勤明细</h1>
		<h1 class="title bar-follower-font" ng-if="!funcType">走班签到明细</h1>
	</ion-header-bar>
	<a class="button icon button-light  float-button" ng-click="showAddSignModal('l')" ng-if="funcType=='normal'" style="bottom: 50px;">
		补签
	</a>
	<ion-content ng-class="funcType === 'normal'?'':'padding'" style="background-color: #f3f4f5;">

		<div ng-if="funcType !== 'normal'">
			<div class="button-bar" >
				<button class="button btn" ng-click="changeFilter('n')"
						style="border: 1px solid #f8b551; margin-bottom: 1px; min-height: 30px; line-height: 30px; min-width: 90px;"
						ng-class="listFilter.checked=='n'?'activated_btn_orange' : ''">未签到({{nNum}})
				</button>
				<button class="button btn" ng-click="changeFilter('a')"
						style="border: 1px solid #f8b551; margin-bottom: 1px;min-height:30px; line-height: 30px; min-width: 90px;"
						ng-class="listFilter.checked=='a'?'activated_btn_orange' : ''">已签到({{aNum}})
				</button>
				<button class="button btn" ng-click="changeFilter('l')" ng-if="funcType === 'normal'"
						style="border: 1px solid #f8b551; margin-bottom: 1px;min-height:30px; line-height: 30px; min-width: 90px;"
						ng-class="listFilter.checked=='l'?'activated_btn_orange' : ''">已请假({{lNum}})
				</button>
			</div>
			<div class="spacer" style="width: 100%; height: 10px;"></div>
			<div class="list item list_item" ng-repeat="item in filtered = (listDetail | filter: listFilter)">
				<div class="item item-avatar" style="border-radius: 0px;border: none;" ng-click="openDetailModal(item.id)">
					<img src="img/icon/person.png" ng-src="{{item.icon}}" >
					<h2>{{item.name}} ({{item.phoneNumber}})</h2>
					<span>{{item.time}}</span>
					<img src="img/attendance/Pictures_Day.png" style="width: 24.3px;height:18px;margin-right: 6px;" ng-if="listFilter.checked=='a'&&item.imgUrl"  ng-click="viewImg(item.imgUrl)" item-end/>
				</div>
			</div>

			<div ng-if="filtered.length == 0" class="empty-list-tip">
				<img src="img/empty_content.png">
				<p>暂无记录</p>
			</div>
		</div>


		<div ng-if="funcType === 'normal'">
			<!-- <div style="width: 40px;margin-left: 20px;margin-top: 15px;background-color: white;font-size: 16px;">时段</div> -->
			<div style="width: 100%;background-color: white;">
			<ion-scroll direction="x" delegate-handle="attendance" style="width:calc(100% - 30px);background-color: white;margin-left:15px;height:44px;"
			 class="timeScroll">
                <div class="tabs" style="height: 44px !important;width: 100%;border-width: 0px;background-color: white;background-size: 0px!important;">
					<a class="tab-item" style="font-size: 15px;height:42px;border-width: 0px;background-size: 60px 2px;" ng-style="{'color':activeTime.id===t.id?'orange':'black'}"
					                      ng-click="switchTime(t)" ng-repeat="t in timeLists">
						{{t.attendName}}
						<div style="width: calc(100% - 50px);height:2px;background-color: #f8b551;margin-top: -9px;margin-left: 25px;" ng-if="activeTime.id===t.id"></div>
					</a>
				</div>                                      	                                      
			</ion-scroll>
			</div>
			<div class="tabs-striped tabs-top" style="border-top: 1px solid #ddd;"  >
				<div class="tabs" style="position: inherit;border: 0 !important;padding-right: 5px;">
					<!-- <span style="width: 40px;margin-left: 20px;">状态</span> -->
					<a class="tab-item"  ng-class="activeIndex===0?'active':''" ng-style="{'color':activeIndex===0?'#f8b551':'black'}" ng-click="switchTab(0)">
						未到<span >({{notComeData.studentNum}})</span>
					</a>
					<a class="tab-item"  ng-class="activeIndex===1?'active':''" ng-style="{'color':activeIndex===1?'#f8b551':'black'}" ng-click="switchTab(1)">
						 迟到<span >({{lateData.studentNum}})</span>
					</a>
					<a class="tab-item" ng-class="activeIndex===2?'active':''" ng-style="{'color':activeIndex===2?'#f8b551':'black'}" ng-click="switchTab(2)">
						已到<span>({{comeData.studentNum}})</span>
					</a>
					<a class="tab-item"  ng-class="activeIndex===3?'active':''" ng-style="{'color':activeIndex===3?'#f8b551':'black'}" ng-click="switchTab(3)">
						请假<span >({{vacationData.studentNum}})</span>
					</a>
					
				</div>
			</div>
			<!-- <div class=" tabs-top" style="border-top: 1px solid #ddd;">
					<div class="tabs" style="position: inherit;border: 0 !important;padding-right: 0px;background-color: none;height: 36px;line-height: 36px;">
						
						<a class="tab-item" style="border-right: 1px solid #ddd;" ng-style="{'color':activeIndex===0?'white':'black','background-color':activeIndex===0?'#f8b551':'none'}" ng-click="switchTab(0)">
							未到<span >({{notComeData.studentNum}})</span>
						</a>
						<a class="tab-item"  style="border-right: 1px solid #ddd;" ng-style="{'color':activeIndex===1?'white':'black','background-color':activeIndex===1?'#f8b551':'none'}" ng-click="switchTab(1)">
							 迟到<span >({{lateData.studentNum}})</span>
						</a>
						<a class="tab-item" style="border-right: 1px solid #ddd;"  ng-style="{'color':activeIndex===2?'white':'black','background-color':activeIndex===2?'#f8b551':'none'}" ng-click="switchTab(2)">
							已到<span>({{comeData.studentNum}})</span>
						</a>
						<a class="tab-item" ng-style="{'color':activeIndex===3?'white':'black','background-color':activeIndex===3?'#f8b551':'none'}" ng-click="switchTab(3)">
							请假<span >({{vacationData.studentNum}})</span>
						</a>
						
					</div>
				</div> -->
			<div class="spacer" style="width: 100%; height: 10px;"></div>
			<div class="list item list_item"  ng-repeat="item in recordListData.adAttendDetailVos">

				<div class="item item-avatar" style="border-radius: 0px;border: none;" ng-click="openDetailModal(item.studentId)">
					<img src="img/icon/default_student.png" ng-src="{{item.logo}}" >
					<h2>{{item.studentName}} ({{item.phoneNumber}})</h2>
					<span>{{item.arrTime.substr(11,8)}}</span>
				</div>
			</div>

			<div ng-if="!recordListData.adAttendDetailVos||(recordListData.adAttendDetailVos&&recordListData.adAttendDetailVos.length == 0)" class="empty-list-tip">
				<img src="img/empty_content.png">
				<p>暂无记录</p>
			</div>
		</div>

	</ion-content>
</ion-modal-view>
