<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<!-- <button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
		</button> -->
		<back-btn></back-btn>
		<h1 class="title bar-follower-font" ng-if="!funcType">走班签到 - {{course.courseName}}</h1>
		<h1 class="title bar-follower-font" ng-if="funcType">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes"
			 ng-change="onSelectionChange()" required>
			</select>
			<span style="font-size: small;padding-left: 1px;">▼</span>
		</h1>
		<button class="button button-outline" ng-if="funcType" ui-sref="checkInMonthlyClassReport"   style="color: white">月报
		</button>
	</ion-header-bar>
	
	<ion-content class="has-header" style="background-color:#F3F5F4;">
		
		<div class="row text-center" style="margin-bottom: -10px;margin-top: 0px;background-color:white; padding: 0px 13px;" ng-if="!noCalendar">
			<div class="col col-10 left_arrow">
				<button class="button-clear " ng-class="disableGoPre?'pointer_events_none':'pointer_events_positive'" ng-disabled="disableGoPre"
				 ng-click="prevMonth()">
					<i class="icon ion-chevron-left"></i>
				</button>
			</div>
			<div class="col col-80 text-center" style="font-size: 17px;line-height: 32px;">{{currentDate.getFullYear()}}年{{currentDate.getMonth() + 1}}月</div>
			<div class="col col-10 right_arrow">
				<button class="button-clear pointer_events_positive" ng-class="disableGoNext?'pointer_events_none':'pointer_events_positive'"
				 ng-disable="disableGoNext" ng-click="nextMonth()">
					<i class="icon ion-chevron-right"></i>
				</button>
			</div>
		</div>

		<!-- <div class="row" style="background-color: rgb(164,254,240);color: #1c000e;padding: 10px 20px;" ng-if="!noCalendar && funcType">{{schoolyear}}{{schoolterm}} {{schoolTime}}</div> -->
		<div class="" style="background-color: rgb(216,217,219);color: rgb(84,84,84);font-size:small;margin-top:30px;text-align:center;width:294px;height: 30px;line-height: 30px;border-radius: 15px;margin-left: calc(50% - 147px);" ng-if="!noCalendar && funcType">{{schoolyear}}{{schoolterm}} {{schoolTime}}</div>

		<ion-refresher pulling-text="下拉刷新..." on-refresh="loadData(true)">
		</ion-refresher>
		<div class="item" style="border:none;margin: 0px;padding:3px 13px;background-color:#F3F5F4;" ng-if="funcType !== 'normal'" ng-repeat="item in list | orderBy: 'daystr' : true" ng-click="openModal(item)"
		 style="margin: 10px;">
			<!-- <div class="item item-text-wrap" style="font-weight: bold">
				{{item.daystr}} {{item.weekstr}}
			</div>
			<p class="item" style="text-align: left;">
				{{item.stuattnum}}人已签到
				<span style="color: red">{{item.stunotattnum}}</span>人未签到
				<span style="color: orange">{{item.askLeaveNum}}</span>人已请假
			</p> -->
			<div class="item item-text-wrap" style="font-weight: bold;border:none;background-color:#F3F5F4;padding-bottom:8px;padding-left:3px;">
				{{item.weekstr}}&nbsp;&nbsp;
				   <span style="font-size: 14px;color: rgb(156,156,156);font-weight: 500;">{{item.daystr}}</span>
			 </div>

			 <div class="row row-wrap" style="border-top: 1px solid #ddd;text-align: center;padding-top:0px;padding-bottom: 0px;background-color:white;">
				<div class="col col-33.3" style="border-right: 1px solid #ddd;">
					<div style="font-size: 17px;color: black;margin-top: 5px;">{{item.stuattnum}}</div>
					<div style="color: rgb(151,151,151);font-size: 15px;">已签到</div>
				</div>
				<div class="col col-33.3" style="border-right: 1px solid #ddd;">
					<div style="font-size: 17px;color: black;margin-top: 5px;">{{item.stunotattnum}}</div>
					<div style="color: rgb(151,151,151);font-size: 15px;">未签到</div>
				</div>
				<div class="col col-33.3" >
					<div style="font-size: 17px;color: black;margin-top: 5px;">{{item.askLeaveNum}}</div>
					<div style="color: rgb(151,151,151);font-size: 15px;">已请假</div>
				</div>
			
			</div>

		
	  </div>

		<div class="item" style="border:none;margin: 0px;padding:3px 13px;background-color:#F3F5F4;" ng-if="funcType === 'normal'" ng-repeat="item in list | orderBy: 'date' : true"
		 ng-click="openModal(item)">
			<div class="item item-text-wrap" style="font-weight: bold;border:none;background-color:#F3F5F4;padding-bottom:8px;padding-left:3px;">
			 {{item.weekday}}&nbsp;&nbsp;
				<span style="font-size: 14px;color: rgb(156,156,156);font-weight: 500;">{{item.date}}</span>
			</div>

			
			<div  style="padding: 0px;background-color:white;border-radius:8px; ">
				<div class="row row-wrap" style="text-align: center;padding-top:0px;padding-bottom: 0px;margin-top:2px;">
					<div class="col col-20">
						<div style="color: rgb(151,151,151);font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</div>

					<div class="col col-20">
						<div style="color: rgb(151,151,151);font-size: 15px;">已到</div>
					</div>

					<div class="col col-20">
						<div style="color: rgb(151,151,151);font-size: 15px;">迟到</div>
					</div>

					<div class="col col-20">
						<div style="color: rgb(151,151,151);font-size: 15px;">未到</div>
					</div>

					<div class="col col-20">
						<div style="color: rgb(151,151,151);font-size: 15px;">请假</div>
					</div>
				</div>
				<div class="row row-wrap"   ng-repeat="t in item.adAttendVoList" style="border-top: 1px solid #ddd;text-align: center;padding-top:0px;padding-bottom: 0px;margin-top:2px;">
						   <div class="col col-20">
								<div style="color: rgb(102,102,102);font-size: 15px;">{{t.attendName}}</div>
							</div>
							<div class="col col-20">
								<div style="color: rgb(102,102,102);font-size: 15px;">{{t.attendNum}}</div>
							</div>
		
							<div class="col col-20">
								<div style="color: rgb(102,102,102);font-size: 15px;">{{t.lateNum}}</div>
							</div>
		
							<div class="col col-20">
								<div style="color: rgb(102,102,102);font-size: 15px;">{{t.notAttendNum}}</div>
							</div>
		
							<div class="col col-20">
								<div style="color: rgb(102,102,102);font-size: 15px;">{{t.askLeaveNum}}</div>
							</div>
				</div>
			</div>
		</div>

		<div ng-if="list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>
		<div ng-if="noCalendar" style="display: block;text-align: center;margin-top: 20px;">
			<span style="color: gray;display: block">学校暂无校历信息，无法记录考勤</span>
			<span style="color: gray">请联系学校管理员登录后台补全校历</span>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>