<ion-view cache-view="!isWeinXin">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">详情</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<h2 class="text-title">{{news.title}}</div>
		</h2>

		<div class="text-body">
			<p class="text-attach " style="text-align: left; padding-top: 8px; margin-bottom: 0px;">
				<span ng-if="news.authorName">{{::news.authorName}}</span>&nbsp;&nbsp;&nbsp;{{::news.createTime.substr(0, 10)}}</p>
			<pre ng-if="news.source==1"><div class="text-main" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" ng-bind-html="news.text | parseUrl"></div></pre>
			<div ng-if="news.source!=1" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" compile="news.text" class="text-main"></div>

			<div ng-if="(news.imageUrls!=null&&news.imageUrls.length!=0)||(news.documentUrlList!=nul&&news.documentUrlList.length!=0)"
			    style="width: 100%;background-color: #fcd7a0;padding: 5px 30px;position: relative">
				<img src="img/icon/attachment.png" alt="" style="width: 15px;margin-top: -10px;margin-left: -20px;position: absolute;">附件</div>
			<!-- <div ng-repeat="item in news.imageUrls">
				<img ng-if="news.genre != 4" ng-src="{{::item}}" style="width: 100%" ng-click="openArrModal($index)"   >
			</div> -->
			
				<ion-gallery ion-gallery-items="news.picUrls" ion-gallery-row="1" ion-gallery-toggle="true" ng-if="news.picUrls.length>0"></ion-gallery>
			

			<div style="background-color: #c3eafc;padding: 5px 10px;margin: 10px;" ng-repeat="item in news.documentUrlList" ng-click="viewDoc(item.fileUrl)">
				<img src="img/icon/doc_24.png" alt="" style="width: 10px;"> {{item.enclosureName}} ({{(item.fileSize/1000).toFixed(2)}}kB)
			</div>

		</div>
		<p class="text-attach" style="margin-top: 7px;" ng-if="news.lastAuditName">{{getReviewStatus(news.state)}}&nbsp;&nbsp;&nbsp;审核人:{{news.lastAuditName}}</p>

		<div style="margin-top: 10px;">
			<button class="campus-comment-tab" ng-class="!favorSelected?'campus-comment-tab-selected':''" ng-click="switchCommentTab(false)" style="padding-bottom: 7px;">{{news.commentsNum}} 评论</button>
			<button class="campus-comment-tab" ng-class="favorSelected?'campus-comment-tab-selected':''" ng-click="switchCommentTab(true)" style="padding-bottom: 7px;">{{news.praiseNum}} 赞</button>
		</div>

		<div class="list" style="padding-top: 10px;border: 0;border-top: 1px solid #ddd">
			<div ng-if="!favorSelected">
				<a class="item item-thumbnail-left campus-comment-item" ng-repeat="item in commentList track by item.id" id="commentIndex{{item.id}}">
					<img src="img/icon/person.png" style="border-radius: 50%;" ng-src="{{::item.userLogo}}"   >
					<h3 style="margin-top: 5px;">{{::item.commentsPersion}}</h3>
					<p style="margin-top: 5px;">{{::item.comments}}</p>
					<small>{{::item.createTime.substr(5,11)}}</small>
					<button class="button button-icon" ng-click="deleteComment(item)" ng-if="item.isRemove==0" style="font-size: 22px;">
						<i class="ion-ios-trash-outline"></i>
					</button>
				</a>
			</div>
			<div ng-if="favorSelected">
				<a class="item item-thumbnail-left campus-comment-item" ng-repeat="item in favorList track by item.id">
					<img src="img/icon/person.png" style="border-radius: 50%;" ng-src="{{::item.userLogo}}"   >
					<h3 style="margin-top: 10px;">{{::item.praiseUserName}}</h3>
					<small>{{::item.createTime.substr(5,11)}}</small>
				</a>
			</div>
		</div>

		<ion-infinite-scroll spinner="spiral" ng-if="listHasMore" on-infinite="loadComments(false)" distance="20%">
		</ion-infinite-scroll>

	</ion-content>

	<ion-footer-bar id="campus-footer-bar" style="height: 50px;">
		<button class="button button-icon" ng-click="showCommentInput()" >
			<img src="img/icon/comment.png" />
			<span>评论</span>
		</button>
		<div class="spacer" style="height: 70%;width: 2px;background: #ddd;margin-top: 5px;"></div>
		<button class="button button-icon" ng-click="favorNews()">
			<img ng-src="{{news.isFavor?'img/icon/uped.png':'img/icon/up.png'}}" />
			<span>赞</span>
		</button>
		
	</ion-footer-bar>
	
</ion-view>
