<ion-view hide-nav-bar="true" class="xView-grey" cache-view="false">
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">我的动态</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <a class="item item-thumbnail-left campus-unread-item" ng-repeat="item in list" ng-click="goPostDetail(item)" ng-if="!item.hide">
                <img src="img/icon/person.png" style="border-radius: 50%;" ng-src="{{::item.userLogo}}"   >
                <h2 style="margin-top: 5px;">{{::item.name}}</h2>
                <p style="margin-top: 5px;">{{::item.message}}</p>
                <small>{{::item.createTime.substr(5,11)}}</small>
                <img class="linkContent" src="img/icon/person.png" ng-if="item.thumbnailUrl" ng-src="{{::item.thumbnailUrl}}"   >
                <span class="linkContent" ng-if="!item.thumbnailUrl">{{::item.newsText}}</span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
