<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">调课</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item public-item"  ng-repeat="item in list">
                <div style="width:3px;height:15px;position: absolute;top:13px;left:0px;background:#2bcab2;"></div>
                <h2 style="color:#2bcab2 !important;">{{item.className}}调课通知</h2>
                <div ng-if="item.status!==0" style="color:orange;float:right;position: relative;top:-30px;right: 10px;">已撤销</div>
                <p>{{item.teacherName1}}&nbsp;&nbsp;{{item.updatetime.substr(0,10)}}</p>
                <div style="margin-top:8px;position: relative;">
                    <div style="width:25px;height:25px;position: absolute;left: 0px;top:calc(50% - 12px);">
                        <img src="img/icon/switch.png" style="width:100%;"/>
                    </div>
                    <div style="width:calc(100% - 38px);margin-left:38px;">
                        <div style="color:#333;padding:5px 0px;white-space: normal;">{{item.courseDay1}}&nbsp;&nbsp;{{item.sectionStatus1===0?'上午':item.sectionStatus1===1?'下午':'晚上'}}第{{item.section1}}节课&nbsp;&nbsp;{{item.subjectName1}}&nbsp;&nbsp;{{item.teacherName1}}</div>
                        <div style="color:#333;padding:5px 0px;white-space: normal;">{{item.courseDay2}}&nbsp;&nbsp;{{item.sectionStatus2===0?'上午':item.sectionStatus2===1?'下午':'晚上'}}第{{item.section2}}节课&nbsp;&nbsp;{{item.subjectName2}}&nbsp;&nbsp;{{item.teacherName2}}</div>
                    </div>

                </div>
                <ion-option-button class="button-assertive" ng-if="item.status===0" style="background:#FE8A36 !important;"
                    ng-click="cancelItem(item, $event)">
                    撤销
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div class="empty-list-tip" ng-if="!list||list&&list.length==0">
            <img src="img/empty_content.png">
            <p>暂无调课记录</p>
        </div>
        <div style="width:100%;height:58px;"></div>
    </ion-content>

    <div class="bar bar-footer bar-light" style="height:56px;padding: 0px;">
        <div class="button" ng-click="createAdjustClassModal()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
            添加调课</div>
    </div>
</ion-view>