<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideAdjustClassModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">发起调课</h1>

    </ion-header-bar>
    <form name="adjustForm" novalidate>
        <ion-content style="background:#f3f4f6;">
            <div class="item" ng-click="selectClass()" style="border:none;padding:12px 15px;font-size:16px;">
                <h2 style="width:85px;float: left;"> <span
                        style="color:red;font-size:20px;position: relative;top:5px;">*</span><span
                        style="margin-left:5px;font-size:16px;">选择班级</span></h2>
                <div style="float:right;margin-top:5px;" ng-style="{'color':selected.className?'#666':'#999'}">
                    {{selected.className?selected.className:'请选择'}}</div>
            </div>

            <div class="item" style="border:none;padding:12px 15px;margin-top:10px;">
                <div class="item" style="border:none;padding:13px 0px;border-bottom: 1px solid #ddd;margin:0px;">
                    <h2 style="width:85px;">
                        <span style="color:red;font-size:20px;position: relative;top:5px;">*</span>
                        <span style="margin-left:0px;font-size:16px;">选择课程</span>
                    </h2>
                </div>

                <div class="item"
                    style="border:none;padding:13px 0px;border-bottom: 1px solid #ddd;margin:0px;font-size:16px;"
                    ng-click="selectDate('start')">
                    <div style="color:#666;float: left;width:85px">选择日期</div>
                    <div style="float: right;" ng-style="{'color':selected.courseDay1?'#666':'#999'}">
                        {{selected.courseDay1?selected.courseDay1:'请选择'}}</div>
                </div>

                <div class="item"
                    style="border:none;padding:13px 0px;border-bottom: 1px solid #ddd;margin:0px;font-size:16px;"
                    ng-click="changeSection('start')">
                    <div style="color:#666;float: left;width:85px">选择节次</div>
                    <div style="float: right;" ng-style="{'color':selected.section1?'#666':'#999'}">
                        {{selected.section1?selected.section1:'请选择'}}</div>
                </div>

                <!-- <div class="item item-input item-select"
                    style="padding:5px 0px;border:none;margin:0px;border-bottom: 1px solid #ddd;font-size:16px;">
                    <div class="input-label" style="color:#666;">
                        选择节次
                    </div>
                    <select name="sl_name" ng-disabled="!selected.courseDay1" style="font-size:16px;"
                        ng-style="{'color':selected.section1?'#666':'#999'}" ng-model="selected.section1"
                        ng-options="item.section as item.section for item in selected.sections1"
                        ng-change="changeSection('start')" required>
                        <option value="" style='display: none;'>
                            {{isLoading1&&selected.sections1.length===0?'该班当天无课程':'请选择'}}</option>
                    </select>
                </div> -->

                <div style="width:100%;height:40px;font-size:16px;padding:10px 15px;color:#666;">
                    {{selected.subjectName1}}</div>
            </div>

            <div class="item" style="border:none;padding:13px 15px;margin-top:10px;">
                <div class="item" style="border:none;padding:10px 0px;border-bottom: 1px solid #ddd;margin:0px;">
                    <h2 style="width:85px;">
                        <span style="color:red;font-size:20px;position: relative;top:5px;">*</span>
                        <span style="margin-left:0px;font-size:16px;">对调课程</span>
                    </h2>
                </div>

                <div class="item"
                    style="border:none;padding:13px 0px;border-bottom: 1px solid #ddd;margin:0px;font-size:16px;"
                    ng-click="selectDate('end')">
                    <div style="color:#666;float: left;width:85px">选择日期</div>
                    <div style="float: right;" ng-style="{'color':selected.courseDay2?'#666':'#999'}">
                        {{selected.courseDay2?selected.courseDay2:'请选择'}}</div>
                </div>

                <div class="item"
                    style="border:none;padding:13px 0px;border-bottom: 1px solid #ddd;margin:0px;font-size:16px;"
                    ng-click="changeSection('end')">
                    <div style="color:#666;float: left;width:85px">选择节次</div>
                    <div style="float: right;" ng-style="{'color':selected.section2?'#666':'#999'}">
                        {{selected.section2?selected.section2:'请选择'}}</div>
                </div>

                <!-- <label class="item item-input item-select"
                    style="padding:5px 0px;border:none;margin:0px;border-bottom: 1px solid #ddd;font-size:16px;">
                    <div class="input-label" style="color:#666;">
                        选择节次
                    </div>
                    <select ng-disabled="!selected.courseDay2" name="sl_name" style="font-size:16px;"
                        ng-style="{'color':selected.section2?'#666':'#999'}" ng-model="selected.section2"
                        ng-options="item.section as item.section for item in selected.sections2"
                        ng-change="changeSection('end')" required>
                        <option value="" style='display: none;'>
                            {{isLoading2&&selected.sections2.length===0?'该班当天无课程':'请选择'}}</option>
                    </select>
                </label> -->
                <div style="width:100%;height:40px;font-size:16px;padding:10px 15px;color:#666;">
                    {{selected.teacherName2}}&nbsp;&nbsp;{{selected.subjectName2}}</div>
            </div>

            <div style="width:100%;height:58px;"></div>
        </ion-content>
    </form>
    <div class="bar bar-footer bar-light" style="height:56px;padding: 0px;">
        <div class="button" ng-disabled="adjustForm.$invalid" ng-click="commit()"
            style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
            提交</div>
    </div>
</ion-modal-view>