<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">新建申请</h1>
        <!-- <button class="button button-outline " ng-click="uploadMorePicture()" style="color: white;font-size:15px;padding-top: 3px;">多图上传</button> -->
    </ion-header-bar>

    <form name="infoForm" novalidate>
        <ion-content style="background-color:#f3f4f6;">
            <label class="item item-input" style="font-size: 16px;border:none;">
                <span class="input-label" style="width:80px;">
                    <span style="color:red;">*</span>
                    <span>&nbsp;标题</span>
                </span>
                <input type="text" style="font-size:16px;color:#666;text-align: center;" maxlength="20"
                    ng-model="select.title" placeholder="最多可输入20字" required>
            </label>

            <div ng-repeat="item in controls | orderBy :'idx' ">
                <label class="item item-input" ng-if="item.type==1&&templateId!=0"
                    ng-style="{'border-top':$index==0?'0':'border-top:1px solid #ddd'}"
                    style="border:none;font-size: 16px;margin-top:13px;" ng-if="">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span>&nbsp;{{item.name}}</span>
                    </span>
                    <input type="text" style="font-size:16px;color:#666;text-align: center;" maxlength="20"
                        ng-model="item.text" placeholder="最多可输入20字" ng-if="item.required" required>
                    <input type="text" style="font-size:16px;color:#666;text-align: center;" maxlength="20"
                        ng-model="item.text" placeholder="最多可输入20字" ng-if="!item.required">
                </label>



                <div class="item" ng-if="item.type==2&&templateId!=0"
                    style="margin-top:13px;border: none;font-size: 16px;">
                    <span style="color:red;" ng-if="item.required">*</span>
                    <span>{{item.name}}</span>
                    <textarea style="width:100%;height: 100px;padding: 7px 8px;font-size:16px;color:#666;"
                        placeholder="最多可输入200字" maxlength="200" ng-model="item.fulltext" ng-if="item.required" required>
                </textarea>
                    <textarea style="width:100%;height: 100px;padding: 7px 8px;font-size:16px;color:#666;"
                        placeholder="最多可输入200字" maxlength="200" ng-model="item.fulltext" ng-if="!item.required">
               </textarea>
                </div>


                <label class="item item-input" ng-if="item.type==3&&templateId!=0"
                    style="margin-top:13px;border:none;font-size: 16px;" ng-click="chooseDate(item,0)">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span style="margin-left:5px;">{{item.name}}</span>
                    </span>
                    <div style="width: calc(100% - 100px);margin-right: 15px;font-size:16px;padding:0px 6px;"
                        ng-style="{'color':item.date?'#333':'#999','text-align':item.date?'center':'center'}">
                        {{item.date?item.date.substr(0,11):'请选择'}}</div>
                </label>


                <div class="item" ng-if="item.type==4&&templateId!=0"
                    style="margin-top:13px;border: none;font-size: 16px;">
                    <div>
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span>{{item.name}}</span>
                    </div>
                    <label class="item item-input"
                        style="margin-top:13px;border:none;font-size: 16px;border-top:1px solid #ddd;"
                        ng-click="chooseDate(item,1)" ng-if="templateId!=0">
                        <span class="input-label" style="width:80px;">
                            <span>开始时间</span>
                        </span>
                        <div style="width: calc(100% - 100px);margin-right: 15px;font-size:16px;padding:0px 6px;"
                            ng-style="{'color':item.startDate?'#666':'#999','text-align':item.startDate?'center':'center'}">
                            {{item.startDate?item.startDate.substr(0,16):'请选择'}}</div>
                    </label>
                    <label class="item item-input"
                        style="margin-top:5px;border:none;font-size: 16px;border-top:1px solid #ddd;"
                        ng-click="chooseDate(item,2)" ng-if="templateId!=0">
                        <span class="input-label" style="width:80px;">
                            <span>结束时间</span>
                        </span>
                        <div style="width: calc(100% - 100px);margin-right: 15px;font-size:16px;padding:0px 6px;"
                            ng-style="{'color':item.endDate?'#666':'#999','text-align':item.endDate?'center':'center'}">
                            {{item.endDate?item.endDate.substr(0,16):'请选择'}}</div>
                    </label>
                </div>

                <!-- 时间控件 -->
                <label class="item item-input" style="margin-top:13px;border:none;font-size: 16px;"
                    ng-click="chooseDate(item,3)" ng-if="item.type==7&&templateId!=0">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span style="margin-left:5px;">{{item.name}}</span>
                    </span>
                    <div style="width: calc(100% - 100px);margin-right: 15px;font-size:16px;padding:0px 6px;"
                        ng-style="{'color':item.time?'#333':'#999','text-align':item.time?'center':'center'}">
                        {{item.time?item.time.substr(0,5):'请选择'}}</div>
                </label>


                <div ng-if="templateId!=0&&item.type==5">
                    <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span>{{item.name}}</span>
                    </div>
                    <ion-radio-group ng-repeat="option in item.options" style="width:100%;">
                        <!-- <ion-radio class="item" id="approval-raido" ng-click="chooseRadioChoose(option,item)" style="color:#666;background:#2bcab2;">{{option}}</ion-radio> -->
                        <div class="item" style="background:white;width:100%;"
                            ng-click="chooseRadioChoose(option,item)">
                            <span style="color:#666;font-size:16px;"> {{option}}</span>
                            <input type="radio" ng-model="item.selectOption" ng-value="item.id+option"
                                ng-click="chooseRadioChoose(option,item)" style="color:#666;background:none;"
                                item-end></input>
                        </div>
                    </ion-radio-group>
                </div>

                <div ng-if="templateId!=0&&item.type==6">
                    <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                        <span style="color:red;" ng-if="item.required">*</span>
                        <span>{{item.name}}</span>
                    </div>
                    <div ng-repeat="option in item.options">
                        <ion-checkbox class="item" ng-model="option.checked" id="approval-checkbox"
                            style="color:#666;font-size:16px;">{{option.value}}</ion-checkbox>
                    </div>
                </div>
            </div>

            <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                <span style="color:red;">*</span>
                <span>内容</span>
                <textarea style="width:100%;height: 100px;padding: 8px 8px;font-size:16px;color:#666;"
                    placeholder="最多可输入200字" maxlength="200" required ng-model="select.comment" required>
                  </textarea>
            </div>

            <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                <span>附件</span>
                <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                    <!-- <div ng-if="select.attaches.length==0" class="col pic-grid"
                        ng-repeat="item in unloadImgs track by $index" style="position: relative;">
                        <img style="position:absolute;right: 3px;top: 12px;height: 20px;width: 20px;" src="img/icon/fail_03.png"
                            ng-click="removeImg($index, $event)" />
                        <img src="img/approval/not_load.jpg" ng-src="{{item.attachUrl}}" style="max-width: 100%;margin-top:10px;"
                            ng-click="preViewImages($index)" />
                    </div> -->

                    <div ng-if="select.attaches.length!=0" class="col pic-grid"
                        ng-repeat="item in select.attaches track by $index" style="position: relative;">
                        <img style="position:absolute;right: 3px;top: 12px;height: 20px;width: 20px;"
                            src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
                        <img src="img/approval/not_load.jpg" ng-src="{{item.attachUrl}}"
                            style="max-width: 100%;margin-top:10px;" ng-click="preViewImages($index)" />
                    </div>

                    <div class="col pic-grid"
                        style="text-align: left;padding-top: 10px;padding-left:10px;width: 80px;height: 80px;"
                        ng-if="select.attaches.length < 9"  ng-click="selectImg()" >
                        <!-- <a class="button icon ion-plus-round border-btn-add" style="color: #888"
                            ng-click="selectImg()"></a> -->
                      <div class="button icon"><img src="img/others/Camera.png"
                                style="width:24px;height:24px;margin-top:13px;" /></div>
                    </div>
                    <input type="file" accept="image/*" id="capture" name="file" class="mFileInput"
                        style="display:none;" onchange="angular.element(this).scope().getFile(this.files)" />
                </div>
            </div>

            <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                <span style="color:red;">*</span>
                <span>审批人</span>
                <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                    <div class="col person-grid" style="position: relative;"
                        ng-repeat="item in radioSelectMen track by $index">
                        <div class="name-tab">
                            {{item.teacherName.length>4?item.teacherName.substr(1,4):item.teacherName}}</div>

                        <img style="position: absolute;right: 12px;top: 0px;height: 21px;width: 21px;z-index:9999;"
                            src="img/approval/approval_delete.png" on-tap="removeApprovalMan($index,item)"
                            ng-if="templateId==0" />

                        <img src="img/approval/arrow_right.png" ng-if="$index!=radioSelectMen.length-1"
                            style="width:24px;height:24px;position: absolute;right: 0px;top: 17px;" />
                    </div>

                    <div class="col pic-grid"
                        style="text-align: left;padding-top: 5px;padding-left:15px;width: 80px;height: 80px;"
                        ng-if="templateId==0">
                        <a class="button icon ion-plus-round border-btn-add"
                            style="color: #888;border-radius:50%;min-width:50px;height:50px;padding-top: 2px;"
                            ng-click="selectApprovalMan('s')"></a>
                    </div>
                </div>
            </div>

            <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                <!-- <span style="color:red;">*</span> -->
                <span>抄送人</span>
                <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                    <div class="col person-grid" ng-repeat="item in boxSelectMen track by $index"
                        style="position: relative;">
                        <div class="name-tab">
                            {{item.teacherName.length>4?item.teacherName.substr(1,4):item.teacherName}}</div>
                        <img style="position:absolute;right: 12px;top: 0px;height: 21px;width: 21px;"
                            src="img/approval/approval_delete.png" on-tap="removeReceiveMan($index, $event)"
                            ng-if="templateId==0" />
                    </div>
                    <div clayss="col pic-grid"
                        style="text-align: left;padding-top: 5px;padding-left:15px;width: 80px;height: 80px;"
                        ng-if="templateId==0">
                        <a class="button icon ion-plus-round border-btn-add"
                            style="color: #888;border-radius:50%;min-width:50px;height:50px;padding-top: 2px;"
                            ng-click="selectApprovalMan('c')"></a>
                    </div>
                </div>
            </div>


            <div class="button"
                style="width:calc(100% - 80px);margin-left:40px;height:40px;border-radius:5px;background:#2bc2b2;color:white;margin-top:50px;"
                ng-click="commitApply()" ng-disabled="infoForm.$invalid||isLoading">提交</div>
            <div style="width:100%;height:30px;"></div>

            <!-- <div class="button" style="width:calc(100% - 80px);margin-left:40px;height:40px;border-radius:5px;background:#2bc2b2;color:white;margin-top:50px;" ng-click="test()" >test</div> -->
        </ion-content>
    </form>
</ion-view>