<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">审批管理</h1>
    </ion-header-bar>
    <a class="button icon button-light ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>
    <ion-content style="background-color: #F3F5F4;font-size:15px;">
        <ion-row class="row row-wrap" style="background:white;">
            <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(0)">
                <div ng-style="{'color':select.selectIndex1==0?'orange':'#333'}"> 我的申请</div>
                <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;" ng-if="select.selectIndex1==0"></div>
            </ion-col>
            <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(1)">
                <div ng-style="{'color':select.selectIndex1==1?'orange':'#333'}">待我审核</div>
                <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;" ng-if="select.selectIndex1==1"></div>
            </ion-col>
            <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(2)">
                <div ng-style="{'color':select.selectIndex1==2?'orange':'#333'}">我已审核</div>
                <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;" ng-if="select.selectIndex1==2"></div>
            </ion-col>
            <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(3)">
                <div ng-style="{'color':select.selectIndex1==3?'orange':'#333'}">通知我的</div>
                <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;" ng-if="select.selectIndex1==3"></div>
            </ion-col>
        </ion-row>

        <ion-row class="row row-wrap" style="font-size:0.93em;" ng-if="select.selectIndex1==0||select.selectIndex1==2">
            <div style="height:30px;line-height:30px;min-width: 56px;text-align: center;margin-top: 13px;border-radius: 15px;"
                ng-style="{'color':!select.selectIndex2?'white':'#333','background-color':!select.selectIndex2?'orange':'none'}"
                ng-click="tab2Click('')">全部</div>
            <div style="height:30px;line-height:30px;min-width: 56px;text-align: center;margin-top: 13px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==1?'white':'#333','background-color':select.selectIndex2==1?'orange':'none'}"
                ng-click="tab2Click(1)">通过</div>
            <div style="height:30px;line-height:30px;min-width: 60px;text-align: center;margin-top: 13px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==3?'white':'#333','background-color':select.selectIndex2==3?'orange':'none'}"
                ng-click="tab2Click(3)">不通过</div>
            <div style="height:30px;line-height:30px;min-width: 60px;text-align: center;margin-top: 13px;border-radius: 15px;"
                ng-style="{'color':select.selectIndex2==2?'white':'#333','background-color':select.selectIndex2==2?'orange':'none'}"
                ng-click="tab2Click(2)">审批中</div>
        </ion-row>

        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <!-- <div class="spacer" style="width: 100%; height: 10px;"></div> -->
            <ion-item class="item" ng-repeat="item in  recordList " style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;"
                ng-click="goToDetail(item.id)">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 6px;margin-bottom: 6px;"
                    class="list-title-set">{{item.title}}&nbsp;</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 7px;">
                    <span style="color:#999;" ng-style="{'margin-left':'0px'}">{{item.submitTime.substr(0,16)}}</span>
                </div>


                <div style="margin-top:7px;color:#666;" ng-if="select.selectIndex1!=0">
                    <span style="color:#999;">申请人:</span>
                    <span style="color:orange;">{{item.submitter}}</span>
                </div>

                <div style="margin-top:7px;color:#666;" ng-if="select.selectIndex1==0||select.selectIndex1==2">
                    <span style="color:#999;">当前状态:</span>
                    <span style="color:#333;">{{currentApprovalStatus(item.progress)}}</span>
                </div>

                <div ng-if="select.selectIndex1==0||select.selectIndex1==2" style="margin-top:7px;color:#666;margin-bottom: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    <span style="color:#999;">正在进行的流程:</span>
                    <span style="color:#333;">{{item.currUserName}}&nbsp;[{{currentApprovalStatus(item.progress)}}]</span>
                </div>

                <div ng-if="select.selectIndex1==1" ng-click="approvalApply(item.id)" class="button ion-button" style="background-color:#2bcab2;color:white;height:32px;line-height: 32px;min-height: 32px;min-width:65px;margin-top: -20px;float: right;">审批</div>

            </ion-item>
            <div class="empty-list-tip" ng-if="!recordList||recordList&&recordList.length==0|| filtered.length==0">
                <img src="img/empty_content.png">
                <p>暂无审批信息</p>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&recordList&&recordList.length>9"> 没有更多了</div>

    </ion-content>
</ion-view>