<ion-view hide-nav-bar="true" cache-view="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">查看文章</h1>
    </ion-header-bar>
    
    <ion-content>
         
    <div class="list">
        <h4 style="margin-top: 15px;margin-left: 15px;font-size: 19px;">{{article.title}}</h4>
        <div style="width: calc(100% - 30px);margin-left: 15px;background-color: #DDDDDD;height:1px;"></div>
        <p style="margin-top: 13px;margin-left:16px;color: #666666;">{{article.publicTime}}</p>
        <div id="bannerContent" style="margin-top: 15px;margin-left:16px;margin-bottom:18px;width:calc(100% - 28px); " ng-bind-html="article.contentHtml"></div>
      
        <div style="height:44px;line-height:44px;background-color: #F5F5F5;font-size: 15%vw;vertical-align:middle;width:100%;">
            <span style="margin: 0px 5px 0px 14px; ">阅读
                <span style="color:orange;">&nbsp;{{article.pv}}</span>
            </span>
            <span style="margin: 0px 5px 0px 6px;">点赞
                <span style="color:orange;">&nbsp;{{data.praiseNum}}</span>
            </span>
            <span style="margin: 0px 5px 0px 6px;">评论
                <span style="color:orange;">&nbsp;{{data.articleCommentList.length}}</span>
            </span>
            <span style="font-weight:500; color: #2bcab2;margin-right: 10px;" ng-click="goToDetailList()" item-end>更多文章</span>
        </div>
        <div style="margin-top: 30px;width:100%;font-size: 1.0em"></div>
        <div style="width:calc(50% - 40px);height: 1px;background-color: #DDDDDD;margin-left:12px; "></div>
        <div style="width:calc(50% - 40px);height: 1px;background-color: #DDDDDD;margin-right:12px;" item-end> </div>
        <div style="margin-right: 12px;margin-top: -11px; font-weight: 400;" item-end>评论</div>
      
    
        <div style="font-size: 1.0em;margin-top: 18px; color:#1F6B5D;width:100%;text-align:right;padding-right: 14px;" ng-click="editComments(article.code)" >
            <span style="margin-right: 3px;align-items: center;">写点什么</span>
            <i class="icon ion-compose" style="font-size: 25px;"></i>
        </div>
    
        <div style="margin-top: 30px;margin-bottom: 60px;" class="bannerComments">
            <div class="item item-avatar" ng-repeat="comment in data.articleCommentList track by $index" ng-style="{'border-top-width': $index===0?'0px':'1px'}">
                <img src="img/icon/person.png" ng-src="{{comment.headUrl}}">
                <h2 style="margin-top: -4px;">{{::comment.username}}</h2>
                <h2 style="margin-top: 8px;line-height:22px;color:#666666; ">{{comment.comment}}</h2>
                <p style="margin-top: 12px;">{{::comment.commentTime}}</p>
                <p style="margin-top: -15px;font-size: 16px;" ng-style="{'color':comment.bPraise?'#FB6A06':'gray'}" item-end ng-click="commentLike(comment.id,$index)">
                    <i class="icon ion-heart"></i>
                    <span style="align-items: center;margin-left:5px;">{{comment.praiseNum}}</span>
                </p>
            </div>
        </div>
        <div class="empty-list-tip" style="margin-top: 8% !important;margin-bottom: 60px;"  ng-if="data.articleCommentList.length == 0 ">
            <img src="img/empty_content.png">
            <p>暂无评论</p>
        </div>

    </div>
    
    </ion-content>

    <div class="bar bar-footer " style="background-color: #F5F5F5;height: 50px;">
        <div class="title" style="margin-top: 6px;font-size: 20px; " ng-style="{'color':data.bPraise?'#FB6A06':'gray'}" ng-click="giveLikeClick(article.code)">
            <i class="icon ion-heart"></i>
          <span style="align-items: center;margin-left:5px;">赞</span>
        </div>
    </div>
</ion-view>