<ion-view id="userMessagesView" cache-view="false">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">班牌留言</h1>
    </ion-header-bar>
    
    <ion-content has-bouncing="true" class="has-header has-footer" style="background-color: #f3f4f5;" delegate-handle="userMessageScroll"
        ng-click="hideFootView()">

        <div style="font-size: 0.85em;width: 100%;line-height: 25px;height:25px;background-color:#DCDCDC;color:#444;z-index: 99999;padding-left: 10px;">小孩在教室门口的班牌上可查看您近30天的留言</div>
       
            <div class="message-wrapper" ng-repeat="message in leaveMsgList  track by $index ">

                <div style="width: 100%;float: left;padding-top:8px;" class="feedback-left" ng-if="message.userType==1">
                    <div class="feedback-time left" ng-if="message.timeLabel||$index==0">{{::message.timeLabel}}</div>
                    <div style="background-color:#f3f4f5;border-width: 0px;width:100%;">
                        <img class="feedback-pic left" src="img/icon/person.png" ng-src="{{child.logo}}" />
                        <div class="feedback-username left">{{childName}}</div>
                        <div class='feedback-message left' compile="convertMsgtoHtml(message.msg)"></div>
                        <!-- <img ng-src="{{message.imgContent[0].url}}" class="feedback-message leftPic" ng-if="message.contentType==1" ng-click="viewImages( message.imageUrls, $index,$event)" on-img-cache/> -->
                    </div>
                </div>

                <div style="padding-top:16px; width: 100%;float: right;" class="feedback-right" ng-if="message.userType==0">
                    <div class="feedback-time right" ng-if="message.timeLabel||$index==0">{{::message.timeLabel}}</div>
                    <div style="border-width: 0px;width:100%;">
                        <img class="feedback-pic right" src="img/icon/person.png" ng-src="{{user.logo}}" />
                        <div class="feedback-message right" style="color: white;" compile="convertMsgtoHtml(message.msg)"></div>
                        <!-- <img  ng-src="{{message.imgContent[0].url}}" src="{{message.imgContent[0].thumb}}" class="feedback-message rightPic" ng-if="message.contentType==1"  ng-click="viewImages( message.imageUrls, $index,$event)" on-img-cache/> -->
                    </div>
                </div>
            </div>
            <div class="item" ng-style="{'height':isShow?'105px':emotionShow?'200px':'20px'}" style="width: 100%;border-width: 0px;background-color:#f3f4f5;line-height: 20px; "></div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <div class="bar bar-footer bar-light item-input-inset" keyboard-attach resize-foot-bar style="padding-right: 3px;padding-left: 3px;width: 100%;">

            <div class="item item-input" style="width: calc(100% - 63px);padding: 0;position:relative;" ng-style="{'bottom':isShow?'95px':emotionShow?'190px':'0px'}">
                <textarea ng-blur="blur()" id='suggestTextinput' name="chatInput" class="item-input chat-input" msd-elastic ng-model="input.message" placeholder="输入消息"
                    required minlength="1" maxlength="1500"></textarea>
                <!-- <div class="buttons">
                    <button style="color:#999;" class="chat-emotions-footer-btn button button-icon icon ion-happy-outline" ng-click="showEmotions($event)"
                        type="button"></button>
                </div> -->
            </div>
            <div class="footer-btn-wrap" style="border-bottom-width: 0px;">
                <button class="button button-balanced feedback-footer-btn" ng-disabled="!input.message || input.message === ''" type="submit"
                    style="margin-left: 18px !important;" ng-style="{'bottom':isShow?'95px':emotionShow?'190px':'0.5px'}">发送
                </button>
                <!-- <div  style="background-color: white;position: absolute;width: 60px;height: 35px;" ng-style="{'bottom':isShow?'95px':emotionShow?'190px':'0px'}"> 
                   <button ng-if="!input.message || input.message === ''" class="button button-icon icon feedback-footer-btn-img " 
                    ng-click="selectImg()">
                       <img src="img/testScores/image_add.png" width="30px;height:30px; " />
                   </button>
               </div> -->
            </div>

            <!-- <div class="feedback-foot" ng-if="isShow">
               <div class="row row-wrarp" style="padding: 15px;">
                   <div style="width: 50px !important;margin-left: 1px;" ng-click="switchPhoto(1)">
                       <div class="d-switch">
                           <img class="img-switch" src="img/testScores/switch_photo.png">
                       </div>
                       <h6 style="font-size:1.0rem;margin-top: 0.6rem;margin-left: 6px;">相册</h6>
                   </div>
           
                   <div style="width: 50px;margin-left: 20px;" ng-click="switchPhoto(0)">
                       <div class="d-switch">
                           <img class="img-switch" src="img/testScores/switch_camera.png">
                       </div>
                       <h6 style="font-size:1.0rem;margin-top: 0.6rem;margin-left: 6px;">拍照</h6>
                   </div>
               </div>
           </div> -->

            <!-- <emotion-picker ng-if="emotionShow" style="position: absolute;bottom:0px;width:100%;height:195px;background-color: #f3f4f5;"></emotion-picker> -->
        </div>

    </form>
</ion-view>