<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<h1 class="title bar-follower-font">首页</h1>
		<button class="button button-icon icon icon-market" ng-click="showMarket()" ng-if="isTeacher"></button>
	</ion-header-bar>
	<ion-content class="has-header" style="background-color: #ffffff">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="loadData()">
		</ion-refresher>
		<style>
			.swiper-container-horizontal>.swiper-pagination {
				bottom: 0;
			}
		</style>
		<ion-slide-box auto-play="true" style="max-height:180px !important;" id="mainSlideBox" does-continue="true"
			slide-interval=4000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex"
			delegate-handle="delegateHandler">
			<ion-slide ng-repeat="s in bannerList track by s.id" style="width:100%;height: 180px;"
				ng-if="bannerList.length >0">
				<div>
					<img ng-src="{{::s.coverUrl}}" style="width:100%;height:180px;"
						ng-click="goExternal(s.code,s.id,s.url)">
					<h5
						style="position: absolute;bottom: -10px;width: 100%;text-align: center;background-color: rgba(0,0,0,.4);padding: 5px 10px 20px 10px;color: white;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
						{{::s.title}}</h5>
				</div>
			</ion-slide>
			<ion-slide style="width:100%;height: 180px;" ng-if="!bannerList||bannerList.length == 0">
				<div>
					<img src="img/banner_main.jpg" style="width: 100%" />
				</div>
			</ion-slide>
		</ion-slide-box>


		<!--<div id="banxun" class="main-row no-border-radius" ng-if="banxunTxt" ng-click="showFullBX=!showFullBX" ng-class="showFullBX?'':'one-line'">-->
		<!--<img src="img/mainpage/main_banxun14.png" style="vertical-align: middle;width: 18px;height: 33px;">-->
		<!--<span style="margin-left: 10px;">{{banxunTxt}}</span>-->
		<!--</div>-->

		<div class="item item-divider no-border-radius main-item-title">
			<div style="width: 3px;height: 100%;background-color: #2bcab2">
				<span style="margin-left: 10px;font-size: 16px;">通知公告</span>
			</div>
		</div>


		<div class="row main-row no-border-radius" style="font-size: 14px;">
			<div ng-repeat="item in noticeTypeList" class="col-25 main-item" style="text-align: center"
				ng-click="goFunction(item.url, item.type)">
				<img ng-src="{{item.icon}}" />
				<span class="badge badge-assertive notice-badge" ng-if="item.badge">{{item.badge}}</span>
				<span style="position: relative;top: 3px;">{{item.name}}</span>
			</div>
			<div class="col-25 main-item" ng-click="goFunction('leaveMessage')" ng-if="isParent && authBanPai">
				<img src="img/icon/main_leave_message.png" />
				<span class="badge badge-assertive notice-badge" ng-if="leaveMsgBadge">{{leaveMsgBadge}}</span>
				<span style="position: relative;top: 3px;">班牌留言</span>
			</div>
			<div class="col-25 main-item" ng-click="goFunction('safeSchool')"
				ng-if="(isParent || isHeadTeacher) && hasSaftSchoolPermission">
				<img src="img/icon/main_paxy.png" />
				<span class="badge badge-assertive notice-badge" ng-if="paxyBadge">{{paxyBadge}}</span>
				<span style="position: relative;top: 3px;">平安校园</span>
			</div>


			<div class="col-25 main-item" ng-click="goFunction('meetingNoticeList')" ng-if="isTeacher && authOA">
				<img src="img/icon/meeting-notice.png" />
				<span class="badge badge-assertive notice-badge"
					ng-if="meetingNoticeBadge">{{meetingNoticeBadge}}</span>
				<span style="position: relative;top: 3px;">会议通知</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('exerciseNoticeList')" ng-if="isTeacher&&safeManage">
				<img src="img/icon/main_exercise.png" />
				<!-- <span class="badge badge-assertive notice-badge"
				>8</span> -->
				<span style="position: relative;top: 3px;">应急演练</span>
			</div>
		</div>

		<div class="spacer xView-grey" style="height: 10px;" ></div>

		
		<div class="item item-divider no-border-radius main-item-title" ng-if="!isTeacher">
			<div style="width: 3px;height: 100%;background-color: #2bcab2">
				<span style="margin-left: 10px;font-size:16px;">班级信息</span>
			</div>
		</div>
		<div class="row main-row no-border-radius" ng-if="!isTeacher" style="font-size: 14px;">

			<div class="col-25 main-item" ng-click="goFunction('parScores')" ng-if="authTeachingManage">
				<img src="img/icon/main-kscj.png" />
				<span>考试成绩</span>
				<div style="width: 10px;height: 10px;border-radius: 5px;background-color: red;position: absolute;right:25px;top:0px;"
					ng-if="hasNewExam"></div>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('today')">
				<img src="img/icon/class_today.png" />
				<span style="position: relative;top: 3px;">今日课堂</span>
			</div>
			<div class="col-25 main-item" ng-click="goFunction('classSchedule', 'course')">
				<img src="img/icon/class_schedule.png" />
				<span style="position: relative;top: 3px;">课程表</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('classSchedule', 'duty')">
				<img src="img/icon/class_duty.png" />
				<span style="position: relative;top: 3px;">值日表</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('myDynamicCourse')" ng-if="walkCourseManage">
				<img src="img/icon/main_course.png" />
				<span style="position: relative;top: 3px;">走班选课</span>
			</div>
			<div class="col-25 main-item" ng-click="goFunction('leaveRequest')" ng-if="isParent">
				<img src="img/icon/main_xsqj.png" />
				<span style="position: relative;top: 3px;">请假</span>
			</div>
			<div class="col-25 main-item" ng-click="goFunction('parEvaluationList')"
				ng-if="isParent&&authTeachingManage">
				<img src="img/icon/main_teacher_evaluate.png" />
				<span style="position: relative;top: 3px;">教师点评</span>
			</div>


			<div class="col-25 main-item" ng-click="goFunction('chargeDetail','stu')" ng-if="isParent&&chargeManage">
				<img src="img/icon/main_charge.png" />
				<span style="position: relative;top: 3px;">收费管理</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('attendanceStatic')"
				ng-if="isParent&&hasCheckInPermission">
				<img src="img/icon/main_kqtj.png" />
				<span style="position: relative;top: 3px;">考勤统计</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('parReservationList')" ng-if="isParent&&safeManage">
				<img src="img/icon/main_reservation.png" />
				<span style="position: relative;top: 3px;">入校预约</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('babyVideoList')" ng-if="isParent&&babyVideoManage">
				<img src="img/icon/main_classroom_monit.png" />
				<span style="position: relative;top: 3px;">宝宝视频</span>
			</div>


			<div class="col-25 main-item" ng-click="goFunction('studentDailyDetail')" ng-if="covidProvent">
				<img src="img/icon/icon-mask.png" />
				<span style="position: relative;top: 3px;">健康体检</span>
			</div>
		</div>

		<div class="item item-divider no-border-radius main-item-title" ng-if="isTeacher">
			<div style="width: 3px;height: 100%;background-color: #2bcab2">
				<span style="margin-left: 10px;font-size: 16px;">我的应用</span>
				
			</div>
		</div>
		<div class="row main-row no-border-radius" ng-if="isTeacher" style="font-size: 14px;">
			<div class="col-25 main-item" ng-click="goFunction('teaScores')" ng-if="authTeachingManage">
				<img src="img/icon/main-kscj.png" />
				<span style="position: relative;top: 3px;">考试成绩</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('myClassSchedule')">
				<img src="img/icon/class_schedule.png" />
				<span style="position: relative;top: 3px;">课程表</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('classSchedule', 'duty')">
				<img src="img/icon/class_duty.png" />
				<span style="position: relative;top: 3px;">值日表</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('checkInHistory', 'normal')"
				ng-if="hasCheckInPermission">
				<img src="img/icon/main_attendance.png" />
				<span style="position: relative;top: 3px;">班级考勤</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('checkInHistory', 'kid')"
				ng-if="hasBabyCheckInPermission">
				<img src="img/icon/main_attendance.png" />
				<span style="position: relative;top: 3px;">班级考勤</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('myDynamicCourse')" ng-if="walkCourseManage">
				<img src="img/icon/main_course.png" />
				<span style="position: relative;top: 3px;">我的走班课</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('classMotto')" ng-if="isHeadTeacher">
				<img src="img/icon/class_banxun.png" />
				<span style="position: relative;top: 3px;">班训设置</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('leaveRequest')" ng-if="isHeadTeacher">
				<img src="img/icon/main_xsqj.png" />
				<span class="badge badge-assertive notice-badge" ng-if="xsqjBadge">{{xsqjBadge}}</span>
				<span style="position: relative;top: 3px;">学生请假</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('attendanceRecords')" ng-if="hasSaftSchoolPermission">
				<img src="img/icon/main_kqtj.png" />
				<span style="position: relative;top: 3px;"> 考勤统计</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('attendanceToday')" ng-if="hasSaftSchoolPermission">
				<img src="img/icon/main_jrkq.png" />
				<span style="position: relative;top: 3px;">今日考勤</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('cardFeeStatus')"
				ng-if="hasSaftSchoolPermission && isHeadTeacher && needCardFee ">
				<img src="img/icon/icon_cash.png" />
				<span style="position: relative;top: 3px;">学生卡押金</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('equipmentRepairList')" ng-if="authOA">
				<img src="img/icon/main_repair.png" />
				<span style="position: relative;top: 3px;">设备报修</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('assetsList')" ng-if="authAssetsManage">
				<img src="img/icon/assets_apply.png" />
				<span style="position: relative;top: 3px;">资产申领</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('meetingRoomReservationList')" ng-if="authOA">
				<img src="img/icon/meeting-reservation.png" />
				<span style="position: relative;top: 3px;">会议室预约</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('approvalList')" ng-if="authOA">
				<img src="img/approval/approval_admin.png" />
				<span style="position: relative;top: 3px;">审批管理</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('classStar')" ng-if="isHeadTeacher&&authBanPai">
				<img src="img/icon/main_class_star.png" />
				<span style="position: relative;top: 3px;">班级之星</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('portraitList')" ng-if="(isHeadTeacher&&authBanPai) || covidProvent">
				<img src="img/icon/main_portrait.png" />
				<span style="position: relative;top: 3px;">人像采集</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('myPortrait')" ng-if="!isHeadTeacher&&authBanPai">
				<img src="img/icon/main_portrait.png" />
				<span style="position: relative;top: 3px;">人像采集</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('dateArrange')" ng-if="authOA">
				<img src="img/icon/main_date_arrange.png" />
				<span style="position: relative;top: 3px;">日程安排</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('evaluateStudent')"
				ng-if="isHeadTeacher&&authTeachingManage">
				<img src="img/icon/main_teacher_evaluate.png" />
				<span style="position: relative;top: 3px;">学生评价</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('chargeList')" ng-if="isHeadTeacher&&chargeManage">
				<img src="img/icon/main_charge.png" />
				<span style="position: relative;top: 3px;">收费管理</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('adjustClassList')">
				<img src="img/icon/main_adjust_class.png" />
				<span style="position: relative;top: 3px;">调课</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('infoGroupList')" ng-if="groupManage">
				<img src="img/icon/main_group.png" />
				<span style="position: relative;top: 3px;">分组信息</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('hidenTroubleList')" ng-if="safeManage">
				<img src="img/icon/main_hiden_report.png" />
				<span style="position: relative;top: 3px;">隐患上报</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('teaReservationList')" ng-if="safeManage">
				<img src="img/icon/main_reservation.png" />
				<span style="position: relative;top: 3px;">拜访预约</span>
			</div>


			<div class="col-25 main-item" ng-click="goFunction('babyVideoList')" ng-if="babyVideoManage">
				<img src="img/icon/main_classroom_monit.png" />
				<span style="position: relative;top: 3px;">宝宝视频</span>
			</div>

			<div class="col-25 main-item" ng-click="goFunction('covidDailySummery')" ng-if="covidProvent">
				<img src="img/icon/icon-health.png" />
				<span class="badge badge-assertive notice-badge" ng-if="covidWarningBadge">{{covidWarningBadge}}</span>
				<span style="position: relative;top: 3px;">疫情防控</span>
			</div>
		</div>

	</ion-content>

</ion-view>