<ion-view hide-nav-bar="true" >
	<ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
		<h1 class="title bar-follower-font">{{schoolName}}</h1>
		<button class="button button-outline" ng-click="openTypeSelectModal()" style="color: white;max-width: 97px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" ng-hide="disableTypeSelect">{{selectedTypeame}}</button>
	</ion-header-bar>
	<a class="button icon button-balanced ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;" ng-style="{'bottom':isIphoneX()?'84px':'50px'}"></a>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData(true)">
		</ion-refresher>
		<ion-slide-box auto-play="true" style="max-height:180px !important;" id="schoolSlideBox" does-continue="true" slide-interval=4000 show-pager="true" 
		active-slide="model.activeIndex" delegate-handle="delegateHandler">
		   <ion-slide ng-repeat="s in bannerList track by s.focusUrl" style="width:100%;" ng-if="bannerList.length >0">
			   <div >
				   <img ng-src="{{::s.focusUrl}}" style="width:100%;height:220px;"  ng-click="goDetail(s)">
			   </div>
		   </ion-slide>
		   <ion-slide style="width:100%;height: 180px;" ng-if="bannerList.length == 0">
			   <div >
				   <img src="img/banner.jpg" style="width: 100%"/>
			   </div>
		   </ion-slide>
	   </ion-slide-box>

	 
		<div class="button-bar"
			 style="padding-left: 10%;padding-right:10%; margin: 10px;">
			<button class="button btn-campus-select" ng-click="changeFilter('all')" id="btn-campus-all"
					ng-class="activeTab=='all'?'activated_btn_orange':''">全部风采
			</button>
			<button class="button btn-campus-select" ng-click="changeFilter('pending')" style="position: relative"
					ng-class="activeTab=='pending'?'activated_btn_orange':''" ng-if="isTeacher()">待审核
				<strong ng-if="pendingPublishCount>0">●</strong>
			</button>
			<button class="button btn-campus-select" ng-click="changeFilter('mine')" id="btn-campus-my"
					ng-class="activeTab=='mine'?'activated_btn_orange':''">我的
				<strong ng-if="unreadCount>0">●</strong>
			</button>
		</div>
		</ion-list>

		<div style="width: 100%;text-align: center" ng-if="unreadCount>0"><span id="campus-unread-view" ui-sref="unreadMsg({list: unreadList})">有{{unreadCount}}条新动态</span></div>

		<div class="list card" ng-repeat="item in newsList track by item.id" ng-click="goDetail(item)" >
			<div class="item item-avatar campus-item-avatar" >
				<img src="img/icon/school-default.png" ng-src="{{::item.authorLogo}}" >
				<h2 style="max-width: 70%">{{item.title}}</h2>
				<span id="span-date">{{getDisplayTime(item.createTime)}}</span>
				<span id="span-author">{{item.authorName}}</span>
				<button class="button button-balanced"  style="margin-left: -5px;" ng-style="{'background-color':getBgColorByKey(item.key),'min-width':'68px','border-radius':'11px'}"
						ng-if="getNewsType(item.key)!==''">{{getNewsType(item.key)}}
				</button>
				<button class="button button-balanced" style="min-width:68px;background-color: #8f3adf;border-radius:11px;"
						ng-if="item.state==5">校园风采
				</button>
			</div>

			<div class="item item-body campus-item-body">
				<p style="line-height: 15px;max-height: 60px;overflow: hidden;margin-top: 0" >{{delHtmlTag(item.text)}}</p>
				<ion-gallery id="gallery-img" ion-gallery-items="item.picUrls"  ion-gallery-row="3" ion-gallery-toggle="true" ng-if="item.picUrls.length>0"></ion-gallery>
				<!-- <div class="row flex-row" style="padding: 0;margin-top: 2px;">
					<div class="col pic-grid" ng-repeat="pic in item.imageUrls track by $index"
						 style="position: relative;max-width: 29vw;min-width: 29vw;width: 29vw">
						<img ng-src="{{::pic}}"
							 ng-click="viewImages(item.imageUrls, $index, $event)"   />		
					</div>
				</div> -->
				<div style="border-top: 1px solid #ddd;margin-top: 10px;padding-top: 5px;margin-top:12px;">
					<button class="button campus-item-body-left-button button-icon" ng-click="favorNews(item, $event)"
							>
						<img ng-src="{{item.isFavor?'img/icon/uped.png':'img/icon/up.png'}}" style="width: 20px;height:20px;"/><span style="margin: 10px;">{{item.praiseNum}}</span>
					</button>
					<button class="button campus-item-body-left-button button-icon"
							>
						<img src="img/icon/comment.png" style="width: 20px;height:20px;" alt=""/> <span style="margin: 10px;">{{item.commentsNum}}</span>
					</button>
					<div ng-if="!item.isPublish && isTeacher()">
						<button class="button campus-item-body-right-button jdt" ng-click="setIgnore(item, $event)">拒绝
						</button>
						<button class="button campus-item-body-right-button zd" style="margin-right: 5px;"
								ng-click="setPublish(item, $event)">发布
						</button>
					</div>
					<button class="button campus-item-body-right-button qxsc"
							ng-click="deleteItem(item, $event)" ng-if="canDelete(item)">删除
					</button>
					<button class="button  button-stable campus-item-body-right-button qxsc" style="margin-right: 5px;"
							ng-click="cancelItem(item, $event)" ng-if="canCancel(item)">撤回
					</button>
					<button class="button campus-item-body-right-button jdt" ng-click="send2Admin(item, $event)" style="margin-right: 5px;"
							ng-if="isTeacher()&&item.state==4">推荐
					</button>
				</div>
			</div>
		</div>

		<div ng-if="newsList.length == 0" class="empty-list-tip" style="margin-top: 10%">
			<img src="img/empty_content.png">
			<p>暂无风采</p>
		</div>

		<ion-infinite-scroll
			spinner="spiral"
			ng-if="listHasMore"
			on-infinite="loadData(false)"
			distance="10%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
