<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeChooseModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">选择学生</h1>
		<a class="button button-clear" style="font-size:15px;color:white;font-weight:400;padding-top:3px;" ng-click="closeChooseModal()"> 确定 </a>
	</ion-header-bar>
	<ion-content style="padding: 15px;">

		<div class="item item-input no-border-radius" style="margin-bottom: 5px;">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="搜索学生" ng-model="sel.add_search" maxlength="20" class="input"/><img ng-if="sel.add_search.length>0" src="img/icon/close.png" ng-click="sel.add_search='';" style="width: 16px;height: 16px;margin-right: 10px;"/>
		</div>

		<div ng-repeat="group in listNormal  | orderBy: 'type' " >
			<div class="item" style="padding: 8px 8px 8px 16px;border: 0;border-radius: 0;margin-top: 1px;" ng-if="group.type==1||group.type==2||group.type==3||group.type==6" ng-click="toggle(group, filtered.length);" ng-class="group.show?'':'chat_group_bottom_line'">
				<img ng-class="group.show?'people-select-triangle-open':'people-select-triangle-close'"
					 ng-src="{{group.show?'img/icon/triangle_down.png':'img/icon/triangle_right.png'}}">
				<h2>{{getGroupName(group.type)}} ( {{filtered.length}} )</h2>
			</div>

			<ion-checkbox class="item" style="padding: 8px 8px 8px 48px;border-radius: 0;" ng-repeat="contact in filtered = (group.adAttendDetailVos| filter: {studentName: sel.add_search} | filter: group.filter)" ng-model="contact.isChecked" ng-if="group.show" ng-click="onLeaveStudentClicked(contact)">
				<img style="float: left;border-radius: 50%;width: 38px;height: 38px;" src="img/icon/default_student.png" ng-src="{{contact.logo}}" >
				<h3 style="margin-top: 10px;padding-left: 15px;font-weight: normal">{{contact.studentName}} ({{contact.phoneNumber}})</h3>
			</ion-checkbox>

		</div>

		<div ng-if="emptyContacts" style="display: block;padding: 5% 10%">
			• 该班级未找到学生
		</div>

		<div class="spacer" style="height: 30px;"></div>

	</ion-content>
</ion-modal-view>
