<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{selectDay}}考勤明细</h1>
		<button class="button button-icon icon " ng-click="about()">
			<img src="img/icon/about.png" class="header-icon" alt=""/>
		</button>
	</ion-header-bar>
	<a class="button btn-follower float-button" id="focusItem" ng-click="showEditMode()" ng-if="isHeadTeacher">修改</a>
	<ion-content>
		<div class="tabs-striped tabs-top">
			<div class="tabs" style="position: inherit">
				<a class="tab-item" ng-class="activeIndex===0?'active':''" ng-click="switchTab(0)">
					正常<span style="color: green">({{listDetailArr[0].length}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===5?'active':''" ng-click="switchTab(5)" style="overflow: visible">
					待确认<span style="color: red">({{listDetailArr[5].length}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===1?'active':''" ng-click="switchTab(1)">
					请假<span style="color: blue">({{listDetailArr[1].length}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===2?'active':''" ng-click="switchTab(2)">
					迟到<span style="color: orange">({{listDetailArr[2].length}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===3?'active':''" ng-click="switchTab(3)">
					早退<span style="color: red">({{listDetailArr[3].length}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===4?'active':''" ng-click="switchTab(4)">
					旷课<span style="color: red">({{listDetailArr[4].length}})</span>
				</a>
			</div>
		</div>
		<div class="list card" ng-repeat="item in listDetail" ng-click="openDetailModal(item)">

			<div class="item item-avatar" style="border-radius: 0;">
				<img src="img/icon/person.png" ng-src="{{item.headimg}}" >
				<h2>{{item.name}} ({{item.phoneNumber}})</h2>
				<span ng-if="activeIndex!=1&&activeIndex!=4"> {{item.arrivalTime}} ~ {{item.leaveTime}}</span>
			</div>
		</div>

		<div ng-if="listDetail.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-modal-view>
