<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" class="header-icon" alt=""/>
		</button>
		<h1 class="title bar-follower-font">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes" ng-change="loadData()" required>
			</select><span style="font-size: small;padding-left: 1px;">▼</span>
		</h1>
		<button class="button button-icon icon " ng-click="about()">
			<img src="img/icon/about.png" class="header-icon" alt=""/>
		</button>
	</ion-header-bar>
	<a class="button btn-follower float-button" id="focusItem" ng-click="showChangeModel()">补签</a>
	<ion-content>
		<div class="tabs-striped tabs-top">
			<div class="tabs" style="position: inherit">
				<a class="tab-item" ng-class="activeIndex===0?'active':''" ng-click="switchTab(0)">
					已到校<span style="color: green">({{indexCount[0]}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===1?'active':''" ng-click="switchTab(1)">
					未到校<span style="color: red">({{indexCount[1]}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===2?'active':''" ng-click="switchTab(2)">
					已请假<span style="color: blue">({{indexCount[2]}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===3?'active':''" ng-click="switchTab(3)">
					未离校<span style="color: orange">({{indexCount[3]}})</span>
				</a>
				<a class="tab-item" ng-class="activeIndex===4?'active':''" ng-click="switchTab(4)">
					已离校<span style="color: #666">({{indexCount[4]}})</span>
				</a>
			</div>
		</div>
		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData(true)">
		</ion-refresher>

		<div class="list card" ng-repeat="item in filtered = (list | filter: listFilter)" ng-click="openDetailModal(item)">

			<div class="item item-avatar" style="border-radius: 0px;">
				<img src="img/icon/person.png" ng-src="{{item.logo}}" >
				<h2>{{item.studentName}} ({{item.phoneNumber}})</h2>
				<span ng-if="activeIndex===0">到校时间：{{item.attendanceTime.substr(11,5)}}</span>
			</div>
		</div>

		<div ng-if="filtered.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无内容</p>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
