<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="closeEditModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
        </button>
        <h1 class="title bar-follower-font">修改考勤信息</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-text-wrap" style="padding-top: 5px;padding-bottom: 5px;border: 0;">
            <Usernamespan style="width: 45%" class="input-label">实际考勤状态</Usernamespan>
            <button class="button" ng-repeat="btn in groups | filter: {key: '!!'}" ng-click="selected.resignType=btn" ng-class="selected.resignType.key==btn.key?'btn-text_style':'btn-type'" style="margin:5px 5px;">
                {{btn.name}}
            </button>
        </div>

        <ion-checkbox style="padding: 8px 8px 8px 48px;border: 0; width: 100px;display: inline-block" ng-repeat="sub in selected.resignType.sub" ng-model="sub.isChecked" ng-if="selected.resignType.sub">
            <h2 style="font-weight: normal">{{sub.name}}</h2>
        </ion-checkbox>

        <label class="item item-input no-border-radius" ng-click="showChooseMode()">
            <Usernamespan class="input-label">学生</Usernamespan>
            <span style="width: 50%;text-align: right"> 已选择 <span style="color: #2bcab2">{{toChangeList.length}}</span> 人 <i class="icon ion-ios-arrow-right"></i> </span>
        </label>

        <div class="row flex-row">
            <div class="col-25" style="text-align: center"
                 ng-repeat="item in toChangeList = (list | filter: {isChecked: true})">
                <img style="position:relative;right: -20px;top: 18px;height: 20px;width: 20px;"
                     src="img/icon/fail_03.png" ng-click="item.isChecked=false"/>
                <img src="img/icon/person.png" ng-src="{{item.headimg}}"
                     style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;"
                     />
                <span>{{item.name}}</span>
            </div>
        </div>

        <div class="spacer" style="height: 30px;"></div>

    </ion-content>
    <ion-footer-bar class="btn-follower">
        <button class="button button-outline btn-enroll" style="width: 100%;font-size: large;" ng-click="save()">确定</button>
    </ion-footer-bar>
</ion-modal-view>
