<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
        </button>
        <h1 class="title bar-follower-font">今日考勤补签</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-input no-border-radius" style="padding-top: 5px;padding-bottom: 5px;">
            <Usernamespan class="input-label label-input">补签类别</Usernamespan>
            <button class="button " ng-repeat="btn in checkInTypes" ng-click="selected.resignType=btn.key" ng-class="selected.resignType==btn.key?'btn-text_style':'btn-type'" style="margin: 2px 5px;">
                {{btn.name}}
            </button>
        </div>

        <label class="item item-input no-border-radius" ng-if="selected.resignType!=2">
            <Usernamespan class="input-label label-input">{{selected.resignType==0?'到':'离'}}校时间</Usernamespan>
            <button class="button button-outline" ng-click="showTimePicker()" style="color: inherit">{{timeBtnTxt}}</button>
        </label>


        <p style="padding: 10px 15px 0 15px;color: gray;font-size: small" ng-if="selected.resignType!=2">补签的到离校消息将会自动通知给家长，让家长第一时间知晓。如果到离校时间正常则无需补签。</p>

        <p style="padding: 10px 15px 0 15px;color: gray;font-size: small" ng-if="selected.resignType==2">该学生补签为已请假之后，该生今日的打卡数据将不作为考勤依据。</p>


        <label class="item item-input no-border-radius" ng-click="showChooseMode()">
            <Usernamespan class="input-label label-input">学生</Usernamespan>
            <span style="width: 70%;text-align: right"> 已选择 <span style="color: #2bcab2">{{toChangeList.length}}</span> 人 <i class="icon ion-ios-arrow-right"></i> </span>
        </label>

        <div class="row flex-row">
            <div class="col-25" style="text-align: center" ng-repeat="item in toChangeList = (list | filter: {isChecked: true})">
                <img style="position:relative;right: -20px;top: 18px;height: 20px;width: 20px;" src="img/icon/fail_03.png" ng-click="item.isChecked=false" />
                <img src="img/icon/person.png" ng-src="{{item.logo}}" style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;" />
                <span>{{item.studentName}}</span>
            </div>
        </div>

        <div class="spacer" style="height: 30px;"></div>

    </ion-content>
    <ion-footer-bar class="btn-follower">
        <button class="button button-outline btn-enroll" style="width: 100%;font-size: large;" ng-click="save()">确定</button>
    </ion-footer-bar>
</ion-modal-view>
