<ion-view class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
		</button>
		<h1 class="title bar-follower-font">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes"
			    ng-change="onSelectionChange()" required>
			</select>
			<span style="font-size: small;padding-left: 1px;">▼</span>
		</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="row text-center" style="margin-bottom: -10px;margin-top: 0;background: white" ng-if="!noCalendar">
			<div class="col col-10 left_arrow">
				<button class="button-clear " ng-class="disableGoPre?'pointer_events_none':'pointer_events_positive'" ng-disabled="disableGoPre"
				    ng-click="prevMonth()">
					<i class="icon ion-chevron-left"></i>
				</button>
			</div>
			<div class="col col-80 text-center" style="font-size: 17px;line-height: 32px;">{{currentDate.getFullYear()}}年{{currentDate.getMonth() + 1}}月</div>
			<div class="col col-10 right_arrow">
				<button class=" button-clear pointer_events_positive" ng-class="disableGoNext?'pointer_events_none':'pointer_events_positive'"
				    ng-disable="disableGoNext" ng-click="nextMonth()">
					<i class="icon ion-chevron-right"></i>
				</button>
			</div>
		</div>

		<ion-refresher pulling-text="下拉刷新..." on-refresh="loadData(true)">
		</ion-refresher>
		<div class="spacer" style="height: 10px;"></div>
		<div class="item " ng-repeat="item in list" style="margin: 10px;padding: 0px;border: none;border-radius: 8px;">
			<div style="padding:13px 13px 0px 13px;">
				<img src="img/icon/person.png" ng-src="{{item.logo}}" style="width: 50px;height: 50px;border-radius: 25px;float: left;margin-top: -5px;"
				    >
				<h2 style="margin-top:10px;margin-left: 58px; ">{{item.studentName}} </h2>
				<div style="font-size: 13px;color: rgb(151,151,151);font-weight: 450;margin-top: -6px;" item-end>应到:
					<span style="color: #2bcab2;">{{item.shouldAttendCount}}天</span>
				</div>
			</div>
			<!-- <p style="margin-top: 5px; border-top: 1px solid rgb(247,247,247);padding-top: 5px;">
				出勤:{{item.actualAttendCount}}天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请假:{{item.askLeaveCount}}天&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;缺勤:<span style="color: red">{{item.notAttendCount}}</span>天 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;迟到:<span>0</span>天
			</p> -->
			<div class="spacer" style="width: 100%; height: 25px;"></div>
			<!-- <div ng-if="hasCheckInPermission">
				<div class="row row-wrap" style="border-top: 1px solid #ddd;text-align: center;padding-top:0px;padding-bottom: 0px;">
					<div class="col col-25" style="border-right: 1px solid #ddd;">
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.actualAttendCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">出勤</div>
					</div>
					<div class="col col-25" style="border-right: 1px solid #ddd;">
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.askLeaveCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">请假</div>
					</div>
					<div class="col col-25" style="border-right: 1px solid #ddd;">
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.notAttendCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">缺勤</div>

					</div>
					<div class="col col-25">
						<div style="font-size: 15px;color: black;margin-top: 5px;">0</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">迟到</div>
					</div>
				</div>
			</div> -->

			
				<div class="row row-wrap" style="border-top: 1px solid #ddd;text-align: center;padding-top:0px;padding-bottom: 0px;">
					<div class="col col-33.3" style="border-right: 1px solid #ddd;">
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.actualAttendCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">出勤</div>
					</div>
					<div class="col col-33.3" style="border-right: 1px solid #ddd;">
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.askLeaveCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">请假</div>
					</div>
					<div class="col col-33.3" >
						<div style="font-size: 15px;color: black;margin-top: 5px;">{{item.notAttendCount}}</div>
						<div style="color: rgb(151,151,151);font-size: 13px;">缺勤</div>
					</div>
				
				</div>

			
		</div>
		<div ng-if="!list || list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>
		<div ng-if="noCalendar" style="display: block;text-align: center;margin-top: 20px;">
			<span style="color: gray;display: block">学校暂无校历信息，无法记录考勤</span>
			<span style="color: gray">请联系学校管理员登录后台补全校历</span>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
