<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title">
            <button class="button button-outline button-dark" ng-click="switchView(false)"
                ng-style="{'background-color':!assignForMe?'white':'#2bcab2','color':!assignForMe?'#2bcab2':'white'}"
                style="width: 80px;height: 30px;font-size: 15px;margin-top: 6px;margin-right: -0.5px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-color: white;border-bottom-left-radius: 15px;border-top-left-radius: 15px;">
                我创建的</button>

            <button class="button button-outline button-dark" ng-click="switchView(true)"
                ng-style="{'background-color':assignForMe?'white':'#2bcab2','color':assignForMe?'#2bcab2':'white'}"
                style="background-color: white;width: 80px;height: 30px;font-size: 15px;margin-top: 6px;border-left-width:0px;position: relative;left:-5.5px;border-top-left-radius:0px;border-bottom-left-radius:0px;border-color: white;border-bottom-right-radius: 15px;border-top-right-radius: 15px;">
                指派给我</button>
        </h1>
    </ion-header-bar>
    <a class="button icon button-balanced ion-plus-round float-button" ng-click="troubleReport()"
        style="bottom: 50px;"></a>
    <ion-row class="row row-wrap"
        ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}"
        style="background:white;font-size: 15px;position: fixed;z-index: 999;">
        <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click('')">
            <div style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                ng-style="{'color':select.selectIndex1==''?'orange':'#333'}">全部</div>
            <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;"
                ng-if="select.selectIndex1==''"></div>
        </ion-col>
        <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(1)">
            <div style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                ng-style="{'color':select.selectIndex1==1?'orange':'#333'}">待处理({{waitDealCount}})</div>
            <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;"
                ng-if="select.selectIndex1==1"></div>
        </ion-col>
        <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(2)">
            <div ng-style="{'color':select.selectIndex1==2?'orange':'#333'}"
                style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">处理中({{dealingCount}})</div>
            <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;"
                ng-if="select.selectIndex1==2"></div>
        </ion-col>
        <ion-col class="col col-25" style="text-align:center;" ng-click="tab1Click(3)">
            <div ng-style="{'color':select.selectIndex1==3?'orange':'#333'}"
                style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">已关闭({{closedCount}})</div>
            <div style="background-color:orange;height:2px;position:absolute;top:40px;width:20%;"
                ng-if="select.selectIndex1==3"></div>
        </ion-col>
    </ion-row>
    <ion-content style="background:#f3f4f6;" ng-style="{'margin-top': '42px'}">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="item" ng-click="goToDetail(item)" ng-repeat="item in list"
                style="border:none;border-radius:5px;margin:10px;padding-bottom: 0px !important;">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-bottom: 5px;"
                    class="list-title-set">{{item.title}}</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="margin-top:10px;">
                    <img src="img/others/repair_man.png" style="width:20px;height:20px;" />
                    <span style="position: relative;top:-5px;left:5px;">
                        <span style="color:#999;">上报人:</span>
                        <span style="color:#333;margin-left:5px;">{{item.creatorName}}</span>
                    </span>
                </div>
                <div style="margin-top:10px;">
                    <img src="img/others/address.png" style="width:20px;height:20px;float: left;" />
                    <div
                        style="position: relative;top:0px;left:10px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                        <span style="color:#999;">地点:</span>
                        <span style="color:#333;margin-left:5px;">{{item.location}}</span>
                    </div>
                </div>

                <div
                    style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 10px;margin-bottom: 5px;">
                    {{item.message}}</div>

                <ion-gallery id="gallery-img" style="margin-top: 10px;margin-bottom: 6px;"
                    ion-gallery-items="item.picUrls" ion-gallery-row="3" ion-gallery-toggle="true"
                    ng-if="item.picUrls.length>0"></ion-gallery>

                <div style="position: relative;top:5px;margin-bottom: 13px;">
                    <div style="color:#999;margin-top:0px;width: 160px;">{{item.createTime.substr(0,16)}}</div>
                    <div ng-style="{'color':item.status==1?'orange':item.status==2?'#2bcab2':'#b5b5b5'}"
                        style="position: absolute;right: 10px;top:0px;">{{item.status==1?'待处理':item.status==2?'处理中':'已关闭'}}
                    </div>
                </div>
            </div>
            <div style="width:100%;height:40px;"></div>
            <div class="empty-list-tip" ng-if="!list||(list&&list.length===0)">
                <img src="img/empty_content.png">
                <p>暂无数据</p>
            </div>

            <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
            </ion-infinite-scroll>
            <div class="load_no_more" ng-if="isMoreData&&list&&list.length>9"> 没有更多了</div>
        </ion-list>
    </ion-content>
</ion-view>