<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideSelectManModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">选择指派人</h1>
        <a class="button button-clear" style="color:white;font-weight: 400;font-size:15px;" ng-click="saveSelectMan()">
            确定 </a>
    </ion-header-bar>
    <ion-content>
        <div class="item item-input " id="item-search" style="margin-bottom: 5px;margin:15px;margin-top:20px; ">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="请输入姓名搜索" ng-model="select.add_search" maxlength="20" class="input" /><img
                ng-if="selected.add_search.length>0" src="img/icon/close.png" ng-click="select.add_search='';"
                style="width: 16px;height: 16px;margin-right: 10px;" />
        </div>
        <ion-list>
            <div>
            <ion-radio class="item"   ng-click="chooseMan(contact)" style="padding:0px;border-radius: 0;height:63px;line-height:63px;"
                ng-style="{'border-top':$index===0?'none':'1px solid #ddd'}"
                ng-repeat="contact in filtered = (teacherList | filter: {chname: select.add_search} )"
                ng-value="contact.id" ng-model="select.isChecked">
                <img style="float: left;margin-top:-5px;" class="chat_avatar" style="position:relative;top:-10px;" src="img/icon/default_teacher.png" ng-src="{{contact.logo}}"   >
				<h2  style="margin-left: 60px;margin-top: 10px;">{{contact.chname}}</h2>
            </ion-radio>
            </div>
        </ion-list>
        <div ng-if="filtered&&filtered.length==0" style="display: block;padding: 5% 10%">
            • 未找到该联系人
        </div>
        <div class="spacer" style="height: 30px;"></div>
    </ion-content>
</ion-modal-view>