<ion-modal-view class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
        <h1 class="title bar-follower-font">
            <span ng-if="classes.length==0">未找到班级信息</span>
            <select ng-if="classes.length>0" class="class_select" ng-model="selected.id" ng-options="item.id as item.className for item in classes" ng-change="onSelectionChange()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
	</ion-header-bar>
	<ion-content>

		<div class="list">

            <div class="item" style="border-radius: 0;background: transparent">
                <h2>设置接收班级考勤的时间</h2>
                <p style="color: grey;white-space: normal">在设置的时间点，每个上学日的班级学生考勤情况系统都将自动发送给您，早晚各一次。</p>
            </div>

			<div class="item" style="border-radius: 0;border: 0;padding: 10px 50px 10px 25px;" ng-click="showTimePicker(0)">
				<h2 style="color: #666666;white-space: normal">早上到校情况通知时间 <img src="img/icon/normal_remind.png" style="float: left;height: 35px;margin-right: 10px;"><span style="float: right">{{arriveNoticeTime}}</span></h2>
			</div>
            <div class="item" style="border-radius: 0;border: 0;padding: 10px 50px 10px 25px;" ng-click="showTimePicker(1)">
                <h2 style="color: #666666;white-space: normal">下午离校情况通知时间 <img src="img/icon/normal_remind.png" style="float: left;height: 35px;margin-right: 10px;"><span style="float: right">{{leaveNoticeTime}}</span></h2>
            </div>

            <div class="item" style="border-radius: 0;background: transparent">
                <h2>设置家长接收异常考勤提醒的时间</h2>
                <p style="color: grey;white-space: normal">截止您设置的时间点还没有到离校记录，系统将发消息通知家长。</p>
            </div>

            <div class="item" style="border-radius: 0;border: 0;padding: 10px 50px 10px 25px;" ng-click="showTimePicker(2)">
                <h2 style="color: #666666;white-space: normal">早上未到校截止时间 <img src="img/icon/exception_remind.png" style="float: left;height: 35px;margin-right: 10px;"><span style="float: right">{{arriveSchoolWarningTime}}</span></h2>
            </div>
            <div class="item" style="border-radius: 0;border: 0;padding: 10px 50px 10px 25px;" ng-click="showTimePicker(3)">
                <h2 style="color: #666666;white-space: normal">下午未离校截止时间 <img src="img/icon/exception_remind.png" style="float: left;height: 35px;margin-right: 10px;"><span style="float: right">{{leaveSchoolWarningTime}}</span></h2>
            </div>

		</div>

	</ion-content>
</ion-modal-view>


