<img src="img/others/cancel.png" style="float:right;position:absolute;top:10px;right:10px;width:24px;height:24px;"
    ng-click="cancelChoose()">

<div style="margin-bottom: 20px;">
    <div ng-repeat="class in classes" ng-click="selectOneClass(class)" style="height:40px;line-height:40px;border-bottom: 1px solid #ddd;text-align: center;color:#666;font-size:16px;">
        {{class.value}}
    </div>
</div>