<ion-view hide-nav-bar="true" cache-view="true" style="background-color: #FCFCFC;">
        <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
            <back-btn></back-btn>
            <h1 class="title bar-follower-font">关闭报修</h1>
            <button class="button button-outline "  style="color: white;font-size:15px;padding-top: 3px;" ng-click="confirm()" ng-disabled="repairProgressForm.$invalid">
                确定
            </button>
        </ion-header-bar>
    
        <form name="repairProgressForm" novalidate>
            <ion-content style="margin:0px 12px;">
                

                <div style="border-radius: 10px;background-color:#F3F4F6; margin-top: 22px;">
                    <textarea name="chatInput" style="width:100%;height: 160px;padding: 7px 8px;background-color:#F3F4F6;font-size:16px;border-radius: 10px;"
                        placeholder="关闭说明，必填" maxlength="300" required ng-model="select.content">
                    </textarea>
                </div>
    
                <div class="item item-text-wrap" style="padding: 5px !important;border: 0px;margin-top: 14px;background-color:#FCFCFC;" >
                    <button class="button" ng-repeat="btn in progressStatues"  style="color:white;" ng-class="select.key==btn.key?'repair_btn_select':'repair_btn_normal'"  ng-click="select.content=select.content+btn.value;select.key=btn.key" >
                        {{btn.value}}
                    </button>
                </div>
    
            </ion-content>
        </form>
    
    
    
    </ion-view>