<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">报修</h1>

        <!-- <button class="button button-icon " ng-click="save()" ng-disabled="equipmentRepairForm.$invalid">
            <img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button> -->
    </ion-header-bar>
    <form name="equipmentRepairForm" novalidate>
        <ion-content style="padding: 15px;">

            <div class="item item-input" style="border:0px;border-bottom: 1px solid #ddd;">
                <!-- <img src="img/repair/location.png" style="width: 18px;height:27px;"/> -->
                <input name="ip_title" type="text" placeholder="{{placeholder}}"  style="font-size: 16px;margin-left: 0px;margin-right: 20px;" ng-model="selected.assetNumber" maxlength="30" >
                <img src="img/repair/scan.png" style="height:25px;width:28px;float:right;" ng-click="scanningView($event)" ng-if="!isWeiXin"/>
            </div>

            <label class="item item-input" style="border:0px;border-bottom: 1px solid #ddd;margin-top: 7px;">
                <img src="img/repair/location.png" style="width: 18px;height:27px;"/>
                <input name="ip_title" type="text" placeholder="设备所在位置"  style="font-size: 16px;margin-left: 10px;" ng-model="selected.terminalAddress" maxlength="150" required>
                
            </label>


            <div class="spacer" style="height: 20px;"></div>
            <div style="background-color:#F3F4F6;border-radius:8px;padding:0px;">
                <textarea placeholder="设备故障描述,必填" style="width:100%;height: 160px;padding: 8px 9px;background-color:#F3F4F6;font-size:16px;border-radius: 8px; " ng-model="selected.orderDescribe" maxlength="1024" required></textarea>
            </div>
            <div class="spacer" style="height: 20px;"></div>

            <div class="row flex-row" style="padding: 0;margin-top: 2px;">
                <div class="col pic-grid" ng-repeat="item in repairImgs track by $index" style="position: relative;">
                    <img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;" src="img/icon/fail_03.png" ng-click="removeImg($index, $event)"
                    />
                    <img ng-src="{{item.data?item.data:item}}" style="max-width: 100%" ng-click="preViewImages($index)" />
                </div>
                <!-- <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-if="repairImgs.length < 9">
                    <a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a>
                </div> -->
                <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-if="repairImgs.length < 9" ng-click="selectImg()">
					<div class="button icon"><img src="img/others/Camera.png"
						style="width:24px;height:24px;margin-top:13px;" /></div>
				</div>
                <input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;" onchange="angular.element(this).scope().getFile(this.files)"
                />
            </div>

            <div class="button" style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;" ng-if="equipmentRepairForm.$invalid||isLoading">立即提交</div>
            <div class="button" ng-click="commitRepair()"  style="width:calc(100% - 110px);margin-left: 55px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;" ng-if="!equipmentRepairForm.$invalid&&!isLoading">立即提交</div>
  
            <div class="spacer"  style="height: 30px;"></div>

        </ion-content>
    </form>

</ion-modal-view>