<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeMeetingRoomModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">选择会议室</h1>

        <button class="button button-outline" style="color: white;font-size:15px;padding-top: 3px;" ng-click="confirmMeetingRoom()" >
            确定
        </button>
    </ion-header-bar>


    <ion-content style="background-color: #F3F5F4;">
        <div class="spacer" style="width: 100%; height: 10px;"></div>
        <div class="item" style="height:50px;border-bottom: 1px solid #ddd;" ng-style="{'border-top-width':$index==0?'0px':'1px'}"
            ng-repeat="room in meetingRooms" ng-click="chooseMeetingRoom(room ,$index)">
            <img src="img/assets/select_fill.png" style="width:28px;height:28px;float: left;margin-top: -3px;" ng-if="select.meetingRoomId ==room.id">
            <img src="img/assets/un_select_fill.png" style="width:28px;height:28px;float: left;margin-top: -3px;" ng-if="select.meetingRoomId !=room.id">
            <div style="font-size:16px;color:#666;float: left;margin-left: 7px;">{{room.site_name}}</div>
            <div class="button button-clear" style="float:right;color:#4085E4;font-size: 14px;align-items: center;line-height: 20px;"  ng-click="readCurrentReservation(room,$event)">当前预约</div>
        </div>

        <div class="empty-list-tip" style="margin-top:40%" ng-if="!meetingRooms||meetingRooms.length==0">
            <img src="img/assets/meeting-not-notice.png">
            <p style="margin-top:15px;">后台还未设置会议室</p>
        </div>
    </ion-content>

</ion-view>