<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">会议通知</h1>
    </ion-header-bar>

    <ion-content style="background-color: #F3F5F4;">

        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="spacer" style="width: 100%; height: 10px;"></div>
            
            <ion-item class="item" ng-repeat="meetingNotice in meetingNocticeList" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;" ng-click="goToDetail()">
                <div style="position: relative;top:-10px;right: -12px;float: right;" ng-if="meetingNotice.isRead==false"> 
                    <img src="img/repair/unread.png" style="width: 45px;height: 45px;" />
                </div>
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 7px;margin-bottom: 7px;"
                    class="list-title-set">{{meetingNotice.meetingTitle}}&nbsp;</h2>
             
                <div style="font-size: small;color: #999;margin-top: 6px;">{{meetingNotice.launchUserName}}
                    <span style="color:#999;" ng-style="{'margin-left':item.name?'5px':'5px'}">{{meetingNotice.launchTime.substr(0,10)}}</span>
                </div>

                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                    class="list-content-set">
                    <div style="color:#333;text-align: right;float: left;width: 65px;">会议地点:</div>
                    <div style="color:#666;margin-left: 69px;">{{meetingNotice.meetingRoomName}}</div>
                </div>


                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                    class="list-content-set">
                    <div style="color:#333;text-align: right;float: left;width: 65px;">预约时间:</div>
                    <div style="color:#666;margin-left: 69px;">{{meetingNotice.beginTime.substr(0,10)}} {{meetingNotice.beginTime.substr(11,5)}}~{{meetingNotice.endTime.substr(11,5)}}</div>
                </div>

                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                    class="list-content-set">
                    <div style="color:#333;text-align: right;width:67px;float: left;width: 65px;">参会者:</div>
                    <div style="color:#666;margin-left: 69px;word-break: break-all;overflow: hidden;text-overflow:ellipsis;"
                        ng-style="{'white-space':meetingNotice.isHidden ?'normal':'nowrap'}" ng-click="showAllContent(meetingNotice)" class="meeting-item-name">{{meetingNotice.joinNames}}</div>
                </div>

                <div style="position:absolute;top:60px;right:25px;" ng-if="meetingNotice.status==1">
                    <img src="img/assets/meeting-cancel.png" style="width:55px;height:40px;"/>
                </div>

            </ion-item>


        </ion-list>

         <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&meetingNocticeList&&meetingNocticeList.length>9"> 没有更多了</div> 
        <div class="empty-list-tip" style="margin-top:40%" ng-if="!meetingNocticeList||meetingNocticeList.length==0">
            <img src="img/assets/meeting-not-notice.png">
            <p style="margin-top:15px;">暂无会议通知</p>
        </div>
    </ion-content>

</ion-view>