<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">会议室预约</h1>
    </ion-header-bar>

    <form name="meetingReservationForm" novalidate>
    <ion-content style="background-color: #F3F5F4;">

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="openChooseMeetingRoomModal()">
            <div style="color: #222;float: left;">会议室</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.meetingRoomName?'#222':'#999'}">{{select.meetingRoomName?select.meetingRoomName:'请选择'}}</div>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="selectMeetingDate()">
            <div style="color: #222;float: left;">会议日期</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.meetingDate?'#222':'#999'}">{{select.meetingDate?select.meetingDate:'请选择'}}</div>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="selectMeetingTime(1)">
            <div style="color: #222;float: left;">开始时间</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.startTime?'#222':'#999'}">{{select.startTime?select.startTime:'请选择'}}</div>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;height:50px;" ng-click="selectMeetingTime(2)">
            <div style="color: #222;float: left;">结束时间</div>
            <img src="img/assets/arrow-right.png" style="width:26px;height:26px;float: right;" />
            <div style="font-size:15px;float: right;margin-top: 3px;" ng-style="{'color':select.endTime?'#222':'#999'}">{{select.endTime?select.endTime:'请选择'}}</div>
        </div>

        <div class="item" style="margin:13px 0px;font-size: 16px;border: none;">
            <div style="color:#222;font-size: 16px;">会议说明</div>
            <textarea id="meetingTextarea" style="width:100%;height: 100px;font-size:15px; padding: 7px 8px;background-color:#F3F4F6;border-radius: 8px;margin-top:15px;z-index:-1;border:none;"
            placeholder="必填,50字以内" maxlength="50" ng-model="select.content"    contenteditable="true" required >
        </textarea>
        </div>

        <div class="button" ng-click="commit()" style="width:calc(100% - 180px);margin-left: 90px;margin-top:60px;height: 40px;line-height: 40px;min-height: 40px;border-radius: 8px;font-size:17px;background-color:#2bcab2 ;color:white;font-weight: 500"
            ng-disabled="meetingReservationForm.$invalid">确定</div>
    </ion-content>
    </form>
</ion-view>