<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">会议室预约</h1>
    </ion-header-bar>
    <a class="button icon button-light ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>

    <ion-content style="background-color: #F3F5F4;">

        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="spacer" style="width: 100%; height: 10px;"></div>
            <ion-item class="item" ng-repeat="meet in meetingReservationList" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;" ng-click="goToDetail()">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 7px;margin-bottom: 5px;"
                    class="list-title-set">{{meet.meetingRoomName}}&nbsp;</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 6px;">
                    <span style="color:#999;" >{{meet.createTime.substr(0,11)}}</span>
                </div>


                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                    class="list-content-set">
                    <span style="color:#333;font-size:15px;">预约时间:</span>
                    <span style="font-size:15px;color:#666;">{{meet.beginTime.substr(0,10)}} &nbsp;{{meet.beginTime.substr(11,5)}}~{{meet.endTime.substr(11,5)}}</span>
                </div>

                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                    class="list-content-set">
                    <span style="color:#333;font-size:15px;">会议说明:</span>
                    <span style="font-size:15px;color:#666;">{{meet.meetingContent}}</span>
                </div>

            </ion-item>

        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&& meetingReservationList&&meetingReservationList.length>9"> 没有更多了</div>
        <div class="empty-list-tip" style="margin-top:40%" ng-if="!meetingReservationList||meetingReservationList.length==0">
            <img src="img/assets/meeting-not-notice.png">
            <p style="margin-top:15px;">暂无预约</p>
        </div>
    </ion-content>

</ion-view>