<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">资产申领</h1>
    </ion-header-bar>
    <a class="button icon button-light ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>

    <ion-content style="background-color: #F3F5F4;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="spacer" style="width: 100%; height: 10px;"></div>
          
            <ion-item class="item" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;"
                ng-click="goToDetail(assets.id)" ng-repeat="assets in assetsList">
                <h2 style="white-space: nowrap;overflow: hidden;text-overflow : ellipsis;margin-top: 6px;margin-bottom: 6px;" class="list-title-set">{{assets.assetName.assetInfoName}}&nbsp;</h2>
                <div style="width:100%; background-color:  #ddd;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 7px;">
                    <span style="color:#999;" ng-style="{'margin-left':'0px'}">{{assets.orderTime.substr(0,10)}}</span>
                </div>
                <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;" class="list-content-set">{{assets.progressDescribe}}</div>
                <div style="background-color:#FC6C03;" class="assets-status-label" ng-if="assets.orderProgress<=2">待审核</div>
                <div style="background-color:red;" class="assets-status-label" ng-if="assets.orderProgress==4">已拒绝</div>
                <div style="background-color:#2bcab2;" class="assets-status-label" ng-if="assets.orderProgress==8||assets.orderProgress==hasGot">审核通过</div>
                <div style="background-color:#3B72CE;margin-left: 10px;" class="assets-status-label" ng-if="assets.orderProgress==8">待领取</div>
                <div style="background-color:#6B98E7;margin-left: 10px;" class="assets-status-label" ng-if="assets.orderProgress==hasGot">已领取</div>
            </ion-item>
            <div class="empty-list-tip" ng-if="assetsList&&assetsList.length==0&&!loading">
                <img src="img/empty_content.png">
                <p>暂无申请信息</p>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&assetsList&&assetsList.length>9"> 没有更多了</div>

      
    </ion-content>

</ion-view>