<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">申领详情</h1>
    </ion-header-bar>

    <ion-content style="background-color: #F3F5F4;" >
        <ion-list  ng-if="assetsDetail">
            <div  style="font-size: 17px;height: 44px;line-height: 44px;padding: 0px 13px;">申请信息</div>
            <div  class="assets-detail-info" style="color:#666;">资产类别
                <span style="margin-left:13px;color:#333;">{{assetsDetail.assetType.assetInfoName}}</span>
            </div>
            <div  class="assets-detail-info" style="color:#666;">资产名称
                 <span style="margin-left:13px;color:#333;">{{assetsDetail.assetName.assetInfoName}}</span>
            </div>
            <div  class="assets-detail-info" style="color:#666;">申请数量
                <span style="margin-left:13px;color:#333;">{{assetsDetail.applyAmount}}</span>
            </div>
            <div  style="font-size:16px;padding-left:13px;padding-top:13px;min-height:60px;border-bottom: none;background-color: white;min-height: 60px;color:#666;" >
                <div style="position: relative; width: 80px;" >申请理由</div>
                <div style="position: relative;left: 80px;top: -22px; width: calc(100% - 90px);color:#333;">{{assetsDetail.progressDescribe}}</div>
            </div>

            <div  style="padding:13px 13px;background-color: white;margin-top: 10px;">
                <div style="font-size: 17px;">申请进度</div>
                <div style="background-color:#ddd;height:1px;margin-top: 13px;"></div>

                <timeline id="assets_timeline">
                        <timeline-event ng-repeat="event in events" side="right">
                            <div style="margin-top: 20px;text-align: right;max-width: 85px;">
                                <div style="font-size: 13px;color:#333;">{{event.date}}</div>
                            </div>
                            <timeline-badge class="{{event.badgeClass}}" id="assets_badge" style=" background-color: #2bcab2 !important;">
                                <!-- <i class="statueIcon{{event.statue}}">
                                    <img src="{{event.iconImg}}" style="width: 26px;height: 26px;" />
                                </i> -->
                            </timeline-badge>
                            <timeline-panel style="margin-top: -45px;" id="assets_timeline_panel">
                                <div style="color:#333;font-size: 16px;">{{event.title}}</div>
                                <div style="color:#666;font-size: 15px;margin-top: 4px;">{{event.operateMan}}   
                                </div>
                                <div  style="font-size: 15px;margin-top: 4px;" ng-style="{'color':event.status==hasGot?'orange':'#666'}" ng-click="readAssetsId(event)">{{event.text}}</div>
                            </timeline-panel>
                        </timeline-event>
                    </timeline>
            </div>
        </ion-list>

    </ion-content>

</ion-view>