<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <button class="button button-icon icon " ng-click="closeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button>
        <h1 class="title bar-follower-font">选择资产类别</h1>
    </ion-header-bar>

    <div class="item float-scroll" ng-style="{'top':isIos?'64px':'44px'}"  style="height: 44px; width: 100%;border: none;" >
        <ion-scroll delegate-handle="navBarScroll" direction="x" scrollbar-x="false"  class="exam_scroll_view"  style="height: 44px;position: absolute;width: 100%;line-height: 44px;top:0px;right:6px;left:6px;">
            <div ng-repeat="title in navTitles track by $index" class="button button-clear" style="min-width:30px;font-size:16px;" ng-click="clickNavBtn($index)" >
                <img src="img/assets/arrow-left-select.png" style="width:18px;height:18px;float:left;margin-top:16px;" ng-if="$index!=0&&$index!=navIndex"/>
                <img src="img/assets/arrow-left-normal.png" style="width:18px;height:18px;float:left;margin-top:16px;" ng-if="$index!=0&&$index==navIndex"/>
                <div style="font-size:16px;float:left;margin-top:5px;" ng-style="{'color':$index==navIndex?'#999':'#2bcab2'}" id="category{{$index}}"> {{title}}</div>
            </div>
        </ion-scroll>
    </div>

    <ion-content style="background-color: #F3F5F4;padding-top:44px;">
        <div class="spacer" style="width: 100%; height: 15px;"></div>
        <ion-list no-lines>
            <ion-item style="border:none;border-top: 1px solid #ddd;height:50px;" ng-repeat="category in recordAssetsCategorys "
                ng-click="chooseCategory(category,$index)" ng-style="{'border-top-width':$index==0?'0px':'1px'}">
                <div style="color:#222;float:left;">{{category.name}}</div>
                <div ng-if="category.child&&category.child.length!=0" style="float:right;" ng-click="nextFlooor(category)">
                    <img src="img/assets/next-floor.png" style="width:20px;height:23px;" />
                    <span style="color:#2bcab2;position: relative;top: -5px;">下级</span>
                </div>
            </ion-item>

        </ion-list>

          <div class="empty-list-tip" ng-if="recordAssetsCategorys&&recordAssetsCategorys.length==0">
            <img src="img/empty_content.png">
            <p>暂无资产分类</p>
        </div>
    </ion-content>

</ion-view>