<ion-modal-view id="userMessagesView">
    <ion-header-bar class="bar bar-header bar-follower">
        <button class="button button-icon icon " ng-click="hideSetDateArrangeModal()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
                alt="" />
        </button>
        <h1 class="title bar-follower-font">{{isEdit?'编辑日程安排':'添加日程安排'}}</h1>
    </ion-header-bar>
    <form name="infoForm" novalidate>
        <ion-content style="background:#f3f4f6;" >
           <ion-list>
            <div class="item " style="padding:13px 13px;font-size:16px;border:none;" ng-click="chooseDate('create')">
                <span style="color:red;">*</span>
                <span style="color:#333;">日期</span>
                <div style="float:right;min-width: 80px;text-align:right;" ng-style="{'color':selected.date?'#666':'#999'}" >{{selected.date?selected.date :'请选择' }}</div>
            </div>
            <div class="item " style="padding:13px 13px;font-size:16px;margin-top:10px;border:none;">
                <span style="color:red;">*</span>
                <span style="color:#333;">日程安排</span>
                <textarea style="width:100%;height: 100px;padding: 7px 8px;font-size:16px;color:#666;margin-top:5px;"
                    placeholder="最多可输入200字" maxlength="200" ng-model="selected.schedule" required></textarea>
            </div>
            <div class="item item-toggle"  style="padding:13px 13px;font-size:16px;margin-top:10px;border:none;">
                <span style="color:#333;margin-left:9px;">提醒</span>
                <label class="toggle toggle-balanced">
                    <input type="checkbox"  ng-change="changeToggole()" ng-model="selected.isNotice" >
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item " ng-if="selected.isNotice" style="padding:13px 13px;font-size:16px;border:none;margin-top:10px;" ng-click="chooseDate('reminder')">
                <span style="color:red;">*</span>
                <span style="color:#333;">提醒时间</span>
                <div style="float:right;min-width: 80px;text-align:right;" ng-style="{'color':selected.reminder_time?'#666':'#999'}" >{{selected.reminder_time?selected.reminder_time.substr(0,16) :'请选择' }}</div>
            </div>
            <div ng-if="selected.isNotice&&selected.reminder_time" style="width:100%;font-size:13px;color:red;text-align:center;margin-top:15px;">*系统将在该时间向您手机推送提醒</div>
            <div class="" style="height:56px;padding: 0px;background-size:100% 0px !important;position: relative;width:100%;top:60px;left:0px;background:#f3f4f6;" >
                <div class="button" ng-click="commitDateArrange()" ng-disabled="infoForm.$invalid"
                    style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
                    提交</div>
            </div>
            <div style="width:100%;height:30px;"></div>
        </ion-list>
        </ion-content>
    </form>
     <!-- <div resize-foot-bar class="bar bar-footer bar-light" style="height:56px;padding: 0px;background-size:100% 0px !important;position: relative;width:100%;" >
                <div class="button" ng-click="commitDateArrange()" ng-disabled="infoForm.$invalid"
                    style="background:#2bcab2;color:white;font-size:17px;margin-left:50px;width:calc(100% - 100px);height:42px;line-height:42px;margin-top:7px;">
                    提交</div>
    </div> -->
    
</ion-modal-view>