<div style="color:#222;font-size:15px;margin-top: -8px;">
    <div style="text-align:left;width:calc(100% - 20px);margin:7px 10px 0px 10px" ng-repeat="deRemark in deRemarks" >
        {{deRemark}}
    </div>
</div>
<div style="width:100%;height:36px;line-height:36px;font-size:17px;text-align:center;margin-top:20px;padding-top:4px;border-top:1px solid #ddd;font-weight:500;color:#2bcab2;"
    ng-click="closeCustomAlert('d')">知道了</div>