<ion-view>
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">设备报修</h1>
    </ion-header-bar>
    <a class="button icon button-light ion-plus-round float-button" ng-click="openModal()" style="bottom: 50px;"></a>

    <ion-content style="background-color: #F3F5F4;" overflow-scroll="true" id="repairListContent">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <ion-list>
            <div class="spacer" style="width: 100%; height: 10px;"></div>
            <div class="item" style="padding:10px 12px;border-radius: 5px;border: none;margin: 10px;" ng-repeat="item in repairList"
                ng-click="goToRepairDetail(item.id)">
                <h2 style="width: calc(100% - 55px);white-space: nowrap;overflow: hidden;text-overflow : ellipsis;font-size: 1.06em;">{{item.terminalAddress}}&nbsp;</h2>
                <div class="button button-repair-statue" ng-style="{'background-color': item.progress=='已关闭'?'#bfbfbf':'#FD6C03'}">{{item.progress}}</div>
                <div style="background-color: #ddd;width: 100%;height: 1px;margin-top: 8px;"></div>
                <div style="font-size: small;color: #999;margin-top: 6px;" >{{item.name}}
                    <span ng-style="{'margin-left':item.name?'5px':'0px'}">{{item.orderTime.substr(5,11)}}</span>
                </div>
                
                <p style="font-size: 0.94em;margin-top: 5px;overflow: hidden;">{{item.orderDescribe}}</p>
                <div style="background-color: #ddd;width: 100%;height: 1px;margin-top: 8px;" ng-if="item.assetNumber"></div>
                <div style="font-size:small;color:#666;margin-top:8px;" ng-if="item.assetNumber"> 
                    <img src="img/assets/assetsId.png" style="width:16px;height:14px;margin-top: 2px;float:left;"/>
                    <div style="font-size:small;float:left;margin-left:5px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">{{item.assetNumber}}</div>
                </div>
            </div>



            <div class="empty-list-tip" style="margin-top: 50%;" ng-if="repairList.length==0">
                <img src="img/repair/no_repair.png">
                <p style="margin-top:10px;">暂无提交报修信息</p>
            </div>

        </ion-list>
        <ion-infinite-scroll ng-if="isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%"></ion-infinite-scroll>
        <div class="load_no_more" ng-if="!isMoreData&&repairList.length>9"> 没有更多了</div>

    </ion-content>
</ion-view>