<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">
            <span ng-if="classes.length==0">未找到班级信息</span>
            <select ng-if="classes.length>0" class="class_select" ng-model="selected.id" ng-options="item.id as item.className for item in classes" ng-change="onSelectionChange()" required>
            </select><span style="font-size: small;padding-left: 1px;">▼</span>
        </h1>
    </ion-header-bar>
    <ion-content>
        <div class="tabs-striped tabs-top">
            <div class="tabs" style="position: inherit">
                <a class="tab-item" ng-class="activeIndex===0?'active':''" ng-click="switchTab(0)">
                    已手机缴费({{payCount}}人)
                </a>
                <a class="tab-item" ng-class="activeIndex===1?'active':''" ng-click="switchTab(1)">
                    未手机缴费({{unPayCound}}人)
                </a>
            </div>
        </div>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="loadData(true)">
        </ion-refresher>
        <div class="list card" ng-repeat="item in filtered = (list | filter: listFilter)">

            <div class="item item-avatar" style="border-radius: 0;">
                <img src="img/icon/person.png" ng-src="{{item.icon}}"   >
                <h2>{{item.name}} ({{item.phoneNumber}})</h2>
                <span>{{item.time}}</span>
            </div>
        </div>

        <div ng-if="filtered.length == 0" class="empty-list-tip">
            <img src="img/empty_content.png">
            <p>暂无记录</p>
        </div>
        <div class="spacer" style="height: 30px;"></div>
    </ion-content>
</ion-view>
