<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font" ng-if="!isTeacher()">{{funcType=='course'?'课程表':'值日表'}}</h1>
		<h1 class="title bar-follower-font" ng-if="isTeacher()">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<!-- <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes" ng-change="onSelectionChange()"   required>
			</select><span style="font-size: small;padding-left: 1px;">▼</span> -->
			<span ng-if="classes.length > 0" class="class_select"
				ng-click="onSelectionChange()">{{selected.class_name}}</span><span
				style="font-size: small;padding-left: 1px;">▼</span>

		</h1>
		<button class="button button-icon " ng-click="editSchedule()" style="font-size: 16px;color: white;"
			ng-if="isHeadTeacher&&isCurrentHeadTeacher&&!isOpenXgk&&funcType=='course'">
			{{isEdit?"保存":"编辑"}}
		</button>
	</ion-header-bar>

	<div class="row" style="width:100%;height: 58px;background-color: #F3F4F6;position: relative;"
		ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}">
		<a class="col button button-outline button-no-padding" style="font-size: 14px;"
			ng-repeat="week in weeks track by $index" ng-click="go2Day($index+1)">
			<div class="circular-week"
				ng-style="{'background-color':selectedDayofWeek==selectWeekDay($index+1) ? '#2bcab2':'none' ,'color':selectedDayofWeek==selectWeekDay($index+1)?'white':'#2bcab2'}">
				<div style="position: relative;top:-4px;"> {{week.weekCnName}}</div>
				<div style="position: relative;top:-32px;font-size: 13px;">{{week.weekEnName}}</div>
			</div>
		</a>
	</div>

	<ion-content class="has-header function_bg" style="position: absolute;"
		ng-style="{'background-image':funcType=='course'?'none':bgImg ,'top':getDeviceType()==='iphoneX'?'146px':getDeviceType()==='iphone'?'122px':'102px'}"
		overflow-scroll="true">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
		<ion-list>
			<div ng-if="funcType=='course'">

				<div class="row" ng-repeat="item in filtered = (scheduleList | filterweekday: selectedDayofWeek) "
					style="text-align: center;padding-left:0px !important;margin:0px;padding:0px;">
					<div class="only_border_right"
						style="border: #c6c6c6 1px solid;background-color:#F9F9F9;margin-right:0px;">
						<div class="schedule-interval" ng-if="0==$index||AMAcount===$index||$index==PMAcount+AMAcount">{{getClassInterval(item.sectionNum)}}</div>
						<div ng-style="{'margin-top':(0==$index||AMAcount==$index||$index==PMAcount+AMAcount)?'15px':'30px'}">
							<div style="font-size: 20px;line-height: 19px;margin-top:5px !important">{{item.sectionNum}}</div>
							<span
								style="font-size: small;margin-top:5px !important;color: #666;">{{getClassTime(item.sectionNum)}}</span>
						</div>
						
					</div>
					<div class="only_border_bottom" style="border: #c6c6c6 1px solid;padding-top:12px; ">
						<img src="img/repair/edit.png" ng-if="isEdit" ng-click="getProjectList(item)"
							style="float:right;position: relative;top:20px;right: 10px;width: 17px;" />
						<!-- <img src="img/repair/edit.png" style="float:right;position: relative;top:20px;right: 10px;width: 17px;" ng-click="readAllWalkCourse()" /> -->
						<div style="margin-right:30px;">
							<div style="color:#555;font-size: 16px;" ng-if="!item.walkingNcee&&!item.walking">
								{{item.subjectName}}</div>
							<!-- <div style="color: #666;font-size: 14px;" ng-if="!isTeacher()&&item.walkingClassName">{{item.walkingClassName}}</div> -->
							<!-- <div style="color: #666;font-size: 14px;" ng-if="isTeacher()&&item.walkingSubName">{{item.walkingSubName}}</div> -->
							<div style="color: #666;font-size: 14px;margin-top: 4px;"
								ng-if="!item.walkingNcee&&!item.walking">{{item.teacherName}}</div>
							<div style="color: #666;font-size: 14px;" ng-if="!item.walkingNcee&&!item.walking">
								{{item.siteName}}</div>
							<div style="word-break: break-all;overflow: hidden;text-align: center;margin:-12px 0 auto 20px;"
								ng-click="readAllWalkCourse(item)" ng-if="item.walkingNcee||item.walking">
								<img src="img/walking-course-bg.png" style="width:70px;height:64px;" />
								<div
									style="font-size:14px;position: relative;top:-44px;left:4px;color:white;font-weight: 500;">
									走班课</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row" style="flex-wrap: wrap;" ng-show="funcType=='duty'">
				<div class="col-25" style="text-align: center;margin-top: 15px;" ng-repeat="item in dutyList">
					<img src="img/icon/default_student.png"
						style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;"
						ng-src="{{item.avatar}}"    />
					<div style="height: 3px;width: 100%"></div>
					<span>{{item.name}}</span>
				</div>
				<div class="col-25" style="text-align: center;padding-top: 20px;">
					<a class="button icon ion-plus-round col-25 border-btn-add" ng-click="showEditMode('add')"
						ng-if="isTeacher()"></a>
				</div>
				<div class="col-25" style="text-align: center;padding-top: 20px;">
					<a class="button icon ion-minus-round col-25 border-btn-add" ng-click="showEditMode('delete')"
						ng-if="isTeacher() && dutyList.length > 0"></a>
				</div>
			</div>

			<div ng-if="funcType=='duty' && !isTeacher() && dutyList.length == 0"
				style="display: block;text-align: center">
				<span style="color: gray">今日暂无值日生</span>
			</div>

			<div ng-if="funcType=='course' && filtered.length == 0" style="display: block;text-align: center">
				<span style="color: gray">今日暂无课程</span>
			</div>
		</ion-list>
	</ion-content>
</ion-view>