<ion-view hide-nav-bar="true" class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">{{pageTitle}}</h1>
	</ion-header-bar>
	<a class="button icon btn-follower ion-plus-round float-button" ng-click="openModal()" ng-if="!isTeacher"></a>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData(true)">
		</ion-refresher>
		<ion-list>
			<div ng-repeat="item in list | orderBy: 'id': true">
				<div class="spacer" style="height: 10px;"></div>
				<ion-item class="leave-item" ng-class="item.read===1? 'leave-item-read':''" ng-click="expandLeave(item)">
					<h2 ng-if="item.stuName">{{item.className}}&nbsp;&nbsp;&nbsp;{{item.stuName}}</h2>
					<p>请假时间：{{item.startDate.substr(5, 11)}} 至 {{item.endDate.substr(5, 11)}}</p>
					<p>请假原因：{{item.desc}}</p>
					<p ng-class="item.showFullText?'multi-lines':''" style="flex-wrap: wrap;">
						{{item.remark}}</p>
					<div class="button" id="read" ng-if="!isTeacher">班主任{{item.read===1?'已读':'未读'}}</div>
					<button class="button" id="button" ng-if="isTeacher && item.read===0" ng-click="doRev(item, $event)">收到</button>
					<span>{{item.createTime.substr(0, 16)}}</span>
				</ion-item>
			</div>
		</ion-list>
		<div ng-if="!loading && list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>

		<div ng-if="loading" style="display: block;text-align: center">
			<i class="icon ion-load-c"></i> 加载中请稍后...
		</div>

		<ion-infinite-scroll
			spinner="spiral"
			ng-if="listHasMore"
			on-infinite="loadData()"
			distance="10%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
