<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font" >今日课堂</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<label class="item item-input item-select" style="border-radius: 0" ng-if="deviceList.length > 1">
			<div class="input-label">
				展示设备
			</div>
			<select ng-model="selected.tid" ng-options="item as item for item in deviceList" style=" appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;" ng-change="deviceChange()">
			</select>
		</label>
		<label class="item item-input item-select" style="border-radius: 0">
			<div class="input-label">
				展示时间段
			</div>
			<select ng-model="isAllDay" style=" appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;" ng-change="optionChange(isAllDay)">
				<option selected value="">全天</option>
				<option value="1">指定时间</option>
			</select>
		</label>
		<div class="button-bar" ng-if="isAllDay == 1">
			<a class="button " ng-click="showTimePicker(0)">{{startTime.text}}</a>
			<span style="padding: 12px 10px 0 10px;background-color: #f8f8f8">至</span>
			<a class="button " ng-click="showTimePicker(1)">{{endTime.text}}</a>
		</div>

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData(true)">
		</ion-refresher>
		<div style="text-align: center;width: 100%;padding-top: 20px;" ng-repeat="item in list">
			<span style="background: #8f8f8f;border-radius: 5px;padding: 2px 15px 2px 15px">{{item.updateTime.substr(11,5)}}</span>

			<div class="list card">
				<div class="item item-image" style="border-radius: 0;">
					<img ng-src="{{item.thumbnail}}" ng-click="openModal(item.picture)"   >
				</div>

				<p class="item" style="text-align: left;">
					任课老师：{{item.teacher}}  <span style="float: right">科目：{{item.subject}}</span>
				</p>

			</div>
		</div>
		<div ng-if="list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无记录</p>
		</div>
		<ion-infinite-scroll
			spinner="spiral"
			ng-if="listHasMore"
			on-infinite="loadData()"
			distance="10%">
		</ion-infinite-scroll>
		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
