ion-view>
<ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
    <button class="button button-icon icon " ng-click="closeCurrentReservationRoomModal()">
        <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
    </button>
    <h1 class="title bar-follower-font">当前预约</h1>
</ion-header-bar>


<ion-content style="background-color: #F3F5F4;">

    <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshCurrentMeetingData()">
    </ion-refresher>
    <ion-list>
        <div class="spacer" style="width: 100%; height: 10px;"></div>
        <ion-item class="item" ng-repeat="meet in currentMeeting" style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;font-size: 16px;">

            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;float: left;width: 65px;text-align: right; ">预约人:</div>
                <div style="font-size:15px;color:#666;margin-left:70px;margin-top: 1px;">{{meet.createUserName}}</div>
            </div>
            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;float: left;width: 65px;text-align: right;">预约时间:</div>
                <div style="font-size:15px;color:#666;margin-left:70px;margin-top: 1px;">{{meet.beginTime.substr(0,10)}}
                    &nbsp;{{meet.beginTime.substr(11,5)}}~{{meet.endTime.substr(11,5)}}</div>
            </div>

            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;float: left;width: 65px;text-align: right;">会议内容:</div>
                <div style="font-size:15px;color:#666;margin-left:70px;margin-top: 1px;">{{meet.meetingContent}}</div>
            </div>

        </ion-item>

    </ion-list>

    <div class="empty-list-tip" style="margin-top:40%;" ng-if="!currentMeeting||currentMeeting.length==0">
        <img src="img/assets/meeting-not-notice.png">
            <p style="margin-top:15px;">暂无预约</p>
    </div>
</ion-content>

</ion-view>