<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">详情</h1>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-list>
            <div class="item" style="font-size:16px !important;padding:13px;border:none;">
                <div style="color:#666;float: left;width:85px;">{{isTeacher?'拜访人姓名':'您要拜访谁'}}:</div>
                <div style="color:#333;margin-left:97px;">
                    <div>{{isTeacher?detail.visitorName:detail.teacherName}}</div>
                    <div style="margin-top:7px;" ng-if="isTeacher">{{detail.className}} &nbsp;&nbsp;&nbsp;{{detail.parentName}}</div>
                </div>
            </div>

            <div class="item" ng-if="!isTeacher" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                <span style="color:#666;">拜访时间:</span>
                <span style="color:#333;margin-left:5px;">{{detail.visitTime.substr(0,16)}}</span>
            </div>

            <div ng-if="!isTeacher" class="item" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                <span style="color:#666;">您的姓名:</span>
                <span style="color:#333;margin-left:5px;">{{detail.visitorName}}</span>
            </div>

            <div class="item" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                <span style="color:#666;">{{isTeacher?'手机号码':'您的手机号'}}:</span>
                <span style="color:#333;margin-left:5px;">{{detail.visitorPhoneNo}}</span>
            </div>

            <div class="item" ng-if="detail.visitorIdCardNo" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                    <span style="color:#666;">身份证号:</span>
                    <span style="color:#333;margin-left:5px;">{{detail.visitorIdCardNo}}</span>
             </div>

             <div class="item" ng-if="detail.plateNo" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                    <span style="color:#666;">车牌号码:</span>
                    <span style="color:#333;margin-left:5px;">{{detail.plateNo}}</span>
             </div>

             <div class="item" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                    <span style="color:#666;">随访人数:</span>
                    <span style="color:#333;margin-left:5px;">{{detail.followersNo}}</span>
             </div>

             <div class="item" ng-if="isTeacher" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;">
                <span style="color:#666;">拜访时间:</span>
                <span style="color:#333;margin-left:5px;">{{detail.visitTime.substr(0,16)}}</span>
            </div>

             <div class="item" style="font-size:16px !important;padding:13px;border:none;margin-top:10px;white-space: normal;">
                    <div style="color:#666;">拜访事由:</div>
                    <div style="color:#333;margin-top:7px;text-indent:32px;margin-bottom: 20px;">{{detail.visitCause}}</div>
             </div>

             <div ng-if="isTeacher&&detail.status==1"  style="margin-top:35px;margin-left:calc(50% - 105px);margin-bottom: 5px;">
                    <div ng-click="agreeOrRefuse(2)" class="button" style="color:white;min-width:90px;border-radius:20px;background:#2bcab2;min-height:40px;line-height:40px;font-size: 17px;border:none;">同意</div>
                    <div ng-click="agreeOrRefuse(3)" class="button" style="color:white;min-width:90px;border-radius:20px;background: orange;min-height:40px;line-height:40px;margin-left:30px;font-size: 17px;border:none;">拒绝</div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>