<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">发起预约</h1>
    </ion-header-bar>
    <form name="reportForm" novalidate>
        <ion-content style="background:#f3f4f6;">
            <ion-list>
                <div class="item " style="font-size: 16px;border:none;height:52px;">
                    <div style="width:80px;float:left;">
                        <span style="color:red;">*</span>
                        <span style="color:#666;">&nbsp;拜访对象:</span>
                    </div>
                    <div style="color:orange;margin-left:100px;"  ng-click="selectVisitor()">{{ selected.teacherName?selected.teacherName:'请选择'}}</div>
                </div>

                <label class="item item-input" ng-click="selectTimeModal()"
                    style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;">*</span>
                        <span style="color:#666;">&nbsp;拜访时间:</span>
                    </span>
                    <div ng-style="{'color':selected.visitTime?'#333':'#999'}"
                        style="margin-left:5px;width:calc(100% - 120px);padding:6px;">
                        {{selected.visitTime?selected.visitTime:'请选择'}}</div>
                </label>

                <label class="item item-input" style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;">*</span>
                        <span style="color:#666;">&nbsp;您的姓名:</span>
                    </span>
                    <div style="width:calc(100% - 120px);margin-left:5px;">
                        <input type="text" style="color:#333;text-align: left;padding:6px;font-size: 16px;border:none;"
                            maxlength="20" ng-model="selected.visitorName" placeholder="请输入您的姓名" required>
                    </div>
                </label>

                <label class="item item-input" style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;">*</span>
                        <span style="color:#666;">&nbsp;您的手机号:</span>
                    </span>
                    <div style="width:calc(100% - 120px);margin-left:5px;">
                        <input type="tel" style="color:#333;text-align: left;padding:6px;font-size: 16px;border:none;"
                            maxlength="11" ng-model="selected.visitorPhoneNo" placeholder="请输入您的手机号" required>
                    </div>
                </label>

                <label class="item item-input" style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <span style="color:#666;margin-left:3px;">&nbsp;&nbsp;身份证号:</span>
                    </span>
                    <div style="width:calc(100% - 120px);margin-left:5px;">
                        <input type="text" style="color:#333;text-align: left;padding:6px;font-size: 16px;border:none;"
                            maxlength="18" ng-model="selected.visitorIdCardNo" placeholder="选填">
                    </div>
                </label>

                <label class="item item-input" style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <!-- <span style="color:red;">*</span> -->
                        <span style="color:#666;margin-left:3px;">&nbsp;&nbsp;车牌号码:</span>
                    </span>
                    <div style="width:calc(100% - 120px);margin-left:5px;">
                        <input type="text" style="color:#333;text-align: left;padding:6px;font-size: 16px;border:none;"
                            maxlength="8" ng-model="selected.plateNo" placeholder="选填">
                    </div>
                </label>

                <label class="item item-input" style="font-size: 16px;border:none;margin-top: 10px;height:52px;">
                    <span class="input-label" style="width:80px;">
                        <span style="color:red;">*</span>
                        <span style="color:#666;">&nbsp;随访人数:</span>
                    </span>
                    <div style="width:calc(100% - 120px);margin-left:5px;">
                        <input type="number" style="color:#333;text-align: left;padding:6px;font-size: 16px;border:none;"
                            ng-model="selected.followersNo"  pattern="[0-9]*" oninput="if(value.length>3)value=value.slice(0,3)" placeholder="请输入随访人数" required>
                    </div>
                </label>

                <div class="item" style="margin-top:13px;border: none;font-size: 16px;">
                    <span style="color:red;">*</span>
                    <span>拜访事由</span>
                    <textarea style="width:100%;height: 100px;padding: 8px 8px;font-size:16px;color:#666;"
                        placeholder="限制100字" maxlength="100" required ng-model="selected.visitCause" required>
                      </textarea>
                </div>

                <div class="button" ng-if="reportForm.$invalid"
                    style="width:calc(100% - 110px);margin-left: 55px;margin-top:45px;height: 40px;line-height: 40px;min-height: 40px;border:1px solid #DDDDDD;border-radius: 20px;font-size:17px;background-color:#DDDDDD;color:#9D9D9D;font-weight: 500;">
                    立即提交</div>
                <div class="button" ng-if="!reportForm.$invalid" ng-click="commitApply()"
                    style="width:calc(100% - 110px);margin-left: 55px;margin-top:40px;height: 45px;line-height: 40px;min-height: 40px;border-radius: 20px;font-size:17px;background-color:#FEB736 ;color:white;font-weight: 500;border:none;">
                    立即提交</div>
                <div style="height:40px;width:100%;"></div>
            </ion-list>
        </ion-content>
    </form>
</ion-view>