<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">拜访预约</h1>
        <button class="button button-outline" ng-if="!isWeiXin" style="color: white;font-size:15px;padding-top: 3px;"
            ng-click="reservationLink()">
            预约链接
        </button>
    </ion-header-bar>
    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="list">
            <div class="item" ng-repeat="item in list" ng-click="goToDetail(item)"
                style="margin:10px;border-radius:5px;border:none;color:#666;padding:13px 13px 0px 13px;">
                <div style="overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    <span style="color:#666;">&nbsp;&nbsp;&nbsp;拜访人:</span>
                    <span style="color:#333;margin-left:5px;">{{item.parentName}}<span
                            style="color:#999;margin-left:5px;"
                            ng-if="item.visitorPhoneNo">({{item.visitorPhoneNo}})</span></span>
                </div>
                <div
                    style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    <span style="color:#666;">拜访时间:</span>
                    <span style="color:#333;margin-left:5px;">{{item.visitTime.substr(0,16)}}</span>
                </div>
                <div
                    style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">
                    <span style="color:#666;width:66px;">拜访事由:</span>
                    <span style="color:#333;margin-left:5px;">{{item.visitCause.substr(0,16)}}</span>
                </div>
                <div style="width:100%;background:#ddd;height:1px;margin-top:13px;"></div>
                <div style="position: relative;top:6px;margin-bottom: 15px;">
                    <div style="color:#999;margin-top:0px;width: 160px;">{{item.createTime.substr(0,16)}}</div>
                    <div ng-style="{'color':item.status==1?'orange':item.status==2?'#2bcab2':'red'}"
                        style="position: absolute;right: 10px;top:0px;">
                        {{item.status==1?'待处理':item.status==2?'同意':'拒绝'}}
                    </div>
                </div>
        </div>
         <ion-infinite-scroll ng-if="!isMoreData" on-infinite="loadMore()" immediate-check="false" distance="0.5%">
        </ion-infinite-scroll>
        <div class="load_no_more" ng-if="isMoreData&&list&&list.length>9"> 没有更多了</div>
        
        <div class="empty-list-tip" ng-if="!list||(list&&list.length===0)">
            <img src="img/empty_content.png">
            <p >暂无预约</p>
        </div>
       
    </ion-content>
</ion-view>