<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">
			<span ng-if="selected.class_id == ''">未找到班级信息</span>
			<span ng-if="classes.length > 0" class="class_select"
				ng-click="onSelectionChange()">{{selected.class_name}}</span><span
				style="font-size: small;padding-left: 1px;">▼</span>
			<!-- <select ng-if="classes.length > 0" class="class_select" ng-model="selected.class_id" ng-options="item.key as item.value for item in classes" ng-change="onSelectionChange()" required>
			</select><span style="font-size: small;padding-left: 1px;">▼</span> -->
		</h1>
		<button class="button button-icon " ng-click="save()" ng-disabled="selected.class_id == '' || infoForm.$invalid">
			<img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
	</ion-header-bar>
	<form name="infoForm" novalidate>
		<ion-content padding="true" class="has-header function_bg" style="background:#f3f4f6;">

			<input name="input_name" class="input" style="width: 100%;height: 40px; border-color: #d5d5d5;border:none;" maxlength="20" required
				   ng-model="selected.banxun"/><a class="clear" style="margin-top: 12px;" ng-click="selected.banxun='';"></a>

			<div class="item-divider" style="padding: 5px;color:#666;">最多不能超过20个字。</div>
			<!-- <div class="button" ng-click="save()" ng-disabled="selected.class_id == '' || infoForm.$invalid" style="margin-left: 50px;margin-top:60px;width: calc(100% - 100px);height: 40px;line-height: 40px;background:#2bcab2;color:white;border-radius: 5px;font-size: 17px;">确定</div> -->
		</ion-content>
	</form>

	

</ion-view>
