<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">{{editMode=='add'?'添加':'删除'}}值日生</h1>
	</ion-header-bar>
	<ion-content style="padding: 15px;">

		<div class="row flex-row">
			<div class="col-25" style="text-align: center" ng-click="onItemClick(item)" ng-repeat="item in filtered = (editList | filter: listFilter)">
				<img style="position:relative;right: -20px;top: 18px;height: 20px;width: 20px;" ng-src="{{item.selected?'img/icon/check.png':'img/icon/uncheck.png'}}"/>
				<img src="img/icon/default_student.png" ng-src="{{item.avatar}}" style="width:45px; height:45px; overflow:hidden;display:block; margin:auto;border-radius: 50%;"   />
				<span>{{item.name}}</span>
			</div>
		</div>

		<div class="spacer" style="height: 30px;"></div>

	</ion-content>
	<ion-footer-bar class="btn-follower">
		<button class="button button-outline" style="width: 100%;font-size: large;color: white" ng-click="save()">确认{{editMode=='add'?'添加':'删除'}}({{selectedCount}})</button>
	</ion-footer-bar>
</ion-modal-view>
