<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">我的课程表</h1>
		<button class="button button-outline" ng-click="goClassSchedule()" style="color: white"
			ng-if="classes && classes.length>0">
			班级课表
		</button>
	</ion-header-bar>
	<div class="row" ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}"
		style="width:100%;height: 58px;background-color: #F3F4F6;position: relative;" ng-if="weeks.length!=0">
		<a class="col button button-outline button-no-padding" style="font-size: 14px;"
			ng-repeat="week in weeks track by $index" ng-click="go2Day($index+1)">
			<div class="circular-week"
				ng-style="{'background-color':selectedDayofWeek==selectWeekDay($index+1) ? '#2bcab2':'none' ,'color':selectedDayofWeek==selectWeekDay($index+1)?'white':'#2bcab2'}">
				<div style="position: relative;top:-4px;"> {{week.weekCnName}}</div>
				<div style="position: relative;top:-32px;font-size: 13px;">{{week.weekEnName}}</div>
			</div>
		</a>
	</div>
	<ion-content class="has-header schedule" style="position: absolute;"
		ng-style="{'top':getDeviceType()==='iphoneX'?'146px':getDeviceType()==='iphone'?'122px':'102px'}"
		overflow-scroll="true">
		<!-- <div class="spacer" style="width: 300px; height: 10px;"></div> -->

		<!-- <div class="row" style="text-align: center;" ng-repeat="item in filtered = (scheduleList | filterweekday: selectedDayofWeek) ">
			<div class="col-33" style="border: #2f685f 1px solid;padding: 10px;background-color: #99c353" ng-class="$index==0?'':'no_border_top'">
				<p>第{{item.sectionNum}}节</p>
				<span>{{getClassTime(item.sectionNum)}}</span>
			</div>
			<div class="col-67" style="border: #2f685f 1px solid;border-left: 0;padding: 10px;" ng-class="$index==0?'':'no_border_top'">
				<p style="font-size: large;color: #2a665c">{{item.subjectName}}</p>
				<span style="color: #358477">{{item.addressInfo}}</span>
			</div>
		</div> -->
		<ion-list>

			<div class="row" ng-repeat="item in filtered = (scheduleList | filterweekday: selectedDayofWeek) "
				style="text-align: center;padding-left:0px !important;margin:0px;padding:0px;">

				<div class="only_border_right"
					style="border: #c6c6c6 1px solid;background-color:#F9F9F9;margin-right:0px;">
					<div class="schedule-interval" ng-if="0===$index||AMAcount===$index||$index==PMAcount+AMAcount">
						{{getClassInterval(item.sectionNum)}}</div>
					<div ng-style="{'margin-top':(0==$index||AMAcount==$index||$index==PMAcount+AMAcount)?'15px':'30px'}">
						<div style="font-size: 19px;line-height: 20px;margin-top:5px !important">{{item.sectionNum}}
						</div>
						<span
							style="font-size: small;margin-top:5px !important;color: #444;">{{getClassTime(item.sectionNum)}}</span>
					</div>
				</div>
				<div class="only_border_bottom" style="border: #c6c6c6 1px solid;">
					<div style="color:#555;font-size: 16px;">{{item.subjectName}}</div>
					<div style="color: #666;font-size: 14px;word-break: break-all;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;"
						ng-if="item.walkingClassName||item.walkingSubName">
						{{item.walkingClassName?item.walkingClassName:item.walkingSubName}}</div>
					<div style="color: #666;font-size: 14px;word-break: break-all;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;"
						ng-if="!item.walkingClassName&&!item.walkingSubName">
						{{item.className?item.className:item.addressInfo}}</div>
					<div style="color: #666;font-size: 14px;word-break: break-all;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:4px;"
						ng-if="item.siteName!=item.className">{{item.siteName}}</div>
				</div>
			</div>

			<div ng-if="filtered.length == 0" style="display: block;text-align: center">
				<span style="color: gray">今日暂无课程</span>
			</div>
		</ion-list>
	</ion-content>
</ion-view>