<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font">请假申请</h1>
	</ion-header-bar>
	<ion-content>

		<div class="item item-divider no-border-radius">
			请假时间
		</div>
		<div class="item button-bar no-border-radius" style="height: 50px;padding: 0">
			<a class="button button-clear" ng-click="showDatePicker(0)" style="color:#666;">{{selected.startDate.substr(5,11)}}</a>
			<span style="padding: 12px 10px 0 10px;background-color: transparent">至</span>
			<a class="button button-clear" ng-click="showDatePicker(1)" style="color: #666;">{{selected.endDate.substr(5,11)}}</a>
		</div>

		<div class="item item-divider no-border-radius">
			请假原因
		</div>
		<div class="item item-text-wrap no-border-radius" style="padding: 5px !important;">
			<button class="button " ng-repeat="btn in leaveTypes" ng-click="selected.leaveType=btn.id;selected.leaveTypeText=btn.desc" ng-class="selected.leaveType==btn.id?'btn-text_style':'btn-type'" style="margin: 2px 5px;">
				{{btn.desc}}
			</button>
		</div>

		<div class="item item-divider no-border-radius">
			补充说明(300字内) <span style="color: red" ng-if="selected.leaveTypeText==='其它'">必填</span>
		</div>
		<label class="item item-input no-border-radius">
			<textarea style="height: 100px;" ng-model="selected.desc" maxlength="300"></textarea>
		</label>
		<div class="spacer" style="height: 10px;"></div>

	</ion-content>
	<ion-footer-bar class="btn-follower">
		<button class="button button-outline btn-enroll" style="width: 100%;font-size: large;color: white"
				ng-click="commit()"
				ng-disabled="(selected.leaveTypeText==='其它'&&(!selected.desc || selected.desc.length ===0)) || !selected.leaveType">提交
		</button>
	</ion-footer-bar>
</ion-modal-view>

