<!-- <div>
    <img src="img/repair/close.png" style="float:right;position:absolute;top:12px;right:12px;width:15px;height:15px;"
        ng-click="closeWalkCourseAlert()" />
    <div ng-repeat="item in walkCourse"  style="margin-left:5px;padding: 5px 0px; border-radius: 0;text-align:center;border-bottom:1px solid #ddd;">
       <div style="text-align:left;">名称：  {{item.name}}</div>
       <div style="text-align:left;margin-top: 3px;">场所： {{item.site}}</div>
       
    </div>
</div> -->
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-follower">
            <back-btn></back-btn>
        <!-- <button class="button button-icon icon " ng-click="closeWalkCourseAlert()">
            <img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
        </button> -->
        <h1 class="title bar-follower-font">走班课详情</h1>

    </ion-header-bar>
    <ion-content style="background-color:#F3F5F4;">

        <ion-item style="padding:10px 12px;border-radius: 5px;border: none;margin:10px;" ng-repeat="walkCourse in walkCourseList">
            <h2>{{walkCourse.subjectName}}</h2>
            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;text-align: right;float: left;width: 65px;">走班课程:</div>
                <div style="font-size:15px;color:#666;margin-left: 69px;">{{walkCourse.walkingNcee?walkCourse.walkingClassName:walkCourse.walkingSubName}}</div>
            </div>

            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;text-align: right;float: left;width: 65px;">授课教师:</div>
                <div style="font-size:15px;color:#666;margin-left: 69px;">{{walkCourse.teacherName}}</div>
            </div>

            <div style="margin-top: 7px;overflow: hidden;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;"
                class="list-content-set">
                <div style="color:#333;text-align: right;float: left;width: 65px;">授课地点:</div>
                <div style="font-size:15px;color:#666;margin-left: 69px;">{{walkCourse.siteName}}</div>
            </div>

        </ion-item>
</ion-modal-view>