<ion-view class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >选课</h1>
	</ion-header-bar>
	<ion-content padding="true" class="has-header">
		<label class="item item-input item-select" style="border-radius: 0" ng-if="selectableCourses.length>0">
			<div class="input-label">
				选择走班课程
			</div>
			<select ng-model="selected.course" ng-options="item as item.name for item in selectableCourses" style=" appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;" ng-change="onCourseChanged()">
			</select>
		</label>

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData()">
		</ion-refresher>

		<div collection-repeat="item in selectableSubCourses " >
			<div class="spacer" style="height: 10px;"></div>
			<ion-item class="course-item" ng-click="openModal(item)" style="border-bottom: 0px;border-left: 0px;border-right: 0px;">
				<h2>{{item.courseName}}</h2>
				<p><small>◆</small> 授课老师: {{item.teacherName}}</p>
				<p><small>◆</small> 授课教室: {{item.classroom}}</p>
				<p><small>◆</small> 上课时间: {{item.classTime}}</p>
			</ion-item>
		</div>

		<div ng-if="selectableSubCourses && selectableSubCourses.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无走班课程</p>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
