<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
				alt="" />
		</button>
		<h1 class="title bar-follower-font">课程详情</h1>
	</ion-header-bar>
	<ion-content style="background:#f3f4f6;">

		<!-- <div class="spacer" style="height: 10px;"></div>
		<ion-item class="course-item">
			<h2>{{selectedCourse.courseName}}</h2>
			<p><small>◆</small> 授课老师: {{selectedCourse.teacherName}}</p>
			<p><small>◆</small> 授课教室: {{selectedCourse.classroom}}</p>
			<p style="overflow: visible;white-space: normal"><small>◆</small> 上课时间: {{selectedCourse.classTime}}</p>
			<p><small>◆</small> 开课时间段: {{selectedCourse.classDuration}}</p>
			<p><small>◆</small> 已报名人数: {{selectedCourse.studentNumber}} 人</p>
		</ion-item> -->

		<!-- <div class="spacer" style="height: 10px;"></div>
		<ion-item class="course-item">
			<h2>课程简介</h2>
			<p style="overflow: visible;white-space: normal">{{selectedCourse.introduction}}</p>
		</ion-item>
		<div class="spacer" style="height: 10px;"></div> -->

		<div class="item" style="margin:10px;border:none;background:#5ee4d2;border-radius:5px;">
			<h2 style="color:white;font-weight:500;font-size:17px;">{{selectedCourse.subjectName}}</h2>
			<div style="margin-top:7px;color:white;font-size:15px;">
				<div style="float: left;">上课时间: </div>
				<div style="margin-left:72px;white-space:normal;">{{selectedCourse.classTime}}</div>
			</div>
			<div style="margin-top:7px;color:white;font-size:15px;">开课时间段: {{selectedCourse.classDuration}}</div>
			<div style="margin-top:7px;color:white;font-size:15px;">授课教室: {{selectedCourse.classroom}}</div>
			<div style="margin-top:15px;float: left;">
				<img ng-src="{{selectedCourse.teacherLogo}}" src="img/icon/default_teacher.png"
					style="width:60px;height:60px;border-radius:50%;border:2px solid #fff;float: left;" />
				<div style="color:white;font-size:17px;font-weight:500;margin-left:70px;">{{selectedCourse.teacherName}}
				</div>
				<div style="color:white;font-size:15px;margin-top:2px;margin-left:70px;">授课老师</div>
			</div>
			<div style="width:66px;height:66px;border-radius:50%;background:#3cc6b3;float:right;margin-top:15px">
				<div style="color:white;font-weight:500;text-align:center;font-size:16px;margin-top:12px;">
					{{selectedCourse.studentNumber}}</div>
				<div style="color:white;text-align:center;font-size:14px;">已报名</div>
			</div>
		</div>

		<div class="item" style="border:none;margin:10px;border-radius:5px;">
			<h2>课程简介</h2>
			<div style="width:100%;height:1px;background:#ddd;margin-top:10px;"></div>
			<p style="overflow: visible;white-space: normal;margin-top:10px;">{{selectedCourse.introduction?selectedCourse.introduction:'暂无简介'}}</p>
			<div class="spacer" style="height: 10px;"></div>
		</div>

	</ion-content>
	<ion-footer-bar ng-if="showEnrollBtn" class="btn-follower">
		<button class="button button-outline  btn-enroll" style="width: 100%;font-size: large;" ng-click="enroll()"
			ng-disabled="!selectedCourse.choosable">立即报名</button>
	</ion-footer-bar>
</ion-modal-view>