<ion-view hide-nav-bar="true" class="xView-grey">
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button>
		<h1 class="title bar-follower-font" >我的走班课</h1>
		<button class="button button-outline" ng-click="showChoosableCourse()" ng-if="!isTeacher" style="color: #ffffff">选课</button>
	</ion-header-bar>
	<ion-content class="has-header content" style="padding:0px 10px 10px 10px;">

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="loadData()">
		</ion-refresher>

		<div collection-repeat="item in list ">
			<div class="spacer" style="height: 10px;"></div>
			<!-- <ion-item class="course-item" ng-click="openModal(item, true)" ng-if="!isTeacher">
				<h2>{{item.subjectName}}</h2>
				<p><small>◆</small> 走班课程: {{item.walkingClassName?item.walkingClassName:item.courseName}}</p>
				<p><small>◆</small> 授课老师: {{item.teacherName}}</p>
				<p><small>◆</small> 授课教室: {{item.classroom}}</p>
				<p><small>◆</small> 上课时间: {{item.classTime}}</p>
			</ion-item> -->

			<div class="item" ng-click="openModal(item, true)" ng-if="!isTeacher" style="margin-top:10px;border:none;background:#5ee4d2;border-radius:5px;">
					<h2 style="color:white;font-weight:500;font-size:17px;">{{item.subjectName}}</h2>
					<div style="margin-top:7px;color:white;font-size:15px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">上课时间: {{item.classTime}}</div>
					<div style="margin-top:7px;color:white;font-size:15px;">走班课程: {{item.walkingClassName?item.walkingClassName:item.courseName}}</div>
					<div style="margin-top:7px;color:white;font-size:15px;">授课老师: {{item.teacherName}}</div>
					<div style="margin-top:7px;color:white;font-size:15px;">授课教室: {{item.classroom}}</div>
					<!-- <a class="theme-btn" ng-click="openModal(item)" style="float: right;margin-top:10px;height:30px;line-height:30px;border-radius:15px;padding:auto 8px;background:white;width:80px;text-align:center;font-size:15px;">课程详情</a>
				  <a class="theme-btn" ng-click="goCheckInView(item)" style="float: right;margin-right: 20px;margin-top:10px;height:30px;line-height:30px;border-radius:15px;padding:auto 8px;background:white;width:80px;text-align:center;font-size:15px;">走班签到</a> -->
			</div>

			<!-- <ion-item class="course-item" ng-if="isTeacher">
				<h2>{{item.subjectName}}</h2>
				<p><small>◆</small> 走班名称: {{item.walkingClassName?item.walkingClassName:item.courseName}}</p>
				<p><small>◆</small> 授课教室: {{item.classroom}}</p>
				<p><small>◆</small> 上课时间: {{item.classTime}}</p>
				<a class="theme-btn" ng-click="openModal(item)" style="float: right">课程详情</a>
				<a class="theme-btn" ng-click="goCheckInView(item)" style="float: right;margin-right: 20px">走班签到</a>
			</ion-item> -->

			<div class="item" ng-if="isTeacher" style="margin-top:10px;border:none;background:#5ee4d2;border-radius:5px;">
				  <h2 style="color:white;font-weight:500;font-size:17px;">{{item.subjectName}}</h2>
				  <div style="margin-top:7px;color:white;font-size:15px;white-space: nowrap;overflow: hidden;text-overflow : ellipsis;">上课时间: {{item.classTime}}</div>
				  <div style="margin-top:7px;color:white;font-size:15px;">走班名称: {{item.walkingClassName?item.walkingClassName:item.courseName}}</div>
				  <div style="margin-top:7px;color:white;font-size:15px;">授课教室: {{item.classroom}}</div>
				  <a class="theme-btn" ng-click="openModal(item)" style="float: right;margin-top:10px;height:30px;line-height:30px;border-radius:15px;padding:auto 8px;background:white;width:80px;text-align:center;font-size:15px;">课程详情</a>
				<a class="theme-btn" ng-click="goCheckInView(item)" style="float: right;margin-right: 20px;margin-top:10px;height:30px;line-height:30px;border-radius:15px;padding:auto 8px;background:white;width:80px;text-align:center;font-size:15px;">走班签到</a>
			</div>
		</div>

		<div ng-if="list && list.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png"/>
			<p>暂无走班课程</p>
		</div>

		<div class="spacer" style="height: 30px;"></div>
	</ion-content>
</ion-view>
