<ion-view hide-nav-bar="true" cache-view="false">
    <ion-content scroll="false">

        <!-- <ion-slides options="options" slider="data.slider" >

            <ion-slide-page id="intro_page1" class="intro_page">
                <div>
                    <img src="img/tz.png" alt="" style="max-width: 80px;margin-top: 80vh" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/tz-02.png" alt="" style="max-width: 200px;" />
                </div>
            </ion-slide-page>

            <ion-slide-page id="intro_page2" class="intro_page">
                <div>
                    <img src="img/fc.png" alt="" style="max-width: 80px;margin-top: 80vh" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/fc-02.png" alt="" style="max-width: 260px;" />
                </div>
            </ion-slide-page>

            <ion-slide-page>
                <div id="intro_page3" class="intro_page">
                    <img src="img/gt.png" alt="" style="max-width: 80px;margin-top: 80vh" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/gt-02.png" alt="" style="max-width: 230px;" />
                </div>
            </ion-slide-page>

            <ion-slide-page>
                    <div id="intro_page4" class="intro_page">
                        <img src="img/logo.png" id="intro_img_final">
                        <div class="spacer" style="height: 20px;"></div>
                        <img src="img/slogan2.png" id="intro_img_final_txt">
                        <div class="spacer" style="height: 30%;"></div>
                        <button class="button button-goon" ng-click="enter()">
                            立即进入
                        </button>
                    </div>
            </ion-slide-page>

        </ion-slides> -->


        <ion-slide-box id="intro_slide" on-slide-changed="slideHasChanged($index)"
            style="height:100% important;height: 100%;">
            <ion-slide class="intro_page" id="intro_page1">
                <div>
                    <img src="img/guide1.png" style="width:calc(100% - 110px);margin-top: 10vh;" />
                    <h2 style="width: 100%;margin-top: 5vh;text-align: center;color:rgb(1, 196, 119)">通知公告</h2>
                    <div style="width:100%;text-align:center;font-size:17px;color:#666;">放假通知考试安排等实时获知</div>
                    <!-- <img src="img/tz.png" alt="" style="max-width: 80px;margin-top: 80vh;" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/tz-02.png" alt="" style="max-width: 200px;" /> -->

                </div>
            </ion-slide>

            <ion-slide class="intro_page" id="intro_page2">
                <div>
                    <img src="img/guide2.png" style="width:calc(100% - 110px);margin-top: 10vh;" />
                    <h2 style="width: 100%;margin-top: 5vh;text-align: center;color:#2078F5">校园风采</h2>
                    <div style="width:100%;text-align:center;font-size:17px;color:#666;">活动、赛事、评比展现学校最美风采</div>
                    <!-- <img src="img/fc.png" alt="" style="max-width: 80px;margin-top: 80vh" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/fc-02.png" alt="" style="max-width: 260px;" /> -->
                </div>
            </ion-slide>

            <ion-slide class="intro_page" id="intro_page3">
                <div>
                    <img src="img/guide3.png" style="width:calc(100% - 110px);margin-top: 10vh;" />
                    <h2 style="width: 100%;margin-top: 5vh;text-align: center;color:#2078F5">家校沟通</h2>
                    <div style="width:100%;text-align:center;font-size:17px;color:#666;">家校互通的桥梁 随时随地的沟通</div>
                    <!-- <img src="img/gt.png" alt="" style="max-width: 80px;margin-top: 80vh" />
                    <div class="spacer" style="height: 20px;"></div>
                    <img src="img/gt-02.png" alt="" style="max-width: 230px;" /> -->
                </div>
            </ion-slide>

            <ion-slide class="intro_page" id="intro_page4">
                <ion-scroll direction="xy" locking="false" zooming="true" min-zoom="1" scrollbar-x="false"
                    scrollbar-y="false" overflow-scroll="false"
                    style="position:absolute!important;top:0px;bottom:0px;left:0px;right:0px;" id="intr_slide_scroll"
                    on-swipe-right="swipeToRight()" on-swipe-left="swipeToLeft()">
                    <div>
                        <img src="img/guide4.png" style="width:calc(100% - 110px);margin-top: 10vh;" />
                        <!-- <img src="img/logo.png"
                            style=" margin-top: 20% !important;width:35.7%; height: 50% !important; max-height: 50% !important;" />
                        <div class="spacer" style="height: 20px;width:100%;"></div>
                        <img src="img/slogan2.png" style=" width:55.5%; height: 7% !important;max-height:7%; " /> -->

                        <button class="button intro_into_btn" ng-click="enter()"
                            style="position:absolute;bottom:12%;left:30%">
                            立即进入
                        </button>
                    </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>


    </ion-content>
</ion-view>