<ion-view>
    <ion-header-bar class="bar bar-header bar-follower">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">我的人像</h1>
    </ion-header-bar>

    <ion-content style="background:#f3f4f6;">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshData()">
        </ion-refresher>
        <div class="item"  style="margin:10px;border-radius:5px;border:none;padding:0px;">
            <img src="img/icon/person.png" ng-src="{{myInfo.userImgSrc}}" style="width: 64px;height: 64px;margin:12px;float: left;object-fit: cover;"
                ng-click="viewImages(myInfo, $index,$event)" on-img-cache />
            <div style="float: left;margin-top: 18px;">
                <h2>{{myInfo.userName}}<span style="color:#666;font-weight:400;margin-left:5px;"></span></h2>
                <div ng-style="{'color':myInfo.regcStatus===0?'#3C73CE':myInfo.regcStatus===1?'orange':myInfo.regcStatus===2?'#666':'red'}" style="font-size:15px;margin-top:3px;">{{getTypeStr(myInfo.regcStatus)}}</div>
                <div ng-if="myInfo.regcStatus===2" style="font-size:13px;color:#999;margin-top:1px;">{{myInfo.regcTime.substr(0,16)}}</div>
            </div>

            <div  ng-if="myInfo.regcStatus!=1" class="button button-clear"  ng-style="{'background':myInfo.regcStatus===0?'#2bcab2':'orange'}"
                style="font-size:14px;color:white;height:30px;border-radius: 15px;min-height:30px;line-height: 30px;position: absolute;top: calc(50% - 15px);right:10px;padding: 0px 10px;"
                ng-click="selectImg()">
                {{myInfo.regcStatus===0?'立即采集':'重新采集'}}
            </div>
            <input type="file" accept="image/*" id="capture1" name="file" class="mFileInput" style="display:none;"
                onchange="angular.element(this).scope().getFile(this.files)" />
        </div>
    </ion-content>
</ion-view>