<ion-popover-view style="width: 97%;height: 30%">
	<ion-content>
		<div class="" style="padding: 10px 10px">
			<div style="height:195px;width:100%;">
				<div style="padding:10px; height:190px;width:100%;">
					<ion-slide-box>
						<ion-slide ng-repeat="item in items" style="height:190px;width:100%;">
							<span ng-repeat="emotion in item" ng-click="setValue(emotion)" style="display: block;float: left;width: 12.5%; height: 42px; font-size: 1.2em;line-height: 42px;text-align: center;margin-bottom: 10px;">
								{{emotion}}
							</span>
						</ion-slide>
					</ion-slide-box>
				</div>
			</div>
		</div>
	</ion-content>
</ion-popover-view>

<!-- <ion-popover-view style="width: 97%;height: 30%">
	<ion-content>
		<div class="row flex-row" style="padding: 10px 10px">
			<img style="padding: 8px 8px" ng-repeat="item in emotions" ng-src="{{item[1]}}" ng-click="setValue(item)"/>

		</div>
	</ion-content>
</ion-popover-view> -->