<ion-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<!-- <button class="button button-icon icon " ng-click="goBack()">
			<img src="img/icon/icon-arrow_left.png"  style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt=""/>
		</button> -->
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">完善信息</h1>
	</ion-header-bar>
	<ion-content  style="background:#f3f4f6;">
		<ion-list>
			<div  style="color:#666;font-size:17px;height:40px;line-height:40px;padding-left:15px;">编辑资料</div>
			<div class="item" style="border:none;" ng-click="selectImage(1) ">
				<span style="height:50px;line-height: 50px;color:#666;">修改头像</span>
				<i style="margin-top: 15px;float: right" class="icon ion-ios-arrow-right"></i>
				<img ng-src="{{user.logo}}" style="width:60px; height:60px;  border-radius:50%; overflow:hidden;display:inline-block; margin: auto 20px auto auto;float:left;   "
				/>
			</div>
			<input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;" onchange="angular.element(this).scope().getFile(this.files)"
			/>

			<!-- <div class="item" style="border-radius: 5px !important;margin-top: 20px;" ng-click="selectImage(2)" ng-if="userRole ==='3'">
				<span style="height:50px;line-height: 50px;">人像采集</span>
				
				<i style="margin-top: 15px;float: right" class="icon ion-ios-arrow-right"></i>
				<img ng-src="{{user.portrait}}" src="img/icon/person.png" style="width:60px; height:60px; border: 2px solid #fe6c68; border-radius:50%; overflow:hidden;display:inline-block; margin: auto 20px auto auto;float: right;   "
				/>
				<div style="font-size:0.94em;color:#999;margin-top:8px;">您的刷脸考勤将以此照片为参考</div>
			</div> -->

			<div class="item" style="border:none;margin-top: 0px;border-top:1px solid #ddd;" ng-click="openEditView('name')">
				<span style="color:#666;">姓名</span>
				<i style="float: right" class="icon ion-ios-arrow-right"></i>
				<span style="float: right;margin-right: 20px">{{user.name}}</span>
			</div>
			<!--
		<div class="item" ng-click="selectSex()" style="border-radius: 0;">
			<span>性别</span>
			<i style="float: right" class="icon ion-ios-arrow-right"></i>
			<span style="float: right;margin-right: 20px; border-radius: 5px;">{{userdata.sex.text}}</span>
		</div> -->

			<label class="item item-input item-select" style="border:none;margin:0px;border-top:1px solid #ddd;">
				<div class="input-label" style="color:#666;">
					性别
				</div>
				<select ng-model="user.sex" style=" appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; -webkit-appearance:none;"
				    ng-change="onSexChange(user.sex)">
					<option selected value="MALE">男</option>
					<option value="FEMALE">女</option>
				</select>
			</label>

			<div class="item" style="border:none; margin-top: 0px;border-top:1px solid #ddd;" ng-click="openEditView('instruction')"
			    ng-if="userRole ==='3'">
				<span style="color:#666;">个人简介:</span>
				<i style=" position:absolute;top:calc(50% - 8px);right:16px;" class="icon ion-ios-arrow-right"></i>
				<div ng-style='{"color":user.instruction==null? "lightgray":"#444444"}' style="margin-top: 6px;margin-left: 2px;margin-right:10px;  word-wrap: break-word;overflow: hidden; white-space: pre-wrap;">{{user.instruction==null?'暂无简介,去编辑~':user.instruction}}</div>
			</div>
			<div class="item" style="margin-top:15px;border:none;" ng-click="openEditView('password')">
					<span style="color:#666;">修改密码</span>
					<i style="float: right" class="icon ion-ios-arrow-right"></i>
			</div>




			<!-- <button class="button" style="margin: 25px 5% 0 5%;width: 90%;background:#fe6c68;color: #ffffff;" ng-click="openEditView('password')">
				修改密码
			</button> -->

		</ion-list>
	</ion-content>
</ion-view>
