/* school page buttons */
.tab-button-yellow {
    color: #fff;
    border-radius:10px;
    background: #f8b551;
    border: 1px solid #fff;
    font-size: small;
}

.jdt{
    background: #f8b551;
    font-size: 14px;
}
.zd{
    background: #2bcab2;
    font-size: 14px;
}
.theme-btn{
    color: #2bcab2;
    font-size: 14px;
    margin-bottom: -8px;
}
.qxsc{
    background: #ef473a;
    font-size: 14px;
}

.item-thumbnail-left {
    min-height: 80px;
    padding-left: 90px;
}
.item-thumbnail-left .item-content {
    padding-left: 80px;
    min-height: 80px;
}

.item-complex .item-content {
    padding-right: 10px;
}

.btn-campus-select {
    background: #ffffff;
    border: 1px solid #f8b551;
    margin-bottom: 1px;
    min-height: 30px;
    line-height: 30px;
    min-width: 90px;
    position: relative;
    padding: 0 10px !important;
}

.btn-campus-select strong {
    color: red;
    position: absolute;
    margin-top: -5px;
    right: 5px;
    font-size: large
}

.btn-campus-select:hover{
    background: #f8b551;
    color:#ffffff;
}
.btn-campus-select.active, .btn-campus-select.activated{
    background: #f8b551;
    color:#ffffff;
}
.activated_btn_orange{
    background: #f8b551 !important;
    color:#ffffff !important;
}

#btn-campus-all {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#btn-campus-my {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.campus-item-body {
    padding: 10px;
    border-radius: 0;
}

.campus-item-avatar {
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 60px;
}

.campus-item-avatar img{
    top: 8px!important;
}

.campus-item-avatar #span-date {
    margin-right: 5px;
    font-size: small;
    position: absolute;
    right: 5px;
    top: 12px;
    color: grey;
}

.campus-item-avatar #span-author {
    margin-right: 5px;
    font-size: small;
    position: absolute;
    right: 5px;
    top: 32px;
    color: grey;
}


.campus-item-avatar button {
    min-height: 20px;
    line-height: 20px;
    padding: 0 2px;
    font-size: 14px;
    border-radius: 8px;
}


.campus-item-body-right-button {
    height: 30px !important;
    min-height: 30px !important;
    line-height: 0 !important;
    color: #fff;
    border-radius:5px;
    float: right;
}

.campus-item-body-left-button {
    height: 30px !important;
    min-height: 30px !important;
    line-height: 0 !important;
    color: #666;
    border-radius:5px;
    display: flex;
    float: left;
}

#campus-unread-view {
    text-align: center;
    background: #ddd;
    color: #666;
    border-radius: 25px;
    padding: 8px 20px 8px 20px;
    font-size: 0.8em;
}

.campus-unread-item {
    border-radius: 0;
}

.campus-unread-item img{
    max-width: 60px !important;
    max-height: 60px !important;
}

.campus-unread-item span{
    border: 1px solid #ddd;
    padding: 3px;
    font-size: small;
    width: 60px !important;
    height: 60px !important;
}

.campus-unread-item h2{
    padding-right: 80px;
}

.campus-unread-item p{
    color: #555;
    padding-right: 80px;
}

.campus-unread-item small{
    color: #828282;
}

.campus-unread-item .linkContent {
    position: absolute;
    top: 10px;
    right: 10px;
    white-space: normal;
}

#campus-footer-bar {
    background: rgb(243,245,244);
}

#campus-footer-bar button {
    padding-right: 10%;
    width: 50%;
}

#campus-footer-bar button img {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 10px;
}

#campus-footer-bar button span {
    position: absolute;
}

.campus-comment-item {
    min-height: 60px;
    padding: 3px 75px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1px;
}

.campus-comment-item img{
    max-width: 45px !important;
    max-height: 45px !important;
}

.campus-comment-item h3{
    padding-right: 80px;
}

.campus-comment-item p{
    color: #555;
    padding-right: 80px;
}

.campus-comment-item small{
    color: #828282;
}

.campus-comment-item button{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.campus-comment-tab {
    min-width: 60px;
    background: transparent;
    border: 0;
}

.campus-comment-tab-selected {
    border-bottom: 3px solid orange;
}