/* chat list*/
.badge-container {
    position: relative;
}
.chat_avatar {
    border-radius: 50%;
    max-height: 45px !important;
    max-width: 45px !important;
    min-height: 45px !important;
    min-width: 45px !important;
}

/* chat detail */
.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

#userMessagesView {
    background-color: #f3f4f5;
}

/* fixes an ios bug bear */
button.ion-android-send {
    padding-top: 2px;
}

/* add this to keep your footer buttons down
at the bottom as the textarea resizes */
.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 55px;
    top: 6px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
}

img.profile-pic.left {
    left: 10px;
    top: 10px;
}

img.profile-pic.right {
    right: 10px;
    top: 10px;
}

span.name {

}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.message {
    font-size: 14px;
    min-width: 25px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-username {
    display: block;
    position: relative;
    vertical-align: top;
    max-width: 70%;
    font-size: 11px;
    color: gray;
}

.chat-username.left {
    margin: 5px 45px -9px 70px;
}

.chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    vertical-align: top;
    max-width: 70%;
}

.chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 15px;
    position: absolute;
    top: 11px;
    transform:             rotate( 45deg ) skew( 0deg );
    -moz-transform:    rotate( 45deg ) skew( 0deg );
    -ms-transform:     rotate( 45deg ) skew( 0deg );
    -o-transform:      rotate( 45deg ) skew( 0deg );
    -webkit-transform: rotate( 45deg ) skew( 0deg );
    width:  15px;
}


.chat-bubble.left {
    background-color: #fff;
    float: left;
    margin: 10px 45px 5px 70px;
}

.chat-bubble.left:before {
    background-color: #fff;
    border-right: 0;
    border-top: 0;
    left: -7.8px;
}

.chat-bubble.right {
    background-color: #fff;
    border: 1px solid #01c476;
    float: right;
    margin: 10px 70px 5px 45px;
}

.chat-bubble.right:before {
    background-color: #fff;
    border: 1px solid #01c476;
    border-left: 0;
    border-bottom: 0;
    right: -7.8px;
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.chat-input {
    width: 85% !important;
    height: 35px;
    max-height: 100px;
    font-size: 16px;
}

.chat-emotions-footer-btn {
    position: absolute !important;
    bottom: -1px;
    right: 0;
}

.chat-emotions {
    width: 100%;
    height: 100px;
}

.bold {
    font-weight: bold;
}

.cf {
    clear: both !important;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

.checkbox-im-select-all {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 0 !important;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
    background:#666;
    border-color:#666;
}
