/* guide pages */
#intro_slide .slider-pager .slider-pager-page{
    color:#2bcab2 !important;
}

.intro_page {
    height: 100%;
    text-align: center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.intro_into_btn{
    color: #2bcab2;
    background:none;
    width:40%;
    /* border:2px solid #2bcab2; */
    font-size:20px;
    height:48px;
    border-radius:24px;
 
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(90deg,white,white),linear-gradient(90deg,#2bcab2,#2078F5);
    border:2px transparent solid;

}

#intro_page1 {
    /* background: url('../img/guide1.jpg') ; */
}

#intro_page2 {
    /* background: url('../img/guide2.jpg'); */
}

#intro_page3 {
    /* background: url('../img/guide3.jpg'); */
}

#intro_page4 {
    /* background: url('../img/guide4.jpg'); */
}

#intro_img_final {
    margin-top: 20%;
    height: 30% !important;
    max-height: 30% !important;
}

#intro_img_final_txt {
    height: 4% !important;
    max-height: 4% !important;
}

#intr_slide_scroll .scroll{
 position:absolute !important;
 top:0px;
 left:0px;
 right:0px;
 bottom:0px;
}

/** 人像采集*/
#intro-checkbox {
    /* padding:auto !important; */
    padding-left: 18px !important;

}
#intro-checkbox .checkbox {
    width:24px;
}
/* .intro-box-android .checkbox-icon{
    width: 24px;
    height:24px;
} */
#intro-checkbox.checkbox input:before, .checkbox-icon:before{
    /* border-radius: 0px; */
}




