/** alert modal*/
.popup-open {
    pointer-events: auto;
}
.my-detail-item{
    margin:0px !important;
}

.no-border-line.active, .no-border-line.activated{
    border:none;
}



/** change alert style */
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: #2bcab2 !important;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #2bcab2 !important;
}
.schedule .scroll{

}
#gallery-img .row{
 height:109px !important;
}
.gallery-view .image-container {
    /* height:100px!important; */
    min-height: 100px !important;
    
  }
  .gallery-view .image-container img{
      min-height:101px !important;
  }

/* .nav-right-button{
    color: red !important;
    font-size:15px;  
} */
#bannerContent>p>img {
    width: 100%;
}

.global_ios {
    margin-bottom: constant(safe-area-inset-bottom);
    height: calc(100% - constant(safe-area-inset-bottom) - constant(safe-area-inset-top));
    margin-top: constant(safe-area-inset-top);
    background-color: transparent;
    /*margin-top: 20px;*/
}

.list_item {
    margin: 10px;
    border: 0px;
    border-radius: 5px;
}

/* .item{
    border-radius: 0px !important;
} */
/*.toast-top-right{*/
/*right: calc(50% - 144px) !important;*/
/*!*background-color: #2bcab2 !important;*!*/

/*}*/

.par_scores_card {
    padding-top: 7px;
    /* padding-left:16px; */
}

.col_scores_list {

    -webkit-line-clamp: 1;
    overflow: hidden;
    /* display: -webkit-box; */
    text-overflow: ellipsis;
    /* -webkit-box-orient: vertical; */
    white-space: nowrap;
    max-width: 94px;

}

.exam_scroll_view {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.load_no_more {
    color: darkgray;
    text-align: center;
    font-size: 15px;
    width: 100%;
}


.wl-alert .popup {
    width: calc(100% - 160px);
    max-width: calc(100% - 120px);
    color: white !important;
}

/*.popup-container .popup{*/

/*background-color: rgba(0,0,0,0.9) !important;*/
/*border-radius: 7px;*/
/*}*/

.float-scroll {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 99999;
}

#score-spinner {
    stroke: black;

}

.post-short-meta-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.5px;
}

.post-short-meta-container span {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}


/**  user sugest 用户反馈*/
.public-notice-badge {
    position: relative !important;
    left: 8px !important;
    height: 20px;
    min-width: 20px !important;
    font-size: 11px;
    border-radius: 50%;
    top: -1px !important;
    line-height: 20px;
    text-align: center;
    min-height: 18px;
    color: white;
    background-color: red;
    font-weight: 500;
}

.feedback-left {
    padding-top: 0px !important;

}

.feedback-right {
    /* position: relative;
top:20px;
bottom: 20px; */
}

img.feedback-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    /* bottom: 10px; */
}

/** 头像*/
img.feedback-pic.left {
    float: left;
    left: 10px;
    top: 25px;
}

img.feedback-pic.right {
    float: right;
    right: 10px;
    top: 0px;
}

.feedback-username {
    display: block;
    position: relative;
    vertical-align: top;
    max-width: 70%;
    font-size: 11px;
    color: gray;
}

.feedback-username.left {
    float: left;
    top: 0px;
    left: 22px;
    margin-top: 10px;
}

.feedback-message {
    color: black;
    max-width: 65%;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    align-items: center;
    display: flex;
    word-break: break-all;
    word-wrap: break-word;


}

.feedback-message.left {
    background-color: #fff;
    float: left;
    /* left:-30px; */
    left: -2px;
    top: 30px;
    padding: 4px 9px 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 40px;
    border-radius: 4px;
}


.feedback-message:before {
    content: "\00a0";
    display: block;
    height: 15px;
    position: absolute;
    top: 11px;
    transform: rotate(45deg) skew(0deg);
    -moz-transform: rotate(45deg) skew(0deg);
    -ms-transform: rotate(45deg) skew(0deg);
    -o-transform: rotate(45deg) skew(0deg);
    -webkit-transform: rotate(45deg) skew(0deg);
    width: 15px;
}

.feedback-message.left:before {
    background-color: #fff;
    border-right: 0;
    border-top: 0;
    left: -7.8px;
}

.feedback-message.right {
    background-color: #03c475;
    float: right;
    margin: 0px 24px 5px 45px;
    padding-right: 10px;
    padding-left: 7px;
    top: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.feedback-message.right:before {
    background-color: #03c475;
    border: 1px solid #03c475;
    /* border-left-width: 0px; */
    border-left: 0;
    border-bottom: 0;
    right: -6.2px;

}

.feedback-message.leftPic {
    /* background-color: #fff; */
    float: left;
    left: -38px;
    top: 30px;
    /* padding:3px 8px 3px ; */
    padding-top: 3px;
    padding-bottom: 33px;
    max-height: 150px;
}

.feedback-message.rightPic {
    float: right;
    right: 16px;
    top: 3px;
    padding: 3px 8px 3px;
    max-height: 134px;
}

.feedback-time {
    color: gray;
    font-size: 13px;
    width: 100%;
    text-align: center;
    position: relative;
}

.feedback-time.right {
    margin-bottom: 8px;
    margin-top: 3px;
    top: 0px;
}

.feedback-time.left {
    margin-bottom: 5px;
    margin-top: 8px;
    top: 5px;

}

/***  foot view*/
.feedback-foot {
    width: 100%;
    height: 100px;
    background-color: #f8f7f7;
    border-top: 1px solid #cfcece;
    position: absolute;
    bottom: 0px;
    border-top-width: 0px;
}

.img-switch {
    width: 3rem;
    height: 3rem;
    margin-top: 0.6rem;
}

.feedback-footer-btn {
    position: absolute;
    width: 58px;
    margin-right: 0px !important;
    right: -9px;

}

.feedback-footer-btn-img {
    position: absolute;
    width: 55px;
    background-color: white;
    top: 0px;
}

.swiper-pagination-bullet {
    background-color: gray;
}

/**** mainpage*/
.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 2px 5px;
    width: 10px;
    color: white;
    text-decoration: none;
    opacity: 0.3;
    font-size: 8px;
}

#mainSlideBox .slider-pager {
    bottom: 5px;
}

.bannerComments .item h2 {
    white-space: normal !important;
}

.popup-container{
       
    bottom:25% !important;
  }
.popup-container .popup {
    width: 280px !important;
    max-height: 75%;
}


.commentClass {
    margin-top: -65px !important;
    /* width: 270px; */
}

/** 课程表 */
.circular-week {
    margin: auto auto;
    position: relative;
    top: 2px;
    width: 42px;
    height: 42px;
    border-radius: 21px;
}

.section-head {
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 10px;
    background-color: #F9B552;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1.25em;
    margin-left: 16px;
    /* margin-top: 25px; */
    float: left;
}

.section-content {
    width: calc(100% - 76px);
    height: 44px;
    line-height: 44px;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #2bcab2;
    font-weight: 400;
    font-size: 1.0em;
    margin-left: 8px;

    float: left;
    /* margin-top:27px; */
}

.only_border_right {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    width: 96px;
    height: 100px;
    /* padding-top: 30px; */
}

.only_border_bottom {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    height: 100px;
    padding-top: 20px;
    width: calc(100% - 90px);
}

/*** equipment repair*/
.button-repair-statue {
    width: 58px;
    font-size: small;
    min-height: 24px;
    height: 24px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
    border-radius: 12px;
    padding: 0px;
    border: none;
    float: right;
    position: relative;
    left: 13px;
    /* right: 6px; */
    top: -25px;
}

.repair_btn_normal {
    font-size: 15px;
    line-height: 30px;
    min-height: 30px;
    border-radius: 17px;
    border-color: #9C9C9C !important;
    color: #9C9C9C !important;
    margin: 8px 8px !important;
    background: none;
    padding: 2px 15px;
}

.repair_btn_select {
    background: #2bcab2;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 30px;
    min-height: 30px;
    border-radius: 17px;
    margin: 8px 8px !important;
    padding: 0px 15px;
}

/** 课表*/
.project_alert>div {
    width: 200px;
}

.project_alert .popup .popup-head {
    background-image: url('../img/repair/projectBg.jpg');
    background-size: cover;
    height: 40px;
    line-height: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;


}

.project_alert .popup .popup-head>h3 {
    /* line-height: 40px; */
    margin-top: -5px;
    color: white;
    font-size: 16px;
}

/** 版本说明 */
#versionIntroContent>ul>li>img {
    width: 100% !important;
}

#versionIntroContent>p>img {
    width: 100% !important;
}

#notice-detail img {
    width: 100% !important;
    height: auto;
}

/** 资产申领 */
.assets-status-label {
    color: white;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    border-radius: 11px;
    text-align: center;
    margin-top: 12px;
    max-width: 80px;
    margin-bottom: 0px;
    float: left;
    padding: 0px 10px;
}

.assets-detail-info {
    font-size: 16px;
    background-color: white;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px #ddd solid;
    padding-left: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.selectable {
    -webkit-user-select: auto;
}

.meeting-item-name {
    -webkit-line-clamp: 1;
}

/** 自定义弹框按钮 */
.customAlert .popup .popup-body{
    padding:10px 0px;
}
.customAlert .popup .popup-head{
    /* border-bottom: 1px solid #ddd; */
}
.customAlert .popup .popup-head .popup-title{
    line-height: 1.0;
  
}
.button-custom {
    background: none;
    border-color:none;
}
.button-custom  .activated {
    background: none;
    border-color:none !important;
}

/** 审批管理*/

.approval_alert>div {
    width: 200px;
}

.approval_alert .popup .popup-head {
    background-image: url('../img/approval/alert_bg.jpg');
    background-size: cover;
    height: 72px;
    line-height: 72px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom:none;
}
.approval_alert .popup .popup-head>h3 {
    /* line-height: 40px; */
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}
.approval_alert .popup-body{
    background: #fff !important;
    border-radius:5px;
    max-height: 320px;
} 
.approvalAlertBtn{
   font-size:16px;
   float: left;
   width: 65px;
   margin-left: 13px;
   text-align: center;
   border-radius:5px;
   height:30px;
   line-height:30px; 
}
.person-grid {
	overflow: hidden;
    padding: 2px;
    height:50px;
    line-height:50px;
    min-width:110px;
    max-width:110px;
    width:110px;
    top:0px;
    /* margin-left:10px; */
}
.name-tab{
    height:35px;
    line-height:35px;
    background-color:#2bc2b2;
    color:white;
    text-align:center;
    width:85px;
    object-fit: cover;
    margin-top:10px;
    border-radius:3px;
}

#approval-raido .item-content{
    white-space:normal;
}
#approval-man-raido .item-content{
 height:63px;
}
#approval-man-raido>div>i{
padding-top:4px !important;
padding-bottom: 4px !important;
top: -5px;
}
#testBox #approval-checkbox .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
    background:#666666 !important;
    border-color:#666666 !important;
}
#approval-checkbox .item-content{
    white-space:normal;
}
#approval-checkbox.item-checkbox{
    padding-left:15px !important;
    padding-right:60px !important;
}
#approval-checkbox .checkbox input, .checkbox-icon{
 float:right;
}

/** date arrange*/
.calendar{
    width:100%;
    height:287px;
    background:#fff;
    /* box-shadow:0px 1px 1px rgba(0,0,0,0.1); */
}
.date-title{
    box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.body-list ul{
    width:100%;
    font-family:arial;
    font-weight:bold;
    font-size:14px;
}
.body-list ul li{
    width:14.28%;
    height:36px;
    line-height:36px;
    list-style-type:none;
    display:block;
    box-sizing:border-box;
    float:left;
    text-align:center;
}
.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
	color:#565656; /*深灰色*/
}
.green{
    color:#6ac13c; /*绿色*/
    text-align: center;    
}
.current-date-box{
    border:1px solid #6ac13c;
    background:#e9f8df; /*浅绿色背景*/ 
    width:30px;
    height:30px;
    border-radius:50%;
    color:#6ac13c;
    margin-left:calc(50% - 15px);
    margin-top:3px;
    line-height:30px;
}
.greenbox{
	border:1px solid #2bcab2;
	background:#2bcab2; /*深绿色背景*/
    width:30px;
    height:30px;
    border-radius:50%;
    color:white;
    margin-left:calc(50% - 15px);
    margin-top:3px;
    line-height:30px;
}
.lightgreenbox{
    /* border:1px solid #A0DCB2; */
	background:rgb(130, 228, 215); /*浅绿色背景*/
    width:30px;
    height:30px;
    border-radius:50%;
    color:white;
    margin-left:calc(50% - 15px);
    margin-top:3px;
    line-height:30px;
}
.arrange-item .item-thumbnail-left{
    padding-left:50px !important;
    padding-top: 12px;
}
/** 评价 */
.evalute-enter {
   height:100px;
   line-height: 100px;
   width:calc(50% - 16px);
   text-align: center;
   font-size: 17px;
   background: white;
   border-radius: 5px;
}
.evalute-enter  img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    
}
.evalute-enter span{
    position: relative;
    left: 5px;
    top: -20px;
}
.evaluate-edit-col{
    background: white;
     margin: 5px 0px;
     height:80px;
     text-align: center;
     font-size: 16px;
     color: white;
     font-weight: 500; 
}

.col-inner-div{
    background:#ffbe91;
    border-radius: 5px;
    margin:0px 8px;
    height: 70px;
    padding-top:13px;
}
.valuate-edit-add{
    background:#ffbe91;
    border-radius: 5px;
    margin: 0px 8px;
    height:34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: 500; 
}

.stu-list-row{
    background-color: #ffffff;
	padding: 0 5px 15px 5px;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}
.stu-list-col{
    margin-top: 15px;
	position: relative;
	text-align: center;
}
.stu-list-col img{
    /* width:60px; */
    height: 60px;
    /* border-radius: 25px; */
}
.stu-list-name{
    font-size:14px;
    color:#444;
    /* text-align:center;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    margin-left: 5px; */
}

.evaluate-footer{
    color:#222;
    font-size: 17px;
    text-align: center;
    line-height: 55px;
}
.charge-name-lab{
    text-align:center;
    font-size:15px;
    align-items: center;
    padding:10px 2px 0px 2px;
    height:52px;
    display: flex;
    align-items: center;        /* 垂直居中 */
    justify-content: center;    /* 水平居中 */
    /* display:-webkit-box; */
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    text-overflow:ellipsis;
}
.evaluate-detail-score{
    /* float:left; */
    position: absolute;
    width:44px;
    height:44px;
    line-height:44px;
    border-radius:50%;
    background:rgb(254,138,54);
    color:white;
    text-align: center;
    font-weight: 500;
    display: flex;
    align-items: center;        /* 垂直居中 */
    justify-content: center;    /* 水平居中 */
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    top: calc(50% - 22px);
}
/** 调课 */
.public-item{
	margin:  10px;
	border-radius: 5px;
	border: 0px!important;
}
.public-item .item-content{
 padding-bottom: 10px !important;
}
.public-item h2 {
	margin-top: -5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
	height: 26px;
	line-height: 18px;
	font-weight: 400;
	border-bottom: 1px #ddd solid;
}

.public-item p {
    margin-top: 6px;
    color:#999;
    font-size:13px;
}

/** 课程表 */
.schedule-interval{
    position: relative;
    z-index: 999;
    left:0px;
    top:5px;
    width:38px;
    height:20px;
    line-height:20px;
    font-size:13px;
    background: #2bcab2;
    text-align:center;
    color:white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/** 预约*/
.search-visitor{
    background: #2bcab2;
    padding: 0px 10px !important;
    border-radius:0px !important;
    min-width: 38px;
    min-height: 38px;
    width: 38px;
    height:38px;
    border: none !important;
    margin-left: 186px;
    margin-top: -38px;
}
.checkbox-class-select-all{
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    /* float: left; */
    margin-right: 20px;
    margin-top: 0 !important;
    left:13px;
}
.setting_header{
    height: 130px;
    width: 100%;
    background: url('../img/icon/setting_head_bg.jpg');
    background-size: cover;
    position: relative;
    top: 0px;
}
.customSheet .action-sheet .button{
padding :1px 16px !important;
}


