/* tab icon */

.tab-item  i.icon {
    margin-top: 3px;
}
.tab-item{
    opacity: 1.0 !important;
}
.notice-on {
    background: url(../img/approval/select_home.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.notice-off {
    background: url(../img/approval/normal_home.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.communicate-on {
    background: url(../img/approval/select_school.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.communicate-off {
    background: url(../img/approval/normal_school.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.school-on {
    background: url(../img/approval/select_campus.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.school-off {
    background: url(../img/approval/normal_campus.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.setting-on {
    background: url(../img/approval/select_set.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}

.setting-off {
    background: url(../img/approval/normal_set.png) no-repeat center top;
    background-size:24px 24px;
    height: 25px!important;
}