<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-follower">
		<button class="button button-icon icon " ng-click="closeModal()">
			<img src="img/icon/icon-arrow_left.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;"
				alt="" />
		</button>
		<h1 class="title bar-follower-font">发布{{noticePageTitle}}</h1>
		<button class="button button-icon " ng-click="save()" ng-disabled="newNoticeForm.$invalid">
			<img src="img/icon/icon-submit.png" style="max-width: 25px; max-height:25px;  padding-top: 7px;" alt="" />
		</button>
	</ion-header-bar>
	<form name="newNoticeForm" novalidate>
		<ion-content style="padding: 0px 0px;background: #f3f4f6;">

			<div class="spacer" style="height: 5px;background:white;"></div>
			<label class="item item-input item-select" style="border-radius: 5px 5px 0 0;border:none;">
				<div class="input-label">
					班级
				</div>
				<select name="sl_name" ng-model="selected.class_id"
					ng-options="item.key as item.value for item in classes" style="color:#666;"
					ng-change="onSelectionChange('class')" required>
					<option value="" selected>请选择班级</option>
				</select>
			</label>

			<label class="item item-input item-select" style="border:none;margin:0px;border-top:1px solid #ddd;"
				ng-if="selected.key == 12 || selected.key == 13">
				<div class="input-label">
					科目
				</div>
				<select ng-model="selected.subjectId" style="color:#666;"
					ng-options="item.key as item.value for item in subjects" ng-change="onSelectionChange('subject')"
					required>
					<option value="" selected>请选择科目</option>
				</select>
			</label>

			<div class="spacer" style="height: 15px;"></div>
			<label class="item item-input" style="border:none;">
				<input type="text" placeholder="请输入标题" style="font-size:15px;" maxlength="30" ng-model="selected.title"
					required>
			</label>

			<div class="spacer" style="height: 15px;"></div>
			<label class="item item-input" style="border:none;">
				<textarea placeholder="请输入内容" style="height: 100px;font-size:15px;" maxlength="2000"
					ng-model="selected.text" required></textarea>
			</label>
			<div class="spacer" style="height: 20px;"></div>

			<div class="row flex-row" style="padding: 0;margin-top: 2px;">
				<div class="col pic-grid" ng-repeat="item in attachments track by $index" style="position: relative;">
					<img style="position:absolute;right: 2px;top: 2px;height: 20px;width: 20px;"
						src="img/icon/fail_03.png" ng-click="removeImg($index, $event)" />
					<img ng-src="{{item.data?item.data:item}}" style="max-width: 100%"
						ng-click="preViewImages($index)" />
				</div>
				<!-- <div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-if="attachments.length < 9">
					<a class="button icon ion-plus-round border-btn-add" style="color: #888" ng-click="selectImg()"></a>
				</div> -->
				<div class="col pic-grid" style="text-align: center;padding-top: 30px;" ng-click="selectImg()"
					ng-if="attachments.length < 9">
					<div class="button icon" style="background: #f9f9f9;"><img src="img/others/Camera.png"
							style="width:24px;height:24px;margin-top:13px;" /></div>
				</div>

				<input type="file" accept="image/*" id="capture" name="file" class="mFileInput" style="display:none;"
					onchange="angular.element(this).scope().getFile(this.files)" />
			</div>

			<div class="spacer" style="height: 30px;"></div>
		</ion-content>
	</form>
</ion-modal-view>