<ion-view cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn></back-btn>
		<h1 class="title bar-follower-font">详情</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<h2 class="text-title">{{news.title}}</h2>

		<div class="text-body" style="border-bottom: 0;padding: 5px 10px;">
			<p class="text-attach " style="text-align: left; margin-bottom: 0;"><span ng-if="news.authorName">{{news.authorName}}</span><span ng-style="{'margin-left':news.authorName?'10px':'0px'}">{{news.createTime.substr(0, 10)}}</span></p>
			<pre ng-if="news.source==1"><div ng-click="goTolinkPage(news.text)" class="text-main" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" ng-bind-html="news.text | parseUrl"></div></pre>
			<div ng-if="news.source!=1" style="padding: 5px;margin-bottom: 5px;margin-top: 5px;" compile="news.text" class="text-main" id="notice-detail"></div>


			<div style="width: 100%;background-color: #fcd7a0;padding: 5px 30px;position: relative"
				 ng-if="news.imageList.length>0 || (news.newsImgListVo&&news.newsImgListVo.workList.length>0)"><img src="img/icon/attachment.png" alt="" style="width: 15px;margin-top: -10px;margin-left: -20px;position: absolute;">附件</div>
			<div ng-repeat="item in news.imageList">
				<img ng-if="news.genre != 4" ng-src="{{::item}}" style="width: 100%" ng-click="openArrModal($index)"   >
			</div>
			<div style="background-color: #c3eafc;padding: 5px 10px;margin: 10px;" ng-repeat="item in news.newsImgListVo.workList" ng-click="viewDoc(item.fileUrl)">
				<img src="img/icon/doc_24.png" alt="" style="width: 10px;">
				{{item.enclosureName}} ({{(item.fileSize/1000).toFixed(2)}}kB)
			</div>

		</div>

		<div class="spacer xView-grey" style="height: 3px;"></div>

		<div ng-if="myNews.studentByFimalyList&&myNews.studentByFimalyList.length>0" style="width: 100%;padding: 10px 15px 50px 15px;">
			<div style="display: flex;margin-bottom: 5px;font-size: 16px;">
				<img src="img/icon/user_blue_20.png" alt="" style="width: 15px;height: 15px;margin-top: 3px;">&nbsp;&nbsp;{{myNews.studentByFimalyList.length}}&nbsp;位学生的家长未查看
			</div>
			<small ng-repeat="people in myNews.studentByFimalyList" style="padding: 3px;color: #333;font-size: 15px;">{{people.familyName}}&nbsp;</small>
		</div>

	</ion-content>
</ion-view>
