<ion-view hide-nav-bar="true" class="xView-grey" cache-view="false">
	<ion-header-bar class="bar bar-header bar-follower">
		<back-btn nav-to="tabsController.mainPage"></back-btn>
		<h1 class="title bar-follower-font">{{::noticePageTitle}}</h1>
	</ion-header-bar>
	<a class="button icon btn-follower ion-plus-round float-button" ng-click="openModal()"
		ng-if="isTeacher && noticeType != '11'"></a>
	<ion-content style="background:#f3f4f6;">
		<ion-refresher pulling-text="下拉刷新..." on-refresh="loadData(true)">
		</ion-refresher>
		<ion-list class="list" >
			<div class="spacer" style="width: 100%; height: 10px;"></div>
			<ion-item class="notice-item" style="border:none;margin:10px;border-radius:5px;" ng-repeat="item in noticeList track by itemTracker(item)" ng-click="goDetail(item)">
				<!-- <div class="spacer" style="height: 10px;"></div> -->
				<div  style="padding-bottom: 20px;" >
					<h2><small style="color: red;font-size: x-small" ng-if="!item.alreadyRead">●</small>
						{{::item.title}}</h2>
					<span>{{::item.authorName}}&nbsp;&nbsp;&nbsp;{{::item.time}}&nbsp;&nbsp;&nbsp;<small
							ng-if="item.studentByFimalyList&&item.studentByFimalyList.length>0"><strong
								style="color: orangered">{{::item.studentByFimalyList.length}}人</strong>未读</small></span>
					<p ng-if="checkIncludeStr(item.text)">{{removeHTMLTag(item.text)}}</p>
					<div class="noticeContent" ng-if="!checkIncludeStr(item.text)" ng-bind-html="item.text">
					</div>	
				</div>
				<ion-option-button class="button-assertive" ng-click="deleteItem(item, $event)"
						ng-if="item.authorId == userId">
						删除
					</ion-option-button>
			</ion-item>
		</ion-list>


		<div ng-if="!loading && noticeList.length == 0" class="empty-list-tip">
			<img src="img/empty_content.png">
			<p>暂无内容</p>
		</div>

		<ion-infinite-scroll spinner="spiral" ng-if="listHasMore" on-infinite="loadData()" distance="10%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>