<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header bar-follower" style="background-image: none;">
        <back-btn></back-btn>
        <h1 class="title bar-follower-font">详情</h1>

    </ion-header-bar>

    <div class="item float-scroll" ng-style="{'top':getDeviceType()==='iphoneX'?'88px':getDeviceType()==='iphone'?'64px':'44px'}" style="height: 44px;padding-top:10px;" ng-if="subjectExamDetailArr.length!=0" >
        <span style="font-size: 16px;margin-left:-3px;height: 34px;">统计范围：</span>
        <ion-scroll delegate-handle="small" direction="x" scrollbar-x="false" on-scroll="scroll()" style="height: 34px;position: absolute;top:9px;left:85px;  width: calc(100% - 92px);" class="exam_scroll_view">
            <a class="button button-clear" ng-repeat="exam in subjectExamDetailArr track by $index" id="subject{{$index}}" ng-style="{'color':selectExamSubjectIndex==$index?'orange':'black'}" style="font-size: 15px;margin-top:-9px;" ng-click="chooseSubjectStatistical($index)">{{exam.subjectName}}
                <div ng-style="{'width':(exam.subjectWidth-15)+'px'}" style="height: 2px;background-color: orange;  position: absolute; top:40px; margin-left: 3px; " ng-if="selectExamSubjectIndex==$index"></div>
            </a>
        </ion-scroll>
    </div>

    <ion-content ng-style="{'margin-top':'44px'}">
        <ion-list>
        <div ng-if="subjectExamDetailArr.length!=0">
         <div style="color: #666;font-size: 14px;font-weight: 400;width: 100%;background-color:#F5F5F5;height:28px;line-height:28px;text-align: center;" ng-if="selectExamSubject.unUploadNum>0">({{selectExamSubject.unUploadNum}}个班级成绩未出)</div>
            <div class="item " style="height: 55px;border-top-width: 0px;" >
                <span style="align-items: center; width: 50%;">
                    <!-- <img src="img/testScores/average.png" style="width:16px;height: 22px;margin-left: -1px;"> -->
                    <div  style="text-align: center;width:calc(50% - 20px);margin-top: -9px;font-weight: 600;font-size: 18px;font-family: '微软雅黑';" ng-style="{'color':selectExamSubject.classAvgScore==null?'#999999':'orange'}">{{selectExamSubject.classAvgScore==null?'--':selectExamSubject.classAvgScore}}</div>
                    <div style=" text-align: center; font-size: 14px;color: #666;width:calc(50% - 20px);margin-top: -2px;">班级平均分</div>
                   
                </span>
                <span style="height: 35px;width: 1px;background-color: lightgrey;left: calc(50% - 5px);position: absolute;top:12px;"></span>
                <span style=" align-items: center;position:relative; left:50%;top:-46px; -webkit-line-clamp: 1; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;white-space: normal; ">
                    <!-- <img src="img/testScores/trophy.png" style="width:20px;height: 19px;margin-right: 8px;"> -->
                    <div style="width: 50%;text-align: center;left:50%;margin-top: 3px;font-weight: 600;font-size: 18px;font-family: '微软雅黑'" ng-style="{'color':selectExamSubject.rank==null?'#999999':'orange'}">{{selectExamSubject.rank==null?'--':selectExamSubject.rank}} 
                            <!-- <span style="color: #666;font-size: 12px;font-weight: 400;max-width: 80px;" ng-if="selectExamSubject.unUploadNum>0">({{selectExamSubject.unUploadNum}}个班级成绩未出)</span> -->
                    </div>
                    <div style="color: #666;text-align: center;width:50%;font-size: 14px;margin-top: -2px;">年级排名
                         
                    </div>
                     
                </span>
            </div>

            <div class="row row-wrap" style="padding-top: 10px;">
                <div class="col col-25" style="text-align: center;color:#2bcab2;font-size: 16px;">
                    学生姓名
                </div>
                <div class="col col-25" style="text-align: center;color:#2bcab2;font-size: 16px;">
                    &nbsp;分数
                </div>
                <div class="col col-25" style="text-align: center;color:#2bcab2;font-size: 16px;">
                    班级排名
                </div>
                <div class="col col-25" style="text-align: center;color:#2bcab2;font-size: 16px;">
                    年级排名
                </div>
            </div>

            <div class="item item-text-wrap" ng-repeat="student in selectExamSubject.studentExams " style="height: 44px;">
                <div class="row row-wrap" style="margin-top:-10px;padding-top: 0px;">
                    <div class="col col-35 col_scores_list" style="text-align:left;font-size: 1em;margin-top:0px;margin-left: 0px;">
                        {{student.studentName}}
                    </div>
                    <div class="col col-25 col_scores_list" style="text-align: center;font-size: 1em;margin-top:2px;">
                    {{student.score==null||student.score=='' ? '--':student.score}}
                </div>
                <div class="col col-25 col_scores_list" style="text-align: center;font-size: 1em;margin-top:2px;">
                    {{student.classRank==null||student.classRank=='' ? '--':student.classRank }}
                </div>
                <div class="col col-25 col_scores_list" style="text-align: center;font-size: 1em;margin-top:2px;">
                   &nbsp;&nbsp;&nbsp; {{student.gradeRank==null ||student.gradeRank== ''? '--':student.gradeRank}}
                </div>
            </div>
        </div>

        </div>
           
        <div  class="empty-list-tip" style="margin-top: 40%" ng-if="subjectExamDetailArr.length==0">
            <img src="img/empty_content.png">
            <p>暂无成绩</p>
        </div>

        </ion-list>
    </ion-content>
</ion-view>